back-n8n/workflows.json
[{"updatedAt":"2026-02-19T18:06:07.911Z","createdAt":"2026-02-12T23:37:50.687Z","id":"NTeI9lc3Cy5QgHP9","name":"My workflow","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"start-game","authentication":"headerAuth","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-2864,-800],"id":"3253eb8b-b254-4f4b-868b-6f7ffdffc025","name":"Webhook","webhookId":"c276927c-c353-4394-a031-8f53cdf56f8f","credentials":{"httpHeaderAuth":{"id":"vUs8rqLIlN9NCNTc","name":"Header Auth account"}}},{"parameters":{"jsCode":"// =========================================\n// GERAÇÃO DE AVENTURA INICIAL — V7.0\n//\n// MELHORIAS vs V6.0:\n// [1] Narrativa e local OBRIGADOS a respeitar os gêneros escolhidos\n// [2] Choices dinâmicas — geradas pela IA baseadas na classe e contexto\n// [3] Equipment schema revisado: arma com damage_dice + status_bonus (primário da classe)\n//     armadura com armor (CA) + status_bonus (varia por tipo/classe)\n// [4] Mapeamento de atributo primário por classe como EXEMPLOS — IA decide pelo contexto\n// [5] Regras anti-repetição de local e narrativa\n// [6] Temperature elevada para 0.90 para maior variação criativa\n// =========================================\n\n// =========================================\n// 1. CAPTURA E VALIDAÇÃO DE DADOS DO WEBHOOK\n// =========================================\nconst body = $input.item.json.body || {};\n\nconst charName   = (body.character_name || \"Viajante\").trim();\nconst className  = (body.class_name     || \"Aventureiro\").trim();\nconst systemId   = body.system || \"dnd\";\nconst genres     = Array.isArray(body.genres)\n  ? body.genres.join(\", \")\n  : (body.genres || \"Aventura\");\nconst background = (body.background || \"Uma figura misteriosa sem passado conhecido.\").trim();\n\nconst validDifficulties = [\"easy\", \"normal\", \"hard\", \"impossible\"];\nconst difficulty = validDifficulties.includes(body.difficulty)\n  ? body.difficulty\n  : \"normal\";\n\nconst storyId = body.story_id;\nif (!storyId) {\n  throw new Error(\"story_id é obrigatório e não foi fornecido no webhook\");\n}\n\n// =========================================\n// 2. MAPEAMENTO DE SISTEMAS\n// =========================================\nconst rpgSystems = {\n  dnd: {\n    name:       \"Dungeons & Dragons 5ª Edição\",\n    tone:       \"épico e fantástico\",\n    setting:    \"Reinos com ruínas antigas, masmorras perigosas e magia selvagem\",\n    itemStyle:  \"medieval-fantástico\",\n    skills:     [\"Força\", \"Destreza\", \"Constituição\", \"Intelecto\", \"Sabedoria\", \"Carisma\"],\n    threats:    \"dragões, necromantes, cultos demoníacos, mortos-vivos\",\n    atmosphere: \"grandiosa, com conflitos entre bem e mal claramente definidos\",\n    npcHpBase:  12,\n    primaryExamples: \"Guerreiro→FOR, Mago→INT, Ladino→DES, Clérigo→SAB, Paladino→CAR, Bardo→CAR, Patrulheiro→DES, Feiticeiro→INT\",\n  },\n  cyber: {\n    name:       \"Cyberpunk Red\",\n    tone:       \"noir tecnológico e conspiratório\",\n    setting:    \"Megacidades controladas por corporações, onde humano e máquina se dissolvem\",\n    itemStyle:  \"high-tech corporativo\",\n    skills:     [\"Reflexos\", \"Técnica\", \"Corpo\", \"Intelecto\", \"Vontade\", \"Empatia\"],\n    threats:    \"corporações predatórias, gangues de rua, IAs renegadas, netrunners hostis\",\n    atmosphere: \"claustrofóbica e paranoica, onde todos têm segundas intenções\",\n    npcHpBase:  14,\n    primaryExamples: \"Solo→REF, Netrunner→INT, Techie→TEC, Rockerboy→EMP, Nomad→CORPO, Medtech→INT, Corpo→CAR\",\n  },\n  vampire: {\n    name:       \"Vampire: The Masquerade\",\n    tone:       \"sombrio e intimista\",\n    setting:    \"Metrópoles noturnas governadas pela Camarilla, onde a Máscara oculta a verdade\",\n    itemStyle:  \"urbano-oculto\",\n    skills:     [\"Físico\", \"Social\", \"Mental\", \"Presença\", \"Manipulação\", \"Carisma\"],\n    threats:    \"caçadores da Segunda Inquisição, Sabbat fanáticos, a Besta interior, traição política\",\n    atmosphere: \"gótica e introspectiva, explorando a perda de humanidade\",\n    npcHpBase:  16,\n    primaryExamples: \"Brujah→FIS, Toreador→SOC, Ventrue→MAN, Nosferatu→MEN, Malkavian→MEN, Tremere→MEN\",\n  },\n  fallout: {\n    name:       \"Fallout RPG\",\n    tone:       \"pós-apocalíptico com humor negro\",\n    setting:    \"América devastada por guerra nuclear, onde a civilização renasce entre ruínas\",\n    itemStyle:  \"sucata funcional\",\n    skills:     [\"Força\", \"Percepção\", \"Resistência\", \"Carisma\", \"Intelecto\", \"Agilidade\", \"Sorte\"],\n    threats:    \"mutantes irradiados, saqueadores, supermutantes, corporações pré-guerra reativadas\",\n    atmosphere: \"retrofuturista e satírica, equilibrando horror e esperança\",\n    npcHpBase:  15,\n    primaryExamples: \"Vault Dweller→INT, Brotherhood Initiate→FOR, Wasteland Doctor→INT, Raider→FOR, Ghoul→RES, Mercenary→AGI\",\n  },\n};\nconst sys = rpgSystems[systemId] || rpgSystems.dnd;\n\n// =========================================\n// 3. BALANCEAMENTO DE DIFICULDADE\n// =========================================\nconst difficultyConfig = {\n  easy:       { label: \"Narrativa\",   diffMod: -3, desc: \"Foco na história, combates evitáveis\",  hpMult: 0.8 },\n  normal:     { label: \"Equilibrado\", diffMod:  0, desc: \"Desafio justo com risco moderado\",       hpMult: 1.0 },\n  hard:       { label: \"Difícil\",     diffMod: +3, desc: \"Desafios brutais e recursos escassos\",   hpMult: 1.2 },\n  impossible: { label: \"Pesadelo\",    diffMod: +5, desc: \"Morte iminente, sobrevivência incerta\",  hpMult: 1.5 },\n};\nconst diff = difficultyConfig[difficulty];\nconst npcHp = Math.round(sys.npcHpBase * diff.hpMult);\n\n// =========================================\n// 4. PERSONA DO SYSTEM (IA)\n// =========================================\nconst systemPersona = `Você é um Game Master veterano com 20+ anos de experiência em ${sys.name}.\n\nSEU PAPEL:\n- Criar o cenário inicial imersivo, único e memorável respeitando OBRIGATORIAMENTE o tom e os gêneros fornecidos\n- Definir o estado inicial COMPLETO do mundo para que o engine de jogo funcione\n- Gerar NPCs com HP codificado no formato exigido\n- Todos os campos do JSON são OBRIGATÓRIOS — engine quebra se algum faltar\n\nREGRA DE OURO:\nCada aventura deve ser ÚNICA. Local, narrativa, NPCs e escolhas NUNCA devem ser genéricos ou repetir padrões anteriores.\nOs gêneros escolhidos pelo jogador DEFINEM a identidade da história — ignore-os e a aventura falha.\n\nRetorne EXCLUSIVAMENTE um objeto JSON válido. Nenhum texto antes ou depois.`;\n\n// =========================================\n// 5. INSTRUÇÕES DETALHADAS\n// =========================================\nconst userInstructions = `\n╔══════════════════════════════════════════════════════════════╗\n║             GERAÇÃO DE AVENTURA INICIAL V7.0                 ║\n╚══════════════════════════════════════════════════════════════╝\n\nPERSONAGEM:\n• Nome: ${charName}\n• Classe/Arquétipo: ${className}\n• Background: ${background}\n\nSISTEMA & CONFIGURAÇÃO:\n• RPG: ${sys.name}\n• Setting base: ${sys.setting}\n• Tom: ${sys.tone}\n• Atmosfera: ${sys.atmosphere}\n• Gênero(s) OBRIGATÓRIOS: ${genres}\n\nDIFICULDADE: ${diff.label} — ${diff.desc}\n• Modificador de Desafio: ${diff.diffMod >= 0 ? \"+\" : \"\"}${diff.diffMod}\n\n╔══════════════════════════════════════════════════════════════╗\n║     REGRA #1 — GÊNEROS DEFINEM TUDO                          ║\n╚══════════════════════════════════════════════════════════════╝\nOs gêneros \"${genres}\" são OBRIGATÓRIOS e devem impactar:\n  ✦ O nome e descrição do local inicial (nunca use \"Taverna genérica\", \"Vel'Shar\" ou prefixos como \"O Último X\", \"A Última X\")\n  ✦ O tom da narrativa (3+ parágrafos imersivos e únicos)\n  ✦ Os NPCs presentes (relevantes ao gênero)\n  ✦ As escolhas oferecidas ao jogador\n  ✦ As ameaças e objetivos da quest inicial\n\nSe os gêneros forem ignorados, o output está ERRADO.\n\n╔══════════════════════════════════════════════════════════════╗\n║     REGRA #2 — CHOICES DINÂMICAS BASEADAS NA CLASSE          ║\n╚══════════════════════════════════════════════════════════════╝\nNÃO use choices genéricas (action/investigate/social/stealth sempre iguais).\nGere EXATAMENTE 4 choices que:\n  ✦ Reflitam as habilidades únicas da classe \"${className}\"\n  ✦ Sejam contextualmente relevantes à cena atual\n  ✦ Tenham texto descritivo específico (não genérico)\n  ✦ Variem os tipos entre: action | investigate | social | stealth | survival | tech | arcane | divine\n\nExemplo para um Ladino em cenário Noir:\n  - \"Pickpocket o informante distraído\" (stealth, DES)\n  - \"Interrogar o barman com intimidação velada\" (social, CAR)\n  - \"Examinar a cena do crime em busca de pistas\" (investigate, INT)\n  - \"Escalar o prédio e entrar pelo telhado\" (action, DES)\n\nExemplo para um Mago em cenário Dark Fantasy:\n  - \"Lançar Detectar Magia na sala\" (arcane, INT)\n  - \"Usar ilusão para se disfarçar de guarda\" (stealth, INT)\n  - \"Negociar com o espírito aprisionado\" (social, SAB)\n  - \"Estudar os glifos da parede\" (investigate, INT)\n\n╔══════════════════════════════════════════════════════════════╗\n║     REGRA #3 — EQUIPMENT (ITENS EQUIPADOS NO PERSONAGEM)     ║\n╚══════════════════════════════════════════════════════════════╝\nEquipment são os itens ATIVAMENTE EQUIPADOS. Slots aceitos: head | body | main_hand | off_hand | legs | accessory\nO equipment DEVE ser compatível com a classe \"${className}\".\nPROIBIDO dar espada a Mago, cajado a Guerreiro, pistola a Paladino medieval, etc.\nPROIBIDO gerar equipment com todos os stats zerados — todo item deve ter ao menos um stat funcional.\n\nATRIBUTO PRIMÁRIO DA ARMA (slot main_hand):\n  A arma inicial SEMPRE usa o atributo primário da classe como status_bonus.\n  Exemplos de referência (a IA decide pelo contexto):\n  ${sys.primaryExamples}\n\nABREVIAÇÕES OBRIGATÓRIAS — NUNCA escreva o nome completo do atributo:\n  D&D:       FOR, DES, CON, INT, SAB, CAR\n  Cyberpunk: REF, TEC, CORPO, INT, VON, EMP\n  Vampiro:   FIS, SOC, MEN, PRE, MAN, CAR\n  Fallout:   FOR, PER, RES, CAR, INT, AGI, SOR\n  PROIBIDO: \"Destreza\", \"Força\", \"Intelecto\", \"Reflexos\" — use SEMPRE a sigla curta.\n\n  Schema ARMA (main_hand):\n  {\n    \"name\": \"Nome temático compatível com ${className} e o gênero\",\n    \"slot\": \"main_hand\",\n    \"stats\": {\n      \"damage_dice\": \"XdY\",       // ex: \"1d8\", \"2d6\" — baseado no tipo de arma\n      \"status_bonus\": \"ATRIB\"     // atributo primário da classe\n    },\n    \"icon\": \"emoji temático\"\n  }\n\nCADA SLOT TEM REGRAS DIFERENTES — leia com atenção:\n\n  ┌─ SLOTS DEFENSIVOS (body, head, legs, off_hand) ──────────────┐\n  │  Concedem bônus de CA. armor OBRIGATÓRIO >= 1. NUNCA zero.   │\n  │  Exemplos:                                                    │\n  │    Couro (Ladino/Patrulheiro)       → armor: 1, status_bonus: \"DES\"  │\n  │    Manto Arcano (Mago/Feiticeiro)   → armor: 1, status_bonus: \"INT\"  │\n  │    Cota de Malha (Guerreiro)        → armor: 2, status_bonus: \"CON\"  │\n  │    Armadura de Placas (Paladino)    → armor: 3, status_bonus: \"FOR\"  │\n  │    Botas Ágeis (Ladino) [legs]      → armor: 1, status_bonus: \"DES\"  │\n  │    Capacete de Ferro (Guerreiro)[head]→ armor: 1, status_bonus: \"CON\"│\n  │    Roupa de Rua (Cyberpunk Solo)    → armor: 1, status_bonus: \"REF\"  │\n  │    Colete Tático (Techie)           → armor: 2, status_bonus: \"TEC\"  │\n  └───────────────────────────────────────────────────────────────┘\n\n  Schema SLOT DEFENSIVO (body | head | legs | off_hand):\n  {\n    \"name\": \"Nome temático\",\n    \"slot\": \"body|head|legs|off_hand\",\n    \"stats\": {\n      \"armor\": NÚMERO_INTEIRO >= 1,\n      \"status_bonus\": \"ATRIB\"\n    },\n    \"icon\": \"emoji\"\n  }\n\n  ┌─ SLOT ACCESSORY ──────────────────────────────────────────────┐\n  │  NÃO concede CA. NUNCA inclua \"armor\" no accessory.           │\n  │  Função: bônus puro em um atributo (status_bonus com valor).  │\n  │  Exemplos:                                                    │\n  │    Amuleto do Sábio   → status_bonus: \"SAB\", bonus_value: 1   │\n  │    Anel da Força      → status_bonus: \"FOR\", bonus_value: 1   │\n  │    Bandana Élfica     → status_bonus: \"DES\", bonus_value: 1   │\n  │    Chip Neural (Cyber)→ status_bonus: \"INT\", bonus_value: 2   │\n  │    Colar de Sangue(VtM)→ status_bonus: \"PRE\", bonus_value: 1  │\n  └───────────────────────────────────────────────────────────────┘\n\n  Schema SLOT ACCESSORY:\n  {\n    \"name\": \"Nome temático\",\n    \"slot\": \"accessory\",\n    \"stats\": {\n      \"status_bonus\": \"ATRIB\",\n      \"bonus_value\": NÚMERO_INTEIRO >= 1\n    },\n    \"icon\": \"emoji\"\n  }\n\n╔══════════════════════════════════════════════════════════════╗\n║     REGRA #3b — INVENTORY (ITENS NA MOCHILA)                 ║\n╚══════════════════════════════════════════════════════════════╝\nInventory são itens GUARDADOS, não equipados. Types aceitos: consumable | weapon | armor | misc\n\nPara itens do tipo \"weapon\" ou \"armor\" no inventário, o effect_data deve ser um ESPELHO\nexato dos stats que esse item teria se estivesse equipado na tabela equipment:\n\n  Inventory type \"weapon\":\n  {\n    \"name\": \"Nome da arma guardada\",\n    \"type\": \"weapon\",\n    \"effect_data\": {\n      \"damage_dice\": \"XdY\",\n      \"status_bonus\": \"ATRIB\"\n    },\n    \"value\": NÚMERO\n  }\n\n  Inventory type \"armor\":\n  {\n    \"name\": \"Nome da armadura guardada\",\n    \"type\": \"armor\",\n    \"effect_data\": {\n      \"armor\": NÚMERO_INTEIRO >= 1,\n      \"status_bonus\": \"ATRIB\"\n    },\n    \"value\": NÚMERO\n  }\n\n  Inventory type \"consumable\":\n  {\n    \"name\": \"Poção / item de uso\",\n    \"type\": \"consumable\",\n    \"effect_data\": { \"heal\": NÚMERO },\n    \"value\": NÚMERO\n  }\n\n╔══════════════════════════════════════════════════════════════╗\n║     REGRA #4 — NPCs COM HP                                   ║\n╚══════════════════════════════════════════════════════════════╝\nCada NPC em \"active_npcs\" DEVE ter HP no formato: \"Nome [HP:ATUAL/MAX]\"\nHP base desta sessão: ${npcHp}\nNPCs menos relevantes: ${Math.round(npcHp * 0.7)}\nNPCs puramente sociais sem risco de combate podem omitir HP.\n\n╔══════════════════════════════════════════════════════════════╗\n║     REGRA #5 — armor_class                                   ║\n╚══════════════════════════════════════════════════════════════╝\nCalcule a CA total do personagem: 10 + soma dos bônus de armor dos equipamentos.\nRetorne como número inteiro no campo \"armor_class\".\n\n╔══════════════════════════════════════════════════════════════╗\n║                  SCHEMA JSON COMPLETO EXIGIDO                ║\n╚══════════════════════════════════════════════════════════════╝\n\n{\n  \"narrative\": \"Mínimo 3 parágrafos imersivos separados por \\\\n\\\\n. Tom: ${sys.tone}. Gênero: ${genres}. DEVE ser único e específico ao contexto desta aventura.\",\n\n  \"choices\": [\n    {\n      \"text\": \"Ação específica da classe e do contexto — NÃO genérica\",\n      \"type\": \"action|investigate|social|stealth|survival|tech|arcane|divine\",\n      \"skillCheck\": \"Atributo relevante do sistema ${sys.name}\",\n      \"difficulty\": NÚMERO_INTEIRO,\n      \"diceType\": \"d20\"\n    },\n    // ... mais 3 choices igualmente específicas\n  ],\n\n  \"inventory\": [\n    {\n      \"name\": \"Poção ou consumível temático\",\n      \"description\": \"O que ele faz.\",\n      \"quantity\": 1,\n      \"type\": \"consumable\",\n      \"effect_data\": { \"heal\": 8 },\n      \"value\": 10\n    },\n    {\n      \"name\": \"Arma reserva guardada (opcional, se fizer sentido para a classe)\",\n      \"description\": \"Descrição da arma guardada.\",\n      \"quantity\": 1,\n      \"type\": \"weapon\",\n      \"effect_data\": {\n        \"damage_dice\": \"1d4\",\n        \"status_bonus\": \"ATRIB_PRIMARIO\"\n      },\n      \"value\": 15\n    }\n  ],\n\n  \"equipment\": [\n    {\n      \"name\": \"Arma equipada — compatível com ${className} e o gênero ${genres}\",\n      \"slot\": \"main_hand\",\n      \"stats\": {\n        \"damage_dice\": \"XdY\",\n        \"status_bonus\": \"ATRIB_PRIMARIO_DA_CLASSE\"\n      },\n      \"icon\": \"⚔️\"\n    },\n    {\n      \"name\": \"Armadura equipada — compatível com ${className} e o gênero ${genres}\",\n      \"slot\": \"body\",\n      \"stats\": {\n        \"armor\": NÚMERO_INTEIRO >= 1,\n        \"status_bonus\": \"ATRIB_CONTEXTUAL\"\n      },\n      \"icon\": \"🛡️\"\n    },\n    {\n      \"name\": \"Acessório opcional — se fizer sentido para a classe\",\n      \"slot\": \"accessory\",\n      \"stats\": {\n        \"status_bonus\": \"ATRIB\",\n        \"bonus_value\": 1\n      },\n      \"icon\": \"💍\"\n    }\n  ],\n\n  \"active_npcs\": [\n    \"Nome NPC Principal [HP:${npcHp}/${npcHp}]\",\n    \"Nome NPC Secundário [HP:${Math.round(npcHp * 0.7)}/${Math.round(npcHp * 0.7)}]\"\n  ],\n\n  \"current_location\": \"Nome ÚNICO e temático ao gênero ${genres} — NUNCA use Vel'Shar, NUNCA use prefixos como 'O Último X', 'A Última X', 'O Derradeiro X'\",\n\n  \"active_quests\": [\n    \"Objetivo principal imediato e específico ao contexto da aventura\"\n  ],\n\n  \"armor_class\": NÚMERO_INTEIRO,\n\n  \"in_combat\": false,\n\n  \"combat_target\": null,\n\n  \"status_effects\": [],\n\n  \"world_flags\": [],\n\n  \"metadata\": {\n    \"initial_threat\": \"Ameaça principal estabelecida — deve refletir o gênero ${genres}\",\n    \"time_of_day\": \"manhã|tarde|noite|madrugada\",\n    \"atmosphere\": \"${sys.tone}\"\n  }\n}\n\n╔══════════════════════════════════════════════════════════════╗\n║                     CHECKLIST FINAL                          ║\n╚══════════════════════════════════════════════════════════════╝\n☑ JSON válido sem texto externo\n☑ Gêneros \"${genres}\" visíveis na narrativa, local, NPCs e choices\n☑ Choices específicas para a classe \"${className}\" — não genéricas\n☑ Arma (main_hand) com damage_dice + status_bonus (primário da classe)\n☑ Slots body/head/legs/off_hand com armor >= 1 (NUNCA zero) + status_bonus\n☑ Slot accessory com status_bonus + bonus_value >= 1 — SEM campo armor\n☑ Slot main_hand com damage_dice + status_bonus — SEM campo armor\n☑ status_bonus SEMPRE abreviação curta (FOR, DES, INT...) — NUNCA nome completo\n☑ Inventory type weapon/armor com effect_data espelhando os stats do equipment\n☑ Slots válidos: head | body | main_hand | off_hand | legs | accessory\n☑ Types válidos: consumable | weapon | armor | misc\n☑ active_npcs com tag [HP:X/X]\n☑ current_location único e temático — sem Vel'Shar, sem prefixos \"O Último X\" ou nomes repetidos\n☑ armor_class calculado corretamente\n☑ in_combat: false | combat_target: null\n☑ status_effects: [] | world_flags: []\n`.trim();\n\n// =========================================\n// 6. RETORNO\n// =========================================\nreturn {\n  json: {\n    ai_request: {\n      model: \"mistral-large-latest\",\n      messages: [\n        { role: \"system\", content: systemPersona },\n        { role: \"user\",   content: userInstructions },\n      ],\n      temperature: 0.90,\n      max_tokens:  4000,\n      response_format: { type: \"json_object\" },\n    },\n\n    init_context: {\n      story_id:       String(storyId),\n      system_id:      systemId,\n      difficulty:     difficulty,\n      genres:         genres,\n      character_name: charName,\n      class_name:     className,\n      background:     background,\n      npc_hp_base:    npcHp,\n      diff_mod:       diff.diffMod,\n    },\n  },\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2704,-800],"id":"86bf39a5-6a5f-4d6d-ae56-3ba58df587d3","name":"Code in JavaScript"},{"parameters":{"jsCode":"let initCtx;\ntry {\n  initCtx = $(\"Geração Inicial V7\").first().json.init_context;\n} catch (e) {\n  // Fallback caso o nome do nó seja diferente\n  initCtx = $input.first().json.init_context || {};\n}\n\nconst storyId = $('Code in JavaScript').first().json.init_context.story_id;\nif (!storyId) throw new Error(\"ERRO CRÍTICO: story_id não encontrado no init_context.\");\n\n// Response da IA (vem do HTTP Request → Mistral)\nconst aiRaw     = $input.first().json;\nconst aiContent = aiRaw.choices[0].message.content;\n\n// =========================================\n// 2. PARSE E LIMPEZA DO JSON DA IA\n// =========================================\nlet cleanJson = aiContent\n  .replace(/```json/gi, \"\")\n  .replace(/```/g,     \"\")\n  .trim();\n\n// Sanitiza quebras de linha dentro de strings JSON\ncleanJson = cleanJson.replace(/\"((?:[^\"\\\\]|\\\\.)*)\"/g, (match) => {\n  return match\n    .replace(/\\n/g, \"\\\\n\")\n    .replace(/\\r/g, \"\")\n    .replace(/\\t/g, \"\\\\t\");\n});\n\nlet parsed;\ntry {\n  parsed = JSON.parse(cleanJson);\n} catch (error) {\n  throw new Error(\"FALHA JSON: \" + error.message + \"\\nConteúdo recebido: \" + aiContent.substring(0, 200));\n}\n\n// =========================================\n// 3. NORMALIZAÇÃO DE SLOTS DE EQUIPAMENTO\n// =========================================\nconst VALID_SLOTS = [\"head\", \"body\", \"legs\", \"main_hand\", \"off_hand\", \"accessory\"];\n\nconst SLOT_MAP = {\n  ring:    \"accessory\", amulet: \"accessory\", neck: \"accessory\",\n  back:    \"accessory\", cloak:  \"accessory\", trinket: \"accessory\",\n  chest:   \"body\",      torso:  \"body\",      armor: \"body\",\n  feet:    \"legs\",      boots:  \"legs\",      shoes: \"legs\",\n  weapon:  \"main_hand\", sword:  \"main_hand\", axe: \"main_hand\",\n  hand:    \"main_hand\", dagger: \"main_hand\",\n  shield:  \"off_hand\",\n};\n\nconst equipamentoFinal = (parsed.equipment || []).map((item) => {\n  let safeSlot = (item.slot || \"accessory\").toLowerCase();\n  if (!VALID_SLOTS.includes(safeSlot)) {\n    safeSlot = SLOT_MAP[safeSlot] || \"accessory\";\n  }\n  return {\n    story_id: storyId,\n    name:     item.name  || \"Equipamento\",\n    slot:     safeSlot,\n    stats:    item.stats || {},\n    icon:     item.icon  || \"📦\",\n  };\n});\n\n// =========================================\n// 4. NORMALIZAÇÃO DE TIPOS DE INVENTÁRIO\n// [CORREÇÃO 5] — alinha com o filtro do Mestre Unificado V6\n// =========================================\nconst VALID_INV_TYPES = [\"consumable\", \"weapon\", \"armor\", \"misc\"];\n\n// Mapa de tipos incorretos → tipos aceitos pelo banco\nconst INV_TYPE_MAP = {\n  equipment:  \"weapon\",   // \"equipment\" genérico → weapon (mais comum)\n  potion:     \"consumable\",\n  food:       \"consumable\",\n  quest_item: \"misc\",\n  tool:       \"misc\",\n};\n\nconst inventarioFinal = (parsed.inventory || []).map((item) => {\n  let safeType = (item.type || \"misc\").toLowerCase();\n  if (!VALID_INV_TYPES.includes(safeType)) {\n    safeType = INV_TYPE_MAP[safeType] || \"misc\";\n  }\n  return {\n    story_id:    storyId,\n    name:        item.name        || \"Item\",\n    description: item.description || \"\",\n    quantity:    Math.max(1, parseInt(item.quantity) || 1),\n    type:        safeType,\n    effect_data: item.effect_data || {},\n    value:       parseInt(item.value) || 0,\n  };\n});\n\n// =========================================\n// 5. PROCESSAMENTO DE NPCs\n// [CORREÇÃO 4] — preserva tag [HP:X/X], gera se ausente\n// =========================================\nconst NPC_HP_BASE = initCtx.npc_hp_base || 12;\n\nfunction ensureNpcHp(npcStr) {\n  if (!npcStr || typeof npcStr !== \"string\") return null;\n  const clean = npcStr.trim();\n  if (clean === \"\") return null;\n\n  // Já tem HP codificado — preserva como está\n  if (/\\[HP:\\d+\\/\\d+\\]/.test(clean)) return clean;\n\n  // Não tem HP — gera valor padrão baseado no sistema/dificuldade\n  const hp = NPC_HP_BASE + Math.floor(Math.random() * 5) - 2; // ±2 variação\n  const safeHp = Math.max(5, hp);\n  return `${clean} [HP:${safeHp}/${safeHp}]`;\n}\n\nconst activeNpcsFinal = (parsed.active_npcs || [])\n  .map(ensureNpcHp)\n  .filter(Boolean);\n\n// =========================================\n// 6. CAMPOS NOVOS DO ENGINE V6\n// [CORREÇÃO 1] status_effects\n// [CORREÇÃO 2] world_flags\n// [CORREÇÃO 3] in_combat, combat_target\n// [CORREÇÃO 3] armor_class\n// [CORREÇÃO 5] current_summary\n// =========================================\n\n// status_effects: deve ser array de objetos. Se ausente ou inválido, usa []\nconst statusEffects = Array.isArray(parsed.status_effects)\n  ? parsed.status_effects\n  : [];\n\n// world_flags: array de {flag_key, flag_value}. Se ausente, usa []\n// O Mestre Unificado V6 espera: [{flag_key: \"...\", flag_value: ...}]\nconst worldFlagsRaw = parsed.world_flags || {};\nlet worldFlagsFinal = [];\nif (Array.isArray(worldFlagsRaw)) {\n  worldFlagsFinal = worldFlagsRaw;\n} else if (typeof worldFlagsRaw === \"object\") {\n  // Suporte ao formato alternativo {\"key\": value}\n  worldFlagsFinal = Object.entries(worldFlagsRaw).map(([k, v]) => ({\n    story_id:   storyId,\n    flag_key:   k,\n    flag_value: v,\n  }));\n}\n\n// in_combat: sempre false no início\nconst inCombat = false;\n\n// combat_target: sempre null no início\nconst combatTarget = null;\n\n// armor_class: usa o valor da IA ou calcula pela armadura\nconst armorEquipped = equipamentoFinal.find((e) => e.slot === \"body\");\nconst armorBonus    = armorEquipped?.stats?.armor || 0;\nconst armorClass    = typeof parsed.armor_class === \"number\"\n  ? parsed.armor_class\n  : 10 + armorBonus;\n\n// =========================================\n// 7. CAMPOS BÁSICOS\n// =========================================\n\n// Narrativa inicial (vai para tabela messages como \"narrator\")\nconst narrativaFinal = {\n  story_id: storyId,\n  sender:   \"narrator\",\n  content:  parsed.narrative || \"Sua aventura começa...\",\n};\n\n// Choices iniciais (vai para tabela messages junto com narrativa)\nconst choicesFinal = (parsed.choices || []).map((choice) => ({\n  story_id:    storyId,\n  text:        choice.text        || \"...\",\n  type:        choice.type        || \"action\",\n  skill_check: choice.skillCheck  || null,\n  difficulty:  choice.difficulty  || 10,\n  dice_type:   choice.diceType    || \"d20\",\n}));\n\n// Location\nconst currentLocationFinal =\n  parsed.current_location && parsed.current_location.trim() !== \"\"\n    ? parsed.current_location.trim()\n    : \"Local Desconhecido\";\n\n// Quests\nconst activeQuestsFinal = Array.isArray(parsed.active_quests)\n  ? parsed.active_quests.filter((q) => typeof q === \"string\" && q.trim() !== \"\")\n  : [];\n\n// =========================================\n// 8. RETORNO COMPLETO — campos FLAT para acesso direto via $json no n8n\n//\n// PATCH stories  → $json.active_npcs | $json.current_location\n//                   $json.active_quests | $json.armor_class\n//                   $json.in_combat | $json.combat_target\n//                   $json.status_effects\n//\n// POST messages  → $json.narrativa\n// POST choices   → $json.choices   (array — usar Split ou loop)\n// POST items     → $json.inventario (array — usar Split ou loop)\n// POST equipment → $json.equipamento (array — usar Split ou loop)\n// POST world_flags → $json.world_flags (array — usar Split ou loop)\n//                    cada item já tem story_id, flag_key, flag_value\n// =========================================\nreturn {\n  json: {\n    // ── Identificação ──────────────────────────────────────────\n    story_id: storyId,\n\n    // ── PATCH stories ──────────────────────────────────────────\n    // Body: { \"active_npcs\": $json.active_npcs,\n    //         \"current_location\": $json.current_location,\n    //         \"active_quests\": $json.active_quests,\n    //         \"armor_class\": $json.armor_class,\n    //         \"in_combat\": $json.in_combat,\n    //         \"combat_target\": $json.combat_target,\n    //         \"status_effects\": $json.status_effects }\n    active_npcs:      activeNpcsFinal,\n    current_location: currentLocationFinal,\n    active_quests:    activeQuestsFinal,\n    armor_class:      armorClass,\n    in_combat:        inCombat,\n    combat_target:    combatTarget,\n    status_effects:   statusEffects,\n\n    // ── POST messages ──────────────────────────────────────────\n    // Body: $json.narrativa\n    narrativa: narrativaFinal,\n\n    // ── POST choices ───────────────────────────────────────────\n    // Body: $json.choices  (usar nó Split para iterar)\n    choices: choicesFinal,\n\n    // ── POST items ─────────────────────────────────────────────\n    // Body: $json.inventario  (usar nó Split para iterar)\n    inventario: inventarioFinal,\n\n    // ── POST equipment ─────────────────────────────────────────\n    // Body: $json.equipamento  (usar nó Split para iterar)\n    equipamento: equipamentoFinal,\n\n    // ── POST world_flags ───────────────────────────────────────\n    // Body: $json.world_flags  (usar nó Split para iterar)\n    // Formato por item: { story_id, flag_key, flag_value }\n    // Geralmente [] no início — nó só executa se array não estiver vazio\n    world_flags: worldFlagsFinal.map((f) => ({\n      story_id:   storyId,\n      flag_key:   f.flag_key   || f.key   || \"\",\n      flag_value: f.flag_value ?? f.value ?? null,\n    })).filter((f) => f.flag_key !== \"\"),\n\n    // ── Debug ──────────────────────────────────────────────────\n    summary: {\n      location:        currentLocationFinal,\n      npcs_count:      activeNpcsFinal.length,\n      quests_count:    activeQuestsFinal.length,\n      inventory_count: inventarioFinal.length,\n      equipment_count: equipamentoFinal.length,\n      armor_class:     armorClass,\n      in_combat:       inCombat,\n      status_effects:  statusEffects.length,\n      world_flags:     worldFlagsFinal.length,\n    },\n  },\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2448,-800],"id":"dae1a091-f12f-4e57-9e9b-b9d3aa7924c5","name":"Code in JavaScript1"},{"parameters":{"method":"POST","url":"https://jmjezldxisifcdjacwnb.supabase.co/rest/v1/messages","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.narrativa }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-2272,-864],"id":"862b643b-d1ca-4431-90ed-7f47f5df98ca","name":"HTTP Request","credentials":{"supabaseApi":{"id":"3ssV9qtsZUAklVtZ","name":"Supabase account 2"}}},{"parameters":{"method":"POST","url":"https://jmjezldxisifcdjacwnb.supabase.co/rest/v1/items","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.inventario }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-2272,-736],"id":"e8d872a3-6f9f-4d79-bc17-57bcdefec848","name":"HTTP Request2","credentials":{"supabaseApi":{"id":"3ssV9qtsZUAklVtZ","name":"Supabase account 2"}}},{"parameters":{"method":"POST","url":"https://jmjezldxisifcdjacwnb.supabase.co/rest/v1/equipment","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.equipamento }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-2272,-624],"id":"d2dec4c4-d523-462a-80ee-b94fe7c25ab8","name":"HTTP Request3","credentials":{"supabaseApi":{"id":"3ssV9qtsZUAklVtZ","name":"Supabase account 2"}}},{"parameters":{"method":"POST","url":"https://jmjezldxisifcdjacwnb.supabase.co/rest/v1/choices","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.choices }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-2272,-512],"id":"263c5c94-7635-4aae-863a-425f89b15bf1","name":"HTTP Request4","credentials":{"supabaseApi":{"id":"3ssV9qtsZUAklVtZ","name":"Supabase account 2"}}},{"parameters":{"httpMethod":"POST","path":"resumo","authentication":"headerAuth","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-2032,-944],"id":"1ddaf252-a0c7-4bfd-85e7-f78e44a3b7df","name":"Webhook1","webhookId":"ba1b6f1b-c24f-4eae-9e70-25e15b4e3d6d","credentials":{"httpHeaderAuth":{"id":"vUs8rqLIlN9NCNTc","name":"Header Auth account"}}},{"parameters":{"url":"https://jmjezldxisifcdjacwnb.supabase.co/rest/v1/stories","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendQuery":true,"specifyQuery":"json","jsonQuery":"={\n  \"select\": \"current_summary, system, difficulty, character_name, class_name, genres, messages(sender,content,created_at)\",\n  \"id\": \"eq.{{ $json.body.story_id }}\",\n  \"messages.order\": \"created_at.desc\",\n  \"messages.limit\": \"10\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-1856,-944],"id":"b2a5c097-d815-4c84-8a20-7daba7eb6338","name":"HTTP Request5","credentials":{"supabaseApi":{"id":"3ssV9qtsZUAklVtZ","name":"Supabase account 2"}}},{"parameters":{"jsCode":"// =========================================================\n// PREPARADOR DE PAYLOAD (RESUMO DA HISTÓRIA)\n// =========================================================\n\n// 1. Receber dados do Supabase\nconst storyData = items[0].json;\n\nif (!storyData) {\n  throw new Error(\"História não encontrada.\");\n}\n\n// 2. Extrair e Ordenar Mensagens\nlet recentMessages = storyData.messages || [];\n// O banco traz as mais recentes primeiro, invertemos para ordem cronológica\nrecentMessages.reverse();\n\n// 3. Preparar o Contexto Anterior\nconst currentSummary = storyData.current_summary || \"\";\nconst DEFAULT_TEXT = \"A aventura começou recentemente...\";\nlet contextText = \"\";\n\nif (currentSummary.includes(DEFAULT_TEXT) || currentSummary.trim() === \"\") {\n    contextText = \"CONTEXTO ANTERIOR: A história está no início. Não há resumo prévio.\";\n} else {\n    contextText = `CONTEXTO ANTERIOR:\\n\"${currentSummary}\"`;\n}\n\n// 4. Formatar o Log de Diálogos\nconst chatLogText = recentMessages.map(msg => {\n    const role = msg.sender === 'player' ? 'JOGADOR' : 'MESTRE';\n    // Remove quebras de linha extras para economizar tokens\n    return `[${role}]: ${msg.content ? msg.content.replace(/\\n+/g, \" \") : \"\"}`;\n}).join(\"\\n\");\n\n// 5. Definição do SYSTEM PERSONA (O Cronista)\nconst systemPersona = `\nVocê é o CRONISTA DE UM RPG. Sua função é manter a memória de longo prazo da aventura.\nVocê receberá um 'Contexto Anterior' e as 'Últimas 10 Mensagens'.\nSeu objetivo é fundir ambos em um único texto narrativo denso e coeso.\n\nREGRAS:\n- Escreva em 3ª pessoa.\n- Máximo de 3 parágrafos.\n- Mantenha fatos cruciais (nomes, itens chave, ferimentos, locais).\n- Descarte diálogos triviais.\n- Se o contexto for \"A história está no início\", ignore-o e resuma apenas as mensagens novas.\n`.trim();\n\n// 6. Definição das INSTRUÇÕES DO USUÁRIO\nconst userInstructions = `\n${contextText}\n\n--- NOVOS EVENTOS (LOG) ---\n${chatLogText}\n--- FIM DO LOG ---\n\nGere o novo resumo atualizado agora.\n`.trim();\n\n// 7. Tratamento dos Gêneros (CORREÇÃO DO ERRO)\n// A API exige string, então transformamos [\"Ação\", \"Terror\"] em \"Ação, Terror\"\nconst genresString = Array.isArray(storyData.genres) \n    ? storyData.genres.join(\", \") \n    : String(storyData.genres || \"\");\n\n// 8. Retornar o Objeto Formatado para a API\nreturn {\n  json: {\n    model: \"mistral-small-latest\",\n    messages: [\n      { role: \"system\", content: systemPersona },\n      { role: \"user\", content: userInstructions }\n    ],\n    temperature: 0.5,\n    max_tokens: 2000,\n    \n    metadata: {\n      story_id: String($json.story_id),\n      system_id: String(storyData.system || \"unknown\"),\n      difficulty: String(storyData.difficulty || \"normal\"),\n      character_name: String(storyData.character_name || \"Heroi\"),\n      character_class: String(storyData.class_name || \"Aventureiro\"),\n      genres: genresString, // AQUI ESTAVA O ERRO (Agora é string)\n      task: \"summary_generation\"\n    }\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1696,-944],"id":"e8878cf1-b857-4b86-9a8d-f119f50e09b1","name":"Code in JavaScript2"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"mistralCloudApi","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-1536,-944],"id":"81161a82-6ef2-48f5-a32d-eb8010064db0","name":"HTTP Request6","credentials":{"mistralCloudApi":{"id":"HbOWghtcXEf7jxxj","name":"Mistral Cloud account"},"openRouterApi":{"id":"mCdp8OcIGuBAlyxd","name":"OpenRouter account"}}},{"parameters":{"jsCode":"// =========================================================\n// PARSER: LIMPEZA DO RESUMO GERADO (V3 - Hardcoded Paths)\n// =========================================================\n\n// 1. Acessar a resposta da IA (Do input do nó anterior)\n// Caminho fornecido: $input.first().json.choices[0].message.content\nconst aiResponse = $input.first().json;\n\nif (!aiResponse || !aiResponse.choices) {\n  throw new Error(\"A resposta da IA veio vazia ou em formato incorreto.\");\n}\n\nconst content = aiResponse.choices[0].message.content;\n\n// 2. Limpeza de Texto\nlet cleanSummary = content.trim();\n\n// Remove aspas extras se houver\nif (cleanSummary.startsWith('\"') && cleanSummary.endsWith('\"')) {\n    cleanSummary = cleanSummary.slice(1, -1);\n}\n\n// Remove prefixos comuns da IA (ex: \"Aqui está o resumo...\")\ncleanSummary = cleanSummary.replace(/^Aqui está o resumo.*?:[\\s\\n]*/i, \"\");\ncleanSummary = cleanSummary.replace(/^Resumo:[\\s\\n]*/i, \"\");\n\n// 3. Recuperar o ID da História\n// Caminho fornecido: $('Webhook1').first().json.body.story_id\nlet storyId;\n\ntry {\n    // Tenta pegar exatamente onde você indicou\n    storyId = $('Webhook1').first().json.body.story_id;\n} catch (error) {\n    // Se o nó \"Webhook1\" não existir ou o caminho falhar, lança erro claro\n    throw new Error(\"Não foi possível encontrar o 'story_id' no nó 'Webhook1'. Verifique se o nó Gatilho tem EXATAMENTE o nome 'Webhook1'.\");\n}\n\n// 4. Retorno Limpo para o próximo nó (Update Supabase)\nreturn {\n  json: {\n    story_id: storyId,\n    new_summary: cleanSummary,\n    updated_at: new Date().toISOString()\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1392,-944],"id":"81087f6d-aa68-422c-a95c-4c87ec587157","name":"Code in JavaScript3"},{"parameters":{"method":"PATCH","url":"https://jmjezldxisifcdjacwnb.supabase.co/rest/v1/stories","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendQuery":true,"specifyQuery":"json","jsonQuery":"={\n  \"id\": \"eq.{{ $json.story_id }}\"\n}","sendBody":true,"specifyBody":"json","jsonBody":"={{\n  {\n    \"current_summary\": $json.new_summary\n  }\n}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-1248,-944],"id":"c7dbf347-be3e-4cf4-8e18-5fa22f5f1a23","name":"HTTP Request7","credentials":{"supabaseApi":{"id":"3ssV9qtsZUAklVtZ","name":"Supabase account 2"}}},{"parameters":{"httpMethod":"POST","path":"storie","authentication":"headerAuth","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-2032,-656],"id":"96264889-484d-4e9e-ae11-3f4f7efbe2e3","name":"Webhook2","webhookId":"ba1b6f1b-c24f-4eae-9e70-25e15b4e3d6d","credentials":{"httpHeaderAuth":{"id":"vUs8rqLIlN9NCNTc","name":"Header Auth account"}}},{"parameters":{"url":"https://jmjezldxisifcdjacwnb.supabase.co/rest/v1/stories","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendQuery":true,"specifyQuery":"json","jsonQuery":"={\n  \"select\": \"id, current_summary, current_location, active_npcs, active_quests, system, difficulty, character_name, class_name, background, genres, gold, level, experience, hp_current, hp_max, armor_class, attributes, in_combat, combat_target, status_effects, messages(sender, content, created_at, roll_result), items(name, quantity, description, type, effect_data, value), equipment(name, slot, stats, icon)\",\n  \"id\": \"eq.{{ $json.body.story_id }}\",\n  \"messages.order\": \"created_at.desc\",\n  \"messages.limit\": \"10\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-1888,-656],"id":"a431c86e-0fbd-4340-9c03-fbf4be1ccdc2","name":"HTTP Request8","credentials":{"supabaseApi":{"id":"3ssV9qtsZUAklVtZ","name":"Supabase account 2"}}},{"parameters":{"jsCode":"const inputData = items[0].json;\nconst raw = Array.isArray(inputData) ? inputData[0] : (inputData.story_data || inputData);\n\nif (!raw || !raw.id) throw new Error(\"Dados da história não encontrados.\");\n\n// 1. Mensagens (Inverte para ordem cronológica)\nconst messages = Array.isArray(raw.messages) ? raw.messages.slice().reverse() : [];\n\n// 2. Última Ação\nconst lastPlayerMsg = messages.slice().reverse().find(m => m.sender === \"player\");\nconst playerAction  = lastPlayerMsg?.content || \"Olhar ao redor\";\n\nconst activeNPCs = Array.isArray(raw.active_npcs) ? raw.active_npcs : [];\nconst npcsListRouter = activeNPCs\n    .map(n => n.replace(/\\s*\\[HP:\\d+\\/\\d+\\]/g, \"\").trim()) // Remove a tag de HP\n    .join(\", \") || \"Ninguém\";\n\n// 4. Prompt do Roteador\nconst systemPrompt = `\nVocê é o CLASSIFICADOR DE INTENÇÃO de uma Engine de RPG.\nAnalise a AÇÃO DO JOGADOR e o CONTEXTO para decidir o Módulo de IA.\n\nCATEGORIAS:\n- combat:       Atacar alguém da lista de NPCs, sacar arma hostilmente, defender-se.\n- loot:         Saquear, abrir baú, pegar itens.\n- rest:         Dormir, descansar, acampar.\n- levelup:      Evoluir nível.\n- travel:       Viajar, mudar de região.\n- craft:        Criar itens.\n- moral:        Dilemas éticos.\n- commerce:     Comprar, vender, negociar.\n- consequences: Perguntar sobre passado/mundo.\n- narrative:    (PADRÃO) Conversar, investigar, persuadir.\n\nREGRAS:\n1. Se o jogador atacar um NPC listado no contexto → COMBAT.\n2. Se o jogador já estiver \"EM COMBATE: Sim\" → COMBAT (exceto se fugir/render).\n3. Se ambíguo → NARRATIVE.\n\nOUTPUT JSON OBRIGATÓRIO:\n{ \"mode\": \"nome_da_categoria\" }\n`.trim();\n\nconst userPrompt = `\nRESUMO: ${raw.current_summary ? raw.current_summary.slice(0, 300) : \"Início\"}...\nNPCs NA CENA: ${npcsListRouter}\nEM COMBATE: ${raw.in_combat ? \"Sim\" : \"Não\"}\nAÇÃO DO JOGADOR: \"${playerAction}\"\n\nClassifique a intenção.\n`.trim();\n\n// 5. Montagem do Payload\nconst originalData = {\n    story_id:         raw.id,\n    character_name:   raw.character_name   || \"Viajante\",\n    class_name:       raw.class_name       || \"Aventureiro\",\n    system:           raw.system           || \"dnd\",\n    difficulty:       raw.difficulty       || \"normal\",\n    hp_current:       raw.hp_current       ?? 10,\n    hp_max:           raw.hp_max           ?? 10,\n    level:            raw.level            ?? 1,\n    experience:       raw.experience       ?? 0,\n    gold:             raw.gold             ?? 0,\n    armor_class:      raw.armor_class      ?? 10,\n    \n    current_summary:  raw.current_summary  || \"Início.\",\n    current_location: raw.current_location || \"Desconhecido\",\n    active_npcs:      activeNPCs, // Manda com HP para o Mestre V6 usar\n    active_quests:    raw.active_quests    || [],\n    \n    // Novos campos V6\n    in_combat:        raw.in_combat        ?? false,\n    combat_target:    raw.combat_target    || null,\n    status_effects:   raw.status_effects   || [],\n    \n    messages:         messages,\n    inventory:        raw.items            || [],\n    equipment:        raw.equipment        || [],\n    world_flags:      raw.world_flags      || []\n};\n\nreturn {\n    json: {\n        ai_payload: {\n            model: \"mistral-small-latest\",\n            messages: [\n                { role: \"system\", content: systemPrompt },\n                { role: \"user\",   content: userPrompt }\n            ],\n            temperature: 0.1,\n            response_format: { type: \"json_object\" }\n        },\n        original_data: originalData\n    }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1744,-656],"id":"1812fe71-f1db-40c3-87e7-269648c94851","name":"Code in JavaScript4"},{"parameters":{"method":"PATCH","url":"https://jmjezldxisifcdjacwnb.supabase.co/rest/v1/stories","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendQuery":true,"specifyQuery":"json","jsonQuery":"={\n  \"id\": \"eq.{{ $json.narrativa.story_id }}\"\n}","sendBody":true,"specifyBody":"json","jsonBody":"={{\n{\n  \"active_npcs\": $json.active_npcs,\n  \"current_location\": $json.current_location,\n  \"active_quests\": $json.active_quests,\n  \"armor_class\": $json.armor_class,\n  \"in_combat\": $json.in_combat,\n  \"combat_target\": $json.combat_target,\n  \"status_effects\": $json.status_effects\n}\n}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-2272,-992],"id":"33902696-136f-4500-a961-9d2dba486f8c","name":"HTTP Request22","credentials":{"supabaseApi":{"id":"3ssV9qtsZUAklVtZ","name":"Supabase account 2"}}},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"mistralCloudApi","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.ai_payload}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-1600,-656],"id":"7f3dc6e9-6b01-46b3-851f-bb394bfecd67","name":"HTTP Request9","credentials":{"mistralCloudApi":{"id":"HbOWghtcXEf7jxxj","name":"Mistral Cloud account"},"openRouterApi":{"id":"mCdp8OcIGuBAlyxd","name":"OpenRouter account"}}},{"parameters":{"jsCode":"// =========================================\n// O MESTRE UNIFICADO V6.0\n// Novo: in_combat + combat_target persistidos\n//       status_effects processados antes do turno\n//       world_flags injetadas no contexto narrativo\n// FIX: buildInventoryContext reconhece weapon|armor (antes só \"equipment\")\n// FIX: current_npcs adicionado ao parserContext\n// FIX: NPCs exibidos COM HP no commonContext\n// =========================================\n\n// =========================================\n// 1. LEITURA DO ROUTER (IA Pequena)\n// =========================================\nlet detectedMode = \"narrative\";\n\ntry {\n  const aiContent = $input.first().json.choices[0].message.content;\n  const cleanJson = aiContent\n    .replace(/```json/g, \"\")\n    .replace(/```/g, \"\")\n    .trim();\n  const parsed = JSON.parse(cleanJson);\n  if (parsed.mode) detectedMode = parsed.mode.toLowerCase();\n} catch (e) {\n  console.log(\"Router fallback → narrative. Erro: \" + e.message);\n}\n\n// =========================================\n// 2. RECUPERAÇÃO DE DADOS DA HISTÓRIA\n// =========================================\nlet storyData = {};\ntry {\n  storyData = $(\"Code in JavaScript4\").first().json.original_data;\n} catch (e) {\n  storyData = $input.first().json.original_data || {};\n}\n\n// =========================================\n// 3. EXTRAÇÃO DE ESTADO (Tabela: stories)\n// =========================================\nconst charName = storyData.character_name || \"Viajante\";\nconst className = storyData.class_name || \"Aventureiro\";\nconst systemId = storyData.system || \"dnd\";\nconst difficulty = storyData.difficulty || \"normal\";\nconst genres = storyData.genres || \"Aventura\";\n\nconst hpCurrent = storyData.hp_current || 10;\nconst hpMax = storyData.hp_max || 10;\nconst level = storyData.level || 1;\nconst experience = storyData.experience || 0;\nconst gold = storyData.gold || 0;\nconst nextLevelXp = level * 1000;\n\nconst inventory = storyData.inventory || [];\nconst equipment = storyData.equipment || [];\nconst activeNPCs = storyData.active_npcs || [];\nconst activeQuests = storyData.active_quests || [];\nconst currentLocation = storyData.current_location || \"Desconhecido\";\nconst lastSnippet = storyData.current_summary || \"Início da aventura.\";\n\n// ── Novas colunas: stories ───────────────────────────────\nconst inCombatDB = storyData.in_combat ?? false;\nconst combatTargetDB = storyData.combat_target || null;\n\nconst statusEffects = Array.isArray(storyData.status_effects)\n  ? storyData.status_effects\n  : [];\n\nconst worldFlags = Array.isArray(storyData.world_flags)\n  ? storyData.world_flags\n  : [];\n\n// Equipamento ativo\nconst weapon = equipment.find((e) => e.slot === \"main_hand\") || {\n  name: \"Punhos\",\n  stats: { damage: \"1d4\" },\n};\nconst armor = equipment.find((e) => e.slot === \"body\") || {\n  name: \"Sem armadura\",\n  stats: { armor: 0 },\n};\nconst ac = storyData.armor_class || 10 + (armor.stats?.armor || 0);\n\n// =========================================\n// 4. MENSAGENS + DICE LAW\n// =========================================\nconst messages = storyData.messages || [];\n\nconst HISTORY_LIMIT = 10;\nconst historyRaw = messages.slice(-HISTORY_LIMIT);\n\nconst conversationHistory =\n  historyRaw.length > 0\n    ? historyRaw\n        .map((m) => {\n          const who = m.sender === \"player\" ? \"🧑 JOGADOR\" : \"🎲 MESTRE\";\n          const body =\n            m.sender === \"player\"\n              ? m.content\n              : m.content?.length > 300\n                ? m.content.substring(0, 300) + \"…\"\n                : m.content;\n          const rollTag = m.roll_result\n            ? ` [Dado: ${m.roll_result.total} vs DC${m.roll_result.difficulty} → ${m.roll_result.success ? \"✅\" : \"❌\"}]`\n            : \"\";\n          return `${who}${rollTag}: ${body}`;\n        })\n        .join(\"\\n\")\n    : \"— Início da conversa —\";\n\nconst lastPlayerMsgObj = messages\n  .slice()\n  .reverse()\n  .find((m) => m.sender === \"player\");\nconst lastPlayerMsg = lastPlayerMsgObj?.content || \"Olhar ao redor\";\n\nlet diceRaw = null;\nlet diceContext = \"\";\nlet diceOutcome = null;\n\nif (lastPlayerMsgObj?.roll_result) {\n  const r = lastPlayerMsgObj.roll_result;\n  diceRaw = r;\n  diceOutcome = r.success;\n  const label = r.success ? \"SUCESSO ✅\" : \"FALHA ❌\";\n  const crit = r.is_critical ? \" (CRÍTICO! 🎯)\" : \"\";\n\n  diceContext = `[⚖️ LEI DO DADO — OBRIGATÓRIO]\nRolagem: ${r.total} vs DC ${r.difficulty} → ${label}${crit}\n${\n  r.success\n    ? \"→ Narre o SUCESSO e suas consequências positivas.\"\n    : \"→ Narre a FALHA com uma complicação interessante, não punitiva demais.\"\n}`;\n}\n\n// =========================================\n// 5. SISTEMAS RPG\n// =========================================\nconst rpgSystems = {\n  dnd: {\n    name: \"D&D 5e\",\n    tone: \"Fantasia Épica\",\n    skills: [\"Atletismo\", \"Percepção\", \"Persuasão\", \"Arcana\", \"Furtividade\", \"Enganação\"],\n    dmgDie: \"d20\",\n    itemStyle: \"medieval-fantástico\",\n  },\n  cyber: {\n    name: \"Cyberpunk Red\",\n    tone: \"High Tech Low Life\",\n    skills: [\"Técnica\", \"Reflexos\", \"Empatia\", \"Intelecto\", \"Corpo\", \"Frieza\"],\n    dmgDie: \"d10\",\n    itemStyle: \"high-tech corporativo\",\n  },\n  vampire: {\n    name: \"Vampire: Masquerade\",\n    tone: \"Horror Gótico\",\n    skills: [\"Briga\", \"Subterfúgio\", \"Erudição\", \"Presença\", \"Dominação\", \"Animalismo\"],\n    dmgDie: \"d10\",\n    itemStyle: \"urbano-oculto\",\n  },\n  fallout: {\n    name: \"Fallout RPG\",\n    tone: \"Pós-Apocalíptico\",\n    skills: [\"Armas Pesadas\", \"Sobrevivência\", \"Lábia\", \"Medicina\", \"Furtividade\", \"Explosivos\"],\n    dmgDie: \"d8\",\n    itemStyle: \"sucata funcional\",\n  },\n};\nconst sys = rpgSystems[systemId] || rpgSystems.dnd;\n\n// =========================================\n// 6. DIFICULDADE\n// =========================================\nconst diffMap = {\n  easy:       { label: \"Narrativa\",   diffMod: -3, dmgMult: 0.7, lootMult: 1.3, xpMult: 0.8, goldMult: 1.2 },\n  normal:     { label: \"Equilibrado\", diffMod:  0, dmgMult: 1.0, lootMult: 1.0, xpMult: 1.0, goldMult: 1.0 },\n  hard:       { label: \"Difícil\",     diffMod: +3, dmgMult: 1.3, lootMult: 0.7, xpMult: 1.3, goldMult: 0.7 },\n  impossible: { label: \"Pesadelo\",    diffMod: +5, dmgMult: 1.5, lootMult: 0.5, xpMult: 1.5, goldMult: 0.5 },\n};\nconst diff = diffMap[difficulty] || diffMap.normal;\n\n// =========================================\n// 7. CALCULADORAS — XP e GOLD\n// =========================================\nconst XP_BASE = {\n  narrative: 20, combat: 60, loot: 35, rest: 0, levelup: 0,\n  travel: 25, moral: 30, craft: 40, consequences: 35, commerce: 10,\n};\nconst xpBase = XP_BASE[detectedMode] || 20;\nconst xpMin = Math.round(xpBase * 0.7 * diff.xpMult);\nconst xpMax = Math.round(xpBase * 1.3 * diff.xpMult);\n\nconst GOLD_BASE = {\n  narrative: 0,\n  combat:       Math.round(level * 5  * diff.goldMult),\n  loot:         Math.round(level * 15 * diff.goldMult),\n  rest: 0, levelup: 0,\n  travel:       Math.round(level * 3  * diff.goldMult),\n  moral: 0,\n  craft:       -Math.round(level * 2),\n  consequences: 0,\n  commerce:     0,\n};\nconst goldDeltaBase = GOLD_BASE[detectedMode] || 0;\n\n// =========================================\n// 7b. STATUS EFFECTS — processar antes do turno\n// =========================================\nconst statusSummary = statusEffects.reduce(\n  (acc, ef) => {\n    if (typeof ef.hp_per_turn === \"number\") acc.hpDelta  += ef.hp_per_turn;\n    if (typeof ef.atk_bonus   === \"number\") acc.atkBonus += ef.atk_bonus;\n    if (typeof ef.def_bonus   === \"number\") acc.defBonus += ef.def_bonus;\n    return acc;\n  },\n  { hpDelta: 0, atkBonus: 0, defBonus: 0 },\n);\n\nconst hpAfterEffects = Math.max(0, Math.min(hpMax, hpCurrent + statusSummary.hpDelta));\nconst acEffective    = ac + statusSummary.defBonus;\n\nconst expiringEffects  = statusEffects.filter((ef) => ef.turns_remaining === 1);\nconst remainingEffects = statusEffects\n  .filter((ef) => ef.turns_remaining > 1)\n  .map((ef) => ({ ...ef, turns_remaining: ef.turns_remaining - 1 }));\n\nconst statusContext =\n  statusEffects.length > 0\n    ? statusEffects\n        .map((ef) => {\n          const parts = [`⚡ ${ef.label} (${ef.turns_remaining} turno(s)) — fonte: ${ef.source}`];\n          if (ef.hp_per_turn) parts.push(`${ef.hp_per_turn > 0 ? \"+\" : \"\"}${ef.hp_per_turn} HP/turno`);\n          if (ef.atk_bonus)   parts.push(`${ef.atk_bonus > 0   ? \"+\" : \"\"}${ef.atk_bonus} ataque`);\n          if (ef.def_bonus)   parts.push(`${ef.def_bonus > 0   ? \"+\" : \"\"}${ef.def_bonus} defesa`);\n          return parts.join(\" | \");\n        })\n        .join(\"\\n\")\n    : null;\n\n// =========================================\n// 7c. WORLD FLAGS — formatar para contexto\n// =========================================\nconst worldFlagsContext =\n  worldFlags.length > 0\n    ? worldFlags\n        .map((f) => {\n          const val =\n            typeof f.flag_value === \"object\"\n              ? JSON.stringify(f.flag_value)\n              : String(f.flag_value);\n          return `  • ${f.flag_key}: ${val}`;\n        })\n        .join(\"\\n\")\n    : null;\n\n// =========================================\n// 8. MOTOR DE COMBATE — 100% em JavaScript\n// =========================================\nfunction rollDie(sides) {\n  return Math.floor(Math.random() * sides) + 1;\n}\n\nfunction parseDamage(diceStr) {\n  if (!diceStr || typeof diceStr !== \"string\") return { num: 1, sides: 4, bonus: 0 };\n  const match = diceStr.match(/^(\\d+)d(\\d+)([+-]\\d+)?$/i);\n  if (!match) return { num: 1, sides: 4, bonus: 0 };\n  return {\n    num:   parseInt(match[1]),\n    sides: parseInt(match[2]),\n    bonus: match[3] ? parseInt(match[3]) : 0,\n  };\n}\n\nfunction rollDamage(diceStr, isCritical, multiplier) {\n  const { num, sides, bonus } = parseDamage(diceStr);\n  const dice = isCritical ? num * 2 : num;\n  let total = bonus;\n  for (let i = 0; i < dice; i++) total += rollDie(sides);\n  return Math.max(1, Math.round(total * multiplier));\n}\n\nfunction parseEnemyHp(npcStr) {\n  const match = npcStr.match(/\\[HP:(\\d+)\\/(\\d+)\\]/);\n  if (match) return { current: parseInt(match[1]), max: parseInt(match[2]) };\n  const base = 10 + level * 5;\n  const hp = base + rollDie(6) - 3;\n  return { current: hp, max: hp };\n}\n\nfunction encodeEnemyHp(name, hp) {\n  const cleanName = name.replace(/\\s*\\[HP:\\d+\\/\\d+\\]/, \"\").trim();\n  return `${cleanName} [HP:${hp.current}/${hp.max}]`;\n}\n\nconst ALLY_KEYWORDS = [\"aliado\", \"companheiro\", \"membro do grupo\", \"parceiro\"];\nconst hostileNPCs = activeNPCs.filter((npc) => {\n  const lower = npc.toLowerCase();\n  if (lower.includes(\"hp:0/\")) return false;\n  return !ALLY_KEYWORDS.some((k) => lower.includes(k));\n});\n\nconst targetRaw = (() => {\n  if (combatTargetDB) {\n    const found = hostileNPCs.find(\n      (npc) =>\n        npc.replace(/\\s*\\[HP:\\d+\\/\\d+\\]/, \"\").trim() ===\n        combatTargetDB.replace(/\\s*\\[HP:\\d+\\/\\d+\\]/, \"\").trim(),\n    );\n    if (found) return found;\n  }\n  return hostileNPCs[0] || null;\n})();\n\nconst targetHp   = targetRaw ? parseEnemyHp(targetRaw) : null;\nconst targetName = targetRaw ? targetRaw.replace(/\\s*\\[HP:\\d+\\/\\d+\\]/, \"\").trim() : \"Inimigo\";\n\nlet combatResult = null;\n\nif ((detectedMode === \"combat\" || inCombatDB) && diceRaw) {\n  const playerHit    = diceRaw.success    ?? false;\n  const isCritical   = diceRaw.is_critical ?? false;\n  const weaponDiceStr = weapon.stats?.damage || \"1d4\";\n\n  const playerDamage = playerHit\n    ? rollDamage(weaponDiceStr, isCritical, diff.dmgMult) + statusSummary.atkBonus\n    : 0;\n\n  const enemyHpAfter = targetHp\n    ? Math.max(0, targetHp.current - Math.max(0, playerDamage))\n    : null;\n  const targetDied = targetHp !== null && enemyHpAfter <= 0;\n\n  const enemyAtkBonus = Math.max(1, Math.floor(level / 2));\n  const enemyDiceStr  = `${Math.max(1, Math.floor(level / 2))}d6`;\n\n  let totalPlayerDamageTaken = 0;\n  const enemyTurns = hostileNPCs.map((npcStr) => {\n    const npcName = npcStr.replace(/\\s*\\[HP:\\d+\\/\\d+\\]/, \"\").trim();\n\n    if (npcName === targetName && targetDied) {\n      return { name: npcName, roll: 0, total: 0, hit: false, damage: 0, skipped: true };\n    }\n\n    const roll   = rollDie(20);\n    const total  = roll + enemyAtkBonus;\n    const hit    = total >= acEffective;\n    const damage = hit ? rollDamage(enemyDiceStr, false, diff.dmgMult) : 0;\n\n    if (hit) totalPlayerDamageTaken += damage;\n\n    return { name: npcName, roll, total, hit, damage, skipped: false };\n  });\n\n  const playerHpAfter = Math.max(0, hpAfterEffects - totalPlayerDamageTaken);\n\n  const updatedNPCs = activeNPCs.map((npc) => {\n    const cleanNpc = npc.replace(/\\s*\\[HP:\\d+\\/\\d+\\]/, \"\").trim();\n    if (cleanNpc === targetName && targetHp) {\n      return encodeEnemyHp(cleanNpc, { current: enemyHpAfter, max: targetHp.max });\n    }\n    return npc;\n  });\n\n  const deadNPCs         = targetDied ? [targetName] : [];\n  const remainingHostile = hostileNPCs.length - deadNPCs.length;\n\n  combatResult = {\n    player: {\n      roll:     diceRaw.roll  ?? 0,\n      total:    diceRaw.total ?? 0,\n      hit:      playerHit,\n      damage:   Math.max(0, playerDamage),\n      critical: isCritical,\n      target:   targetName,\n    },\n    enemyTurns,\n    totalPlayerDamageTaken,\n    enemyHpBefore:    targetHp?.current ?? 0,\n    enemyHpAfter:     enemyHpAfter      ?? 0,\n    enemyMaxHp:       targetHp?.max     ?? 0,\n    targetDied,\n    playerHpAfter,\n    playerDamageTaken: totalPlayerDamageTaken,\n    totalHpDelta:      playerHpAfter - hpCurrent,\n    updatedNPCs,\n    deadNPCs,\n    remainingHostile,\n    allEnemiesDead: remainingHostile <= 0 && hostileNPCs.length > 0,\n    goldDropped:    targetDied ? Math.round(level * 5 * diff.goldMult) : 0,\n    statusAfterTurn: remainingEffects,\n    expiringEffects,\n  };\n}\n\nconst combatLogBlock = combatResult\n  ? JSON.stringify(\n      {\n        combat_log: {\n          player_attack: {\n            roll:     combatResult.player.roll,\n            total:    combatResult.player.total,\n            hit:      combatResult.player.hit,\n            damage:   combatResult.player.damage,\n            critical: combatResult.player.critical,\n            target:   combatResult.player.target,\n          },\n          enemy_turns:        combatResult.enemyTurns,\n          enemy_hp_before:    combatResult.enemyHpBefore,\n          enemy_hp_remaining: combatResult.enemyHpAfter,\n          enemy_max_hp:       combatResult.enemyMaxHp,\n          target_died:        combatResult.targetDied,\n          total_damage_taken: combatResult.totalPlayerDamageTaken,\n        },\n      },\n      null,\n      2,\n    )\n      .replace(/^{/, \"\")\n      .replace(/}$/, \"\")\n      .trim()\n  : `\"combat_log\": {\n    \"player_attack\": {\"roll\":0,\"total\":0,\"hit\":false,\"damage\":0,\"critical\":false,\"target\":\"\"},\n    \"enemy_turns\": [],\n    \"enemy_hp_before\":0,\"enemy_hp_remaining\":0,\"enemy_max_hp\":0,\n    \"target_died\":false,\"total_damage_taken\":0\n  }`;\n\n// =========================================\n// 9. INVENTÁRIO FILTRADO\n// =========================================\nconst INV_LIMIT = 20;\n\nfunction buildInventoryContext(inv) {\n  if (inv.length === 0) return \"  • Vazio\";\n  if (inv.length <= INV_LIMIT) {\n    return inv.map((i) => `  • ${i.name} (${i.quantity}x)`).join(\"\\n\");\n  }\n  const consumables = inv.filter((i) => i.type === \"consumable\").slice(0, 8);\n  const gear = inv.filter((i) => i.type === \"weapon\" || i.type === \"armor\").slice(0, 5);\n  const others = inv.length - consumables.length - gear.length;\n  const lines = [\n    \"  [CONSUMÍVEIS]\",\n    ...consumables.map((i) => `  • ${i.name} (${i.quantity}x)`),\n    \"  [ARMAS & ARMADURAS]\",\n    ...gear.map((i) => `  • ${i.name}`),\n    `  [+ ${others} itens diversos não listados]`,\n  ];\n  return lines.join(\"\\n\");\n}\n\nconst inventoryContext = buildInventoryContext(inventory);\n\n// =========================================\n// 10. REGRAS GLOBAIS\n// =========================================\nconst MASTER_RULES = `\nREGRAS GLOBAIS (valem para todos os modos):\n• JSON válido — sem texto fora do objeto.\n• \"narrative\" usa \\\\n\\\\n entre parágrafos.\n• \"xp_awarded\" deve ser um número entre ${xpMin} e ${xpMax}.\n• \"gold_change\" deve refletir ganho/perda real (pode ser negativo).\n• \"delta_updates.inventory\" usa {\"add\":[...],\"remove\":[...]} — nunca substitua o array todo.\n• \"active_npcs_update\" usa {\"add\":[...],\"remove\":[...]} com nomes como strings SEM o [HP:x/x].\n• \"world_flags_update\" usa {\"set\":{\"flag_key\": valor},\"delete\":[\"flag_key\"]} — só preencha se houver mudança real no estado do mundo.\n• \"status_effects_update\" usa {\"add\":[...],\"remove\":[\"id\"]} — só preencha se houver novo efeito ou remoção.\n• LEI DO DADO tem prioridade absoluta sobre qualquer outra lógica narrativa.\n`.trim();\n\n// =========================================\n// 11. CONTEXTO COMUM\n// FIX: NPCs exibidos COM HP para a IA\n// =========================================\nconst commonContext = `\nPERSONAGEM: ${charName} | ${className} Nv${level} | HP ${hpAfterEffects}/${hpMax} | CA ${acEffective} | ${gold}g\nXP: ${experience}/${nextLevelXp} | Sistema: ${sys.name} | Dificuldade: ${diff.label}\nLOCAL: ${currentLocation}\nNPCs: ${activeNPCs.length > 0 ? activeNPCs.join(\", \") : \"Nenhum\"}\nMISSÕES: ${activeQuests.length > 0 ? activeQuests.join(\" | \") : \"Nenhuma\"}\nARMA: ${weapon.name} (${weapon.stats?.damage || \"1d4\"}) | ARMADURA: ${armor.name}\nEQUIPADO: ${equipment.length > 0 ? equipment.map((e) => `${e.slot}: ${e.name}`).join(\" | \") : \"Nenhum equipamento\"}\n${inCombatDB ? `⚔️ EM COMBATE: ${combatTargetDB ? combatTargetDB.replace(/\\s*\\[HP:\\d+\\/\\d+\\]/, \"\") : \"inimigo desconhecido\"}` : \"\"}\n${statusContext ? `\\nEFEITOS ATIVOS:\\n${statusContext}` : \"\"}\n${statusSummary.hpDelta !== 0 ? `⚠️ HP ajustado por efeitos passivos: ${hpCurrent} → ${hpAfterEffects} (${statusSummary.hpDelta > 0 ? \"+\" : \"\"}${statusSummary.hpDelta}/turno)` : \"\"}\nINVENTÁRIO:\n${inventoryContext}\nRESUMO: ${lastSnippet}\n${worldFlagsContext ? `\\nESTADO DO MUNDO:\\n${worldFlagsContext}` : \"\"}\nHISTÓRICO RECENTE (${historyRaw.length} mensagens):\n${conversationHistory}\n`.trim();\n\n// =========================================\n// 12. TEMPLATES DE PROMPT\n// =========================================\nconst prompts = {\n  narrative: {\n    persona: `Você é O BARDO de ${sys.name} (${sys.tone}). Crie atmosfera com os 5 sentidos. Interprete NPCs com agenda própria. Revele pistas através de diálogo. Nunca force combate desnecessário.`,\n    instructions: `MODO: NARRATIVA\n${commonContext}\nAÇÃO: \"${lastPlayerMsg}\"\n${diceContext ? diceContext + \"\\n\" : \"\"}\n${MASTER_RULES}\n\nREGRAS DO MODO:\n1. Mín. 3 parágrafos sensoriais. Tom: ${sys.tone}.\n2. Dado presente? ${diceOutcome === null ? \"Narre livremente.\" : diceOutcome ? \"SUCESSO → consequências positivas.\" : \"FALHA → complicação interessante.\"}\n3. gold_change: 0 a menos que NPC pague ou jogador venda algo.\n4. location_update: preencha se o jogador mudar de local.\n\nSCHEMA JSON:\n{\n  \"narrative\": \"...\",\n  \"choices\": [\n    {\"text\":\"Investigar\",\"type\":\"investigate\",\"skillCheck\":\"${sys.skills[1]}\",\"difficulty\":${12 + diff.diffMod},\"diceType\":\"d20\"},\n    {\"text\":\"Persuadir NPC\",\"type\":\"social\",\"skillCheck\":\"${sys.skills[2]}\",\"difficulty\":${13 + diff.diffMod},\"diceType\":\"d20\"},\n    {\"text\":\"Ação física\",\"type\":\"action\",\"skillCheck\":\"${sys.skills[0]}\",\"difficulty\":${14 + diff.diffMod},\"diceType\":\"d20\"},\n    {\"text\":\"Observar\",\"type\":\"stealth\"}\n  ],\n  \"delta_updates\": {\n    \"hp_change\": 0,\n    \"xp_awarded\": NÚMERO_ENTRE_${xpMin}_E_${xpMax},\n    \"gold_change\": 0,\n    \"inventory\": {\"add\":[],\"remove\":[]},\n    \"active_npcs_update\": {\"add\":[],\"remove\":[]},\n    \"location_update\": \"\",\n    \"active_quests_update\": {\"add\":[],\"remove\":[]},\n    \"in_combat\": false,\n    \"combat_target\": null,\n    \"status_effects_update\": {\"add\":[],\"remove\":[]},\n    \"world_flags_update\": {\"set\":{},\"delete\":[]}\n  },\n  \"metadata\": {\"mood\":\"\",\"time_of_day\":\"\",\"discovered_info\":\"\"}\n}`,\n  },\n\n  combat: {\n    persona: `Você é O JUIZ de ${sys.name}. Narrador de combate — todos os números JÁ foram calculados pelo sistema. Sua única função é criar a narrativa visceral baseada nos resultados fornecidos. Máx 2 parágrafos. Tom: ${sys.tone}.`,\n    instructions: `MODO: COMBATE\n${commonContext}\nAÇÃO: \"${lastPlayerMsg}\"\n${diceContext ? diceContext + \"\\n\" : \"\"}\n${MASTER_RULES}\n\n⚠️ TODOS OS NÚMEROS JÁ FORAM CALCULADOS. NÃO INVENTE VALORES. USE OS FORNECIDOS ABAIXO:\n\n${\n  combatResult\n    ? `RESULTADO DO TURNO (calculado pelo backend):\n▶ JOGADOR atacou ${targetName}: ${combatResult.player.hit ? `ACERTOU — ${combatResult.player.damage} de dano${combatResult.player.critical ? \" (CRÍTICO!)\" : \"\"}` : \"ERROU\"}\n▶ ${targetName} HP: ${combatResult.enemyHpBefore} → ${combatResult.enemyHpAfter}/${combatResult.enemyMaxHp}${combatResult.targetDied ? \" — MORTO ☠️\" : \"\"}\n${combatResult.enemyTurns\n  .filter((e) => !e.skipped)\n  .map((e) => `▶ ${e.name} contra-atacou: ${e.hit ? `ACERTOU — ${e.damage} de dano no jogador` : \"ERROU\"}`)\n  .join(\"\\n\")}\n▶ JOGADOR HP: ${hpCurrent} → ${combatResult.playerHpAfter}/${hpMax} (total recebido: ${combatResult.totalPlayerDamageTaken})\n${combatResult.targetDied ? `▶ OURO DROPADO: ${combatResult.goldDropped}g` : \"\"}\n${hostileNPCs.length > 1 ? `▶ INIMIGOS RESTANTES: ${hostileNPCs.length - combatResult.deadNPCs.length}/${hostileNPCs.length}` : \"\"}`\n    : \"Sem dado ativo — narre ação de preparação/iniciativa.\"\n}\n\nSUA TAREFA:\nEscreva a narrativa visceral deste turno. Mencione cada inimigo que atacou.\n${combatResult?.playerHpAfter <= 0 ? \"⚠️ HP DO JOGADOR CHEGOU A 0 — narre derrota/morte com dignidade.\" : \"\"}\n${combatResult?.targetDied ? `⚠️ ${targetName} MORREU — narre a vitória e mencione o corpo que pode ser saqueado.` : \"\"}\n${combatResult?.allEnemiesDead ? \"⚠️ TODOS OS INIMIGOS FORAM ELIMINADOS — narre o fim do combate.\" : \"\"}\n\nSCHEMA JSON (valores fixados pelo backend — NÃO altere hp_change, gold_change nem active_npcs_update):\n{\n  \"narrative\": \"Narração visceral do turno...\",\n  ${combatLogBlock},\n  \"choices\": [\n    {\"text\":\"Atacar ${targetName || \"inimigo\"}\",\"type\":\"action\",\"skillCheck\":\"${sys.skills[0]}\",\"difficulty\":${12 + diff.diffMod},\"diceType\":\"d20\"},\n    {\"text\":\"Usar habilidade especial\",\"type\":\"action\",\"skillCheck\":\"${sys.skills[1]}\",\"difficulty\":${15 + diff.diffMod},\"diceType\":\"d20\"},\n    {\"text\":\"Usar item do inventário\",\"type\":\"action\"},\n    {\"text\":\"Fugir do combate\",\"type\":\"stealth\",\"skillCheck\":\"${sys.skills[4]}\",\"difficulty\":${14 + diff.diffMod},\"diceType\":\"d20\"}\n  ],\n  \"delta_updates\": {\n    \"hp_change\": ${combatResult ? combatResult.totalHpDelta : 0},\n    \"xp_awarded\": NÚMERO_ENTRE_${xpMin}_E_${xpMax},\n    \"gold_change\": ${combatResult?.targetDied ? combatResult.goldDropped : 0},\n    \"inventory\": {\"add\":[],\"remove\":[]},\n    \"active_npcs_update\": {\n      \"add\": [],\n      \"remove\": ${combatResult?.deadNPCs?.length ? JSON.stringify(combatResult.deadNPCs) : \"[]\"}\n    },\n    \"in_combat\": ${combatResult?.allEnemiesDead || combatResult?.playerHpAfter <= 0 ? false : true},\n    \"combat_target\": ${combatResult?.allEnemiesDead || combatResult?.targetDied ? \"null\" : `\"${targetName}\"`},\n    \"status_effects_update\": {\"add\":[],\"remove\":${JSON.stringify(expiringEffects.map((e) => e.id))}},\n    \"world_flags_update\": {\"set\":{},\"delete\":[]}\n  },\n  \"metadata\": {\n    \"in_combat\": ${combatResult?.allEnemiesDead ? false : combatResult?.playerHpAfter <= 0 ? false : true},\n    \"combat_status\": \"${combatResult?.allEnemiesDead ? \"victory\" : combatResult?.playerHpAfter <= 0 ? \"defeat\" : \"ongoing\"}\",\n    \"enemies_remaining\": ${hostileNPCs.length - (combatResult?.deadNPCs?.length || 0)},\n    \"effects_expired\": ${JSON.stringify(expiringEffects.map((e) => e.label))}\n  }\n}`,\n  },\n\n  loot: {\n    persona: `Você é O TESOUREIRO de ${sys.name}. Itens no estilo \"${sys.itemStyle}\". Nomes únicos com flavor text. Nível ${level} × mult ${diff.lootMult}. Sem lendários antes do nível 5.`,\n    instructions: `MODO: LOOT\n${commonContext}\nAÇÃO: \"${lastPlayerMsg}\"\n${MASTER_RULES}\n\nREGRAS DO MODO:\n1. 1-3 itens. 60% consumível, 30% arma/armadura, 10% especial.\n2. Nomes únicos — não \"Espada +1\", use \"Lâmina do Guarda Caído\".\n3. gold_change: ${goldDeltaBase} ouro base (ajuste pelo contexto do baú/corpo).\n4. Itens do inventário atual NÃO podem ser duplicados.\n5. \"type\" só aceita: consumable | weapon | armor | misc\n6. Itens equipáveis (weapon/armor) DEVEM ter em effect_data:\n   - \"is_equippable\": true\n   - \"equip_slot\": slot válido (main_hand | body | head | legs | off_hand | accessory)\n   - \"icon\": emoji representando o item\n   - stats relevantes: \"damage\" para armas, \"armor\" para armaduras\n\nSCHEMA JSON:\n{\n  \"narrative\": \"...\",\n  \"choices\": [\n    {\"text\":\"Pegar tudo\",\"type\":\"action\"},\n    {\"text\":\"Inspecionar itens\",\"type\":\"investigate\",\"skillCheck\":\"${sys.skills[1]}\",\"difficulty\":${10 + diff.diffMod},\"diceType\":\"d20\"},\n    {\"text\":\"Pegar o melhor\",\"type\":\"action\"},\n    {\"text\":\"Deixar e seguir\",\"type\":\"action\"}\n  ],\n  \"delta_updates\": {\n    \"hp_change\": 0,\n    \"xp_awarded\": NÚMERO_ENTRE_${xpMin}_E_${xpMax},\n    \"gold_change\": NÚMERO_POSITIVO_BASEADO_NO_CONTEXTO,\n    \"inventory\": {\n      \"add\": [\n        {\"name\":\"Exemplo Consumível\",\"description\":\"Descrição.\",\"quantity\":1,\"type\":\"consumable\",\"effect_data\":{\"heal\":10,\"is_equippable\":false},\"value\":15},\n        {\"name\":\"Exemplo Arma\",\"description\":\"Descrição.\",\"quantity\":1,\"type\":\"weapon\",\"effect_data\":{\"is_equippable\":true,\"equip_slot\":\"main_hand\",\"damage\":\"1d8\",\"icon\":\"⚔️\"},\"value\":50},\n        {\"name\":\"Exemplo Armadura\",\"description\":\"Descrição.\",\"quantity\":1,\"type\":\"armor\",\"effect_data\":{\"is_equippable\":true,\"equip_slot\":\"body\",\"armor\":3,\"icon\":\"🛡️\"},\"value\":40}\n      ],\n      \"remove\": []\n    },\n    \"active_npcs_update\": {\"add\":[],\"remove\":[]}\n  },\n  \"metadata\": {\"loot_source\":\"\",\"loot_quality\":\"poor|average|good|excellent\"}\n}`,\n  },\n\n  rest: {\n    persona: `Você é O CURANDEIRO de ${sys.name}. Gerencie recuperação e crie eventos de descanso memoráveis. Em áreas hostis, descansos podem ser interrompidos.`,\n    instructions: `MODO: DESCANSO\n${commonContext}\nAÇÃO: \"${lastPlayerMsg}\"\n${MASTER_RULES}\n\nREGRAS DO MODO:\n• Curto (1h): hp_change = +${Math.floor(hpMax * 0.25)} (25% HP Max)\n• Longo (8h): hp_change = +${hpMax - hpCurrent} (HP completo)\n• Dificuldade \"${difficulty}\": ${difficulty === \"hard\" || difficulty === \"impossible\" ? \"50% chance de interrupção — role narrativamente.\" : \"Descanso seguro.\"}\n• 30% chance de evento especial (sonho, conversa, barulho).\n• xp_awarded: sempre 0.\n\nSCHEMA JSON:\n{\n  \"narrative\": \"...\",\n  \"choices\": [\n    {\"text\":\"Retomar jornada\",\"type\":\"action\"},\n    {\"text\":\"Conversar com aliados\",\"type\":\"social\"},\n    {\"text\":\"Estudar/preparar\",\"type\":\"investigate\"},\n    {\"text\":\"Montar vigília\",\"type\":\"stealth\"}\n  ],\n  \"delta_updates\": {\n    \"hp_change\": NÚMERO_POSITIVO_VEJA_REGRAS,\n    \"xp_awarded\": 0,\n    \"gold_change\": 0,\n    \"inventory\": {\"add\":[],\"remove\":[]},\n    \"active_npcs_update\": {\"add\":[],\"remove\":[]}\n  },\n  \"metadata\": {\"rest_type\":\"short|long\",\"rest_quality\":\"poor|average|good\",\"interrupted\":false,\"time_passed\":\"\",\"event\":\"\"}\n}`,\n  },\n\n  levelup: {\n    persona: `Você é O MENTOR. O herói evoluiu. Ofereça 3 escolhas mecânicas claras para ${className} em ${sys.name}. Celebre o momento narrativamente.`,\n    instructions: `MODO: LEVEL UP\n${commonContext}\nXP: ${experience} / ${nextLevelXp} → Nível ${level} → ${level + 1}\n${MASTER_RULES}\n\nREGRAS DO MODO:\n1. Narre a epifania ou treinamento.\n2. 3 escolhas com efeito mecânico EXPLÍCITO (ex: \"+2 dano\", \"nova perícia\", \"+10 HP Max\").\n3. hp_change = 9999 (restaura HP total).\n4. gold_change = 0.\n5. xp_awarded = 0.\n\nSCHEMA JSON:\n{\n  \"narrative\": \"...\",\n  \"level_up_choices\": [\n    {\"id\":\"a1\",\"name\":\"\",\"description\":\"Efeito mecânico claro\",\"category\":\"combat|utility|social|magic\"},\n    {\"id\":\"a2\",\"name\":\"\",\"description\":\"\",\"category\":\"\"},\n    {\"id\":\"a3\",\"name\":\"\",\"description\":\"\",\"category\":\"\"}\n  ],\n  \"choices\": [\n    {\"text\":\"Escolher opção 1\",\"type\":\"action\",\"choice_ref\":\"a1\"},\n    {\"text\":\"Escolher opção 2\",\"type\":\"action\",\"choice_ref\":\"a2\"},\n    {\"text\":\"Escolher opção 3\",\"type\":\"action\",\"choice_ref\":\"a3\"}\n  ],\n  \"delta_updates\": {\n    \"hp_change\": 9999,\n    \"xp_awarded\": 0,\n    \"gold_change\": 0,\n    \"inventory\": {\"add\":[],\"remove\":[]},\n    \"active_npcs_update\": {\"add\":[],\"remove\":[]}\n  },\n  \"metadata\": {\"previous_level\":${level},\"new_level\":${level + 1},\"hp_max_increase\":10,\"choice_pending\":true}\n}`,\n  },\n\n  travel: {\n    persona: `Você é O CARTÓGRAFO de ${sys.name} (${sys.tone}). Crie sensação de mundo vasto. Gere encontros variados. Revelie lore através da paisagem.`,\n    instructions: `MODO: VIAGEM\n${commonContext}\nAÇÃO: \"${lastPlayerMsg}\"\n${MASTER_RULES}\n\nREGRAS DO MODO:\n1. Descreva paisagem, clima e sensações da estrada.\n2. 50% chance de encontro (viajante, ruína, criatura, evento).\n3. gold_change: ${goldDeltaBase} (comércio de estrada — pode ser 0 se sem encontro).\n4. location_update: obrigatório com o novo destino ou ponto intermediário.\n\nSCHEMA JSON:\n{\n  \"narrative\": \"...\",\n  \"choices\": [\n    {\"text\":\"Investigar ponto de interesse\",\"type\":\"investigate\",\"skillCheck\":\"${sys.skills[1]}\",\"difficulty\":${12 + diff.diffMod},\"diceType\":\"d20\"},\n    {\"text\":\"Continuar marcha\",\"type\":\"action\"},\n    {\"text\":\"Acampar\",\"type\":\"rest\"},\n    {\"text\":\"Rota alternativa\",\"type\":\"stealth\"}\n  ],\n  \"delta_updates\": {\n    \"hp_change\": 0,\n    \"xp_awarded\": NÚMERO_ENTRE_${xpMin}_E_${xpMax},\n    \"gold_change\": NÚMERO_BASEADO_NO_ENCONTRO,\n    \"inventory\": {\"add\":[],\"remove\":[]},\n    \"active_npcs_update\": {\"add\":[],\"remove\":[]},\n    \"location_update\": \"NOVO_LOCAL_OBRIGATÓRIO\"\n  },\n  \"metadata\": {\"distance_traveled\":\"\",\"time_passed\":\"\",\"weather\":\"\",\"encounter_occurred\":false}\n}`,\n  },\n\n  moral: {\n    persona: `Você é O FILÓSOFO de ${sys.name}. Apresente dilemas sem resposta correta. Nunca julgue a escolha do jogador. Consequências a longo prazo são sua especialidade.`,\n    instructions: `MODO: DILEMA MORAL\n${commonContext}\nSITUAÇÃO: \"${lastPlayerMsg}\"\n${MASTER_RULES}\n\nREGRAS DO MODO:\n1. Mín. 2 lados legítimos com custo E benefício real em cada.\n2. Nenhuma opção é claramente \"certa\".\n3. Terceira via criativa é sempre possível, mas difícil.\n4. gold_change: 0 a menos que o dilema envolva transação.\n\nSCHEMA JSON:\n{\n  \"narrative\": \"...\",\n  \"choices\": [\n    {\"text\":\"Opção A\",\"type\":\"moral_choice\",\"consequence_hint\":\"Consequência de curto prazo.\"},\n    {\"text\":\"Opção B\",\"type\":\"moral_choice\",\"consequence_hint\":\"Consequência alternativa.\"},\n    {\"text\":\"Terceira via (difícil)\",\"type\":\"action\",\"skillCheck\":\"${sys.skills[2]}\",\"difficulty\":${16 + diff.diffMod},\"diceType\":\"d20\"}\n  ],\n  \"delta_updates\": {\n    \"hp_change\": 0,\n    \"xp_awarded\": NÚMERO_ENTRE_${xpMin}_E_${xpMax},\n    \"gold_change\": 0,\n    \"inventory\": {\"add\":[],\"remove\":[]},\n    \"active_npcs_update\": {\"add\":[],\"remove\":[]}\n  },\n  \"metadata\": {\"dilemma_type\":\"justice|mercy|sacrifice|loyalty|truth\",\"stakes\":\"personal|local|regional|world\"}\n}`,\n  },\n\n  craft: {\n    persona: `Você é O ARTESÃO de ${sys.name}. Verifique materiais. Resultados graduados: sucesso total, parcial ou falha. Itens com nomes únicos.`,\n    instructions: `MODO: CRAFTING\n${commonContext}\nAÇÃO: \"${lastPlayerMsg}\"\n${diceContext ? diceContext + \"\\n\" : \"\"}\n${MASTER_RULES}\n\nREGRAS DO MODO:\n1. Verifique se materiais existem no inventário listado.\n2. Teste: ${sys.skills[1]} vs DC pela complexidade do item.\n3. Sucesso total: item perfeito. Parcial: funcional, -50% stats. Falha: 50% materiais perdidos.\n4. gold_change: ${goldDeltaBase} (craft gasta materiais — valor negativo quando aplicável).\n5. XP de crafting proporcional à complexidade.\n6. \"type\" só aceita: consumable | weapon | armor | misc\n\nSCHEMA JSON:\n{\n  \"narrative\": \"...\",\n  \"choices\": [\n    {\"text\":\"Criar outro item\",\"type\":\"action\"},\n    {\"text\":\"Testar o item\",\"type\":\"investigate\"},\n    {\"text\":\"Guardar e sair\",\"type\":\"action\"}\n  ],\n  \"delta_updates\": {\n    \"hp_change\": 0,\n    \"xp_awarded\": NÚMERO_ENTRE_${xpMin}_E_${xpMax},\n    \"gold_change\": NÚMERO_NEGATIVO_SE_MATERIAIS_CUSTAM_GOLD,\n    \"inventory\": {\"add\":[],\"remove\":[]},\n    \"active_npcs_update\": {\"add\":[],\"remove\":[]}\n  },\n  \"metadata\": {\"craft_result\":\"success|partial|failure\",\"time_spent\":\"\",\"materials_wasted\":[]}\n}`,\n  },\n\n  consequences: {\n    persona: `Você é O CRONISTA de ${sys.name}. Faça o mundo reagir às ações do jogador. Ripple effects consistentes. Atualize facções, locais e NPCs.`,\n    instructions: `MODO: CONSEQUÊNCIAS\n${commonContext}\nAÇÕES RELEVANTES: \"${lastPlayerMsg}\"\n${MASTER_RULES}\n\nREGRAS DO MODO:\n1. Pelo menos 1 NPC ou local deve ter sofrido impacto real.\n2. Consequências podem ser positivas ou negativas.\n3. gold_change: 0 a menos que reputação gere pagamento/perda.\n4. location_update: preencha se o impacto mudar onde o jogador pode ir.\n\nSCHEMA JSON:\n{\n  \"narrative\": \"...\",\n  \"world_state_updates\": {\n    \"locations_changed\": [],\n    \"npcs_affected\": [],\n    \"factions_reputation\": {}\n  },\n  \"choices\": [\n    {\"text\":\"Continuar aventura\",\"type\":\"action\"},\n    {\"text\":\"Investigar impacto\",\"type\":\"investigate\"},\n    {\"text\":\"Falar com afetados\",\"type\":\"social\"}\n  ],\n  \"delta_updates\": {\n    \"hp_change\": 0,\n    \"xp_awarded\": NÚMERO_ENTRE_${xpMin}_E_${xpMax},\n    \"gold_change\": 0,\n    \"inventory\": {\"add\":[],\"remove\":[]},\n    \"active_npcs_update\": {\"add\":[],\"remove\":[]},\n    \"location_update\": \"\",\n    \"in_combat\": false,\n    \"combat_target\": null,\n    \"status_effects_update\": {\"add\":[],\"remove\":[]},\n    \"world_flags_update\": {\"set\":{},\"delete\":[]}\n  },\n  \"metadata\": {\"consequence_type\":\"reputation|location|npc|resource|quest\",\"severity\":\"minor|moderate|major|catastrophic\"}\n}`,\n  },\n\n  commerce: {\n    persona: `Você é O MERCADOR de ${sys.name}. Gerencie transações com fair play: preços realistas, NPCs com interesses próprios. O ouro tem peso real — comprar exige gastar, vender gera menos do que o valor do item.`,\n    instructions: `MODO: COMMERCE\n${commonContext}\nAÇÃO: \"${lastPlayerMsg}\"\n${MASTER_RULES}\n\nREGRAS DE ECONOMIA:\n• VENDER: Jogador recebe 40-60% do \"value\" do item (NPCs não pagam preço cheio).\n• COMPRAR: Jogador paga o \"value\" cheio do item + margem do vendedor (10-30%).\n• NEGOCIAR: Teste de ${sys.skills[2]} vs DC ${13 + diff.diffMod} pode melhorar o preço em até 20%.\n• Ouro atual: ${gold}g — NÃO permita compras que deixem gold negativo.\n• Itens únicos (rarity: rare/legendary) têm preço 2-3× o value base.\n• DESCANSO em taverna custa ouro: nível ${level} × ${Math.max(2, Math.round(3 * diff.goldMult))}g por noite.\n• \"type\" só aceita: consumable | weapon | armor | misc\n• Itens equipáveis comprados DEVEM ter em effect_data: is_equippable, equip_slot, icon, stats\n• Itens não equipáveis: \"is_equippable\": false\n\nITENS DISPONÍVEIS PARA COMPRAR (gere 3-5 baseados no local e nível):\n  Estilo: ${sys.itemStyle} | Nível: ${level} | Local: ${currentLocation}\n\nINVENTÁRIO DO JOGADOR (para vender):\n${inventoryContext}\n\nSCHEMA JSON:\n{\n  \"narrative\": \"Cena da transação com personalidade do vendedor.\",\n  \"shop_inventory\": [\n    {\"name\":\"\",\"description\":\"\",\"type\":\"consumable|weapon|armor|misc\",\"price\":0,\"value\":0,\"quantity\":1}\n  ],\n  \"choices\": [\n    {\"text\":\"Comprar [item]\",\"type\":\"buy\",\"item_name\":\"\",\"cost\":0},\n    {\"text\":\"Vender [item do inventário]\",\"type\":\"sell\",\"item_name\":\"\",\"value\":0},\n    {\"text\":\"Negociar preço\",\"type\":\"social\",\"skillCheck\":\"${sys.skills[2]}\",\"difficulty\":${13 + diff.diffMod},\"diceType\":\"d20\"},\n    {\"text\":\"Ir embora\",\"type\":\"action\"}\n  ],\n  \"delta_updates\": {\n    \"hp_change\": 0,\n    \"xp_awarded\": NÚMERO_ENTRE_${xpMin}_E_${xpMax},\n    \"gold_change\": POSITIVO_se_vendeu_NEGATIVO_se_comprou,\n    \"inventory\": {\"add\":[],\"remove\":[]},\n    \"active_npcs_update\": {\"add\":[],\"remove\":[]}\n  },\n  \"metadata\": {\n    \"transaction_type\": \"buy|sell|negotiate|browse\",\n    \"merchant_name\": \"Nome do vendedor\",\n    \"merchant_mood\": \"amigável|neutro|desconfiado|hostil\"\n  }\n}`,\n  },\n}; // fim de prompts\n\n// =========================================\n// 13. OVERRIDES DE MODO\n// =========================================\nif (inCombatDB && detectedMode === \"narrative\") {\n  detectedMode = \"combat\";\n}\n\nif (detectedMode !== \"combat\" && experience >= nextLevelXp) {\n  detectedMode = \"levelup\";\n}\n\nif (detectedMode === \"narrative\") {\n  const actionLower = lastPlayerMsg.toLowerCase();\n  if (actionLower.match(/vend|compr|loja|mercad|taverna.*pag|negoci|quanto custa|preço/)) {\n    detectedMode = \"commerce\";\n  }\n}\n\n// =========================================\n// 14. VALIDADOR DE JSON DA IA\n// =========================================\nconst JSON_VALIDATOR = {\n  required: [\"narrative\", \"choices\", \"delta_updates\"],\n  types: {\n    narrative:                          \"string\",\n    choices:                            \"array\",\n    \"delta_updates.hp_change\":          \"number\",\n    \"delta_updates.xp_awarded\":         \"number\",\n    \"delta_updates.gold_change\":        \"number\",\n    \"delta_updates.inventory.add\":      \"array\",\n    \"delta_updates.inventory.remove\":   \"array\",\n    \"delta_updates.active_npcs_update.add\":    \"array\",\n    \"delta_updates.active_npcs_update.remove\": \"array\",\n  },\n  bounds: {\n    \"delta_updates.hp_change\":   { min: -9999, max: 9999 },\n    \"delta_updates.xp_awarded\":  { min: 0,     max: xpMax * 2 },\n    \"delta_updates.gold_change\": { min: -9999, max: 9999 },\n  },\n  defaults: {\n    \"delta_updates.hp_change\":              0,\n    \"delta_updates.xp_awarded\":             xpMin,\n    \"delta_updates.gold_change\":            0,\n    \"delta_updates.inventory\":              { add: [], remove: [] },\n    \"delta_updates.active_npcs_update\":     { add: [], remove: [] },\n    \"delta_updates.location_update\":        \"\",\n    \"delta_updates.active_quests_update\":   { add: [], remove: [] },\n    metadata: {},\n  },\n  fallback_narrative: `O Mestre hesita por um momento... e então a cena continua.`,\n  fallback_choices: [\n    { text: \"Continuar\",  type: \"action\" },\n    { text: \"Aguardar\",   type: \"stealth\" },\n    { text: \"Investigar\", type: \"investigate\" },\n  ],\n};\n\n// =========================================\n// 15. SELEÇÃO COM FALLBACK SEGURO\n// =========================================\nconst selected = prompts[detectedMode] || prompts.narrative;\n\n// =========================================\n// 16. RETORNO FINAL\n// FIX: current_npcs adicionado ao parserContext\n// =========================================\nconst parserContext = {\n  story_id:       String(storyData.story_id),\n  system_id:      systemId,\n  difficulty:     difficulty,\n  genres:         genres,\n  character_name: charName,\n  detected_mode:  detectedMode,\n  active_quests: activeQuests,\n\n  original_hp_current: hpCurrent,\n  original_hp_max:     hpMax,\n  original_level:      level,\n  original_xp:         experience,\n  original_gold:       gold,\n  xp_for_next_level:   nextLevelXp,\n\n  // ── FIX: array atual de NPCs para o parser aplicar delta ──\n  current_npcs: activeNPCs,\n\n  xp_range:       { min: xpMin, max: xpMax },\n  gold_delta_base: goldDeltaBase,\n  diff_multipliers: {\n    dmg:  diff.dmgMult,\n    loot: diff.lootMult,\n    xp:   diff.xpMult,\n    gold: diff.goldMult,\n  },\n\n  in_combat_db:     inCombatDB,\n  combat_target_db: combatTargetDB,\n\n  status_effects_after_turn: combatResult?.statusAfterTurn ?? remainingEffects,\n  effects_expired:           combatResult?.expiringEffects ?? expiringEffects,\n\n  json_validator: JSON_VALIDATOR,\n\n  combat_calculated: combatResult\n    ? {\n        player_damage_taken: combatResult.totalPlayerDamageTaken,\n        player_hp_after:     combatResult.playerHpAfter,\n        total_hp_delta:      combatResult.totalHpDelta,\n        enemy_damage_dealt:  combatResult.player.damage,\n        enemy_hp_after:      combatResult.enemyHpAfter,\n        target_died:         combatResult.targetDied,\n        all_enemies_dead:    combatResult.allEnemiesDead,\n        dead_npcs:           combatResult.deadNPCs,\n        gold_dropped:        combatResult.goldDropped,\n        updated_npcs:        combatResult.updatedNPCs,\n        enemy_turns_summary: combatResult.enemyTurns,\n        new_in_combat: !(combatResult.allEnemiesDead || combatResult.playerHpAfter <= 0),\n        new_combat_target:\n          combatResult.allEnemiesDead || combatResult.targetDied ? null : targetName,\n      }\n    : null,\n};\n\nreturn {\n  json: {\n    ai_request: {\n      model: \"mistral-large-latest\",\n      messages: [\n        { role: \"system\", content: selected.persona },\n        { role: \"user\",   content: selected.instructions },\n      ],\n      temperature:\n        detectedMode === \"combat\"  ? 0.45 :\n        detectedMode === \"levelup\" ? 0.85 : 0.72,\n      max_tokens: detectedMode === \"narrative\" ? 4000 : 3000,\n      response_format: { type: \"json_object\" },\n      metadata: {\n        story_id:       String(storyData.story_id),\n        prompt_version: \"6.1\",\n        detected_mode:  String(detectedMode),\n        character_name: String(charName),\n        system_id:      String(systemId),\n        difficulty:     String(difficulty),\n        level:          String(level),\n      },\n    },\n    parser_context: parserContext,\n  },\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1424,-656],"id":"1d4e13a7-c86a-4792-bcea-05541bee806b","name":"Code in JavaScript5"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"mistralCloudApi","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.ai_request) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-1264,-656],"id":"d8bc0f7b-2c56-48bd-8992-954295420ae2","name":"HTTP Request10","credentials":{"mistralCloudApi":{"id":"HbOWghtcXEf7jxxj","name":"Mistral Cloud account"},"openRouterApi":{"id":"mCdp8OcIGuBAlyxd","name":"OpenRouter account"}}},{"parameters":{"jsCode":"// =========================================\n// PARSER PÓS-IA — V6.1\n// Lê o response do Mistral + parser_context do Mestre\n// Sanitiza, valida, aplica combat_calculated\n// e monta os updates exatos para cada tabela do banco\n//\n// V6.1: equipment gerenciado pelo front-end\n//       itens equipáveis carregam em effect_data:\n//       { is_equippable, equip_slot, icon, damage|armor }\n// FIX: current_npcs lido de ctx (não mais linha solta inválida)\n// FIX: NPCs adicionados recebem HP automático baseado no nível\n// =========================================\n\n// =========================================\n// 1. FONTES DE DADOS\n// =========================================\nconst aiRaw = $input.first().json;\nconst ctx = $(\"Code in JavaScript5\").first().json.parser_context;\n\nconst storyId = ctx.story_id;\nconst mode = ctx.detected_mode;\nconst validator = ctx.json_validator;\nconst calc = ctx.combat_calculated;\n\n// =========================================\n// 2. PARSE E SANITIZAÇÃO\n// =========================================\nlet rawText = \"\";\ntry {\n  rawText = aiRaw.choices[0].message.content || \"\";\n} catch (e) {}\n\nlet aiResponse = null;\ntry {\n  const cleaned = rawText\n    .replace(/```json/gi, \"\")\n    .replace(/```/g, \"\")\n    .trim();\n  aiResponse = JSON.parse(cleaned);\n} catch (e) {\n  console.log(\"⚠️ JSON da IA inválido, usando fallback. Erro: \" + e.message);\n  aiResponse = {\n    narrative: validator.fallback_narrative,\n    choices: validator.fallback_choices,\n    delta_updates: {},\n  };\n}\n\nconst du = aiResponse.delta_updates || {};\n\nfunction safeGet(obj, path, expectedType, defaultVal) {\n  const parts = path.split(\".\");\n  let cursor = obj;\n  for (const p of parts) {\n    if (cursor == null || typeof cursor !== \"object\") return defaultVal;\n    cursor = cursor[p];\n  }\n  if (cursor == null) return defaultVal;\n  if (expectedType === \"number\") {\n    const n = Number(cursor);\n    return isNaN(n) ? defaultVal : n;\n  }\n  if (expectedType === \"string\")\n    return typeof cursor === \"string\" ? cursor : String(cursor);\n  if (expectedType === \"boolean\")\n    return typeof cursor === \"boolean\" ? cursor : Boolean(cursor);\n  if (expectedType === \"array\")\n    return Array.isArray(cursor) ? cursor : defaultVal;\n  return cursor;\n}\n\nfunction clip(n, min, max) {\n  return Math.max(min, Math.min(max, n));\n}\n\n// =========================================\n// 2d. EXTRAIR CAMPOS\n// =========================================\nconst narrative = safeGet(\n  aiResponse,\n  \"narrative\",\n  \"string\",\n  validator.fallback_narrative,\n);\nconst choices = safeGet(\n  aiResponse,\n  \"choices\",\n  \"array\",\n  validator.fallback_choices,\n);\n\n// Renomeia campos camelCase → snake_case para o banco\nconst choicesMapped = choices.map((c) => ({\n  story_id: storyId,\n  text: c.text,\n  type: c.type,\n  skill_check: c.skillCheck ?? c.skill_check ?? null,\n  difficulty: c.difficulty ?? null,\n  dice_type: c.diceType ?? c.dice_type ?? null,\n}));\n\nlet hpChange = clip(\n  safeGet(du, \"hp_change\", \"number\", 0),\n  validator.bounds[\"delta_updates.hp_change\"].min,\n  validator.bounds[\"delta_updates.hp_change\"].max,\n);\nlet xpAwarded = clip(\n  safeGet(du, \"xp_awarded\", \"number\", 0),\n  validator.bounds[\"delta_updates.xp_awarded\"].min,\n  validator.bounds[\"delta_updates.xp_awarded\"].max,\n);\nlet goldChange = clip(\n  safeGet(du, \"gold_change\", \"number\", 0),\n  validator.bounds[\"delta_updates.gold_change\"].min,\n  validator.bounds[\"delta_updates.gold_change\"].max,\n);\n\nconst invAdd = safeGet(du, \"inventory.add\", \"array\", []);\nconst invRemove = safeGet(du, \"inventory.remove\", \"array\", []);\n\nconst npcsAdd = safeGet(du, \"active_npcs_update.add\", \"array\", []);\nconst npcsRemove = safeGet(du, \"active_npcs_update.remove\", \"array\", []);\n\nconst locationUpdate = safeGet(du, \"location_update\", \"string\", \"\");\nconst questsAdd = safeGet(du, \"active_quests_update.add\", \"array\", []);\nconst questsRemove = safeGet(du, \"active_quests_update.remove\", \"array\", []);\n\nconst worldFlagsSet = du.world_flags_update?.set ?? {};\nconst worldFlagsDelete = safeGet(du, \"world_flags_update.delete\", \"array\", []);\n\nconst statusEffectsAdd = safeGet(du, \"status_effects_update.add\", \"array\", []);\nconst statusEffectsRemove = safeGet(\n  du,\n  \"status_effects_update.remove\",\n  \"array\",\n  [],\n);\n\nconst inCombatAI = safeGet(du, \"in_combat\", \"boolean\", false);\nconst combatTargetAI = safeGet(du, \"combat_target\", \"string\", \"\");\n\n// =========================================\n// 3. APLICAR COMBAT_CALCULATED\n// =========================================\nlet finalHpChange = hpChange;\nlet finalGoldChange = goldChange;\nlet finalInCombat = inCombatAI;\nlet finalCombatTarget = combatTargetAI || null;\nlet finalNpcsRemove = [...npcsRemove];\nlet finalUpdatedNpcs = null;\nlet finalStatusAfter = ctx.status_effects_after_turn;\n\nif (calc) {\n  finalHpChange = calc.total_hp_delta;\n  finalGoldChange = calc.gold_dropped ?? 0;\n  finalInCombat = calc.new_in_combat;\n  finalCombatTarget = calc.new_combat_target ?? null;\n\n  if (calc.dead_npcs?.length) {\n    const existing = new Set(finalNpcsRemove);\n    calc.dead_npcs.forEach((n) => existing.add(n));\n    finalNpcsRemove = Array.from(existing);\n  }\n  finalUpdatedNpcs = calc.updated_npcs;\n}\n\n// =========================================\n// 4. CALCULAR NOVOS VALORES\n// =========================================\nconst origHp = ctx.original_hp_current;\nconst origHpMax = ctx.original_hp_max;\nconst origXp = ctx.original_xp;\nconst origGold = ctx.original_gold;\nconst origLevel = ctx.original_level;\nconst xpForNext = ctx.xp_for_next_level;\n\nconst newHpCurrent = Math.max(0, Math.min(origHpMax, origHp + finalHpChange));\nconst newXp = Math.max(origXp, origXp + xpAwarded);\nconst newGold = Math.max(0, origGold + finalGoldChange);\nconst shouldLevel = newXp >= xpForNext && mode !== \"levelup\";\n\n// =========================================\n// 5. MONTAR UPDATES\n// =========================================\n\n// ── 5a. stories ─────────────────────────\nconst storiesUpdate = {\n  hp_current: newHpCurrent,\n  experience: newXp,\n  gold: newGold,\n  in_combat: finalInCombat,\n  combat_target: finalCombatTarget,\n  status_effects: buildNewStatusEffects(\n    finalStatusAfter,\n    statusEffectsAdd,\n    statusEffectsRemove,\n  ),\n};\n\nif (locationUpdate && locationUpdate.trim() !== \"\") {\n  storiesUpdate.current_location = locationUpdate.trim();\n}\n\nif (finalUpdatedNpcs) {\n  // Caso 1: lista completa atualizada vinda do combat calc (já tem HP encoded)\n  storiesUpdate.active_npcs = finalUpdatedNpcs.filter(\n    (npc) =>\n      !finalNpcsRemove.includes(npc.replace(/\\s*\\[HP:\\d+\\/\\d+\\]/, \"\").trim()),\n  );\n} else if (npcsAdd.length || finalNpcsRemove.length) {\n  // Caso 2: aplica delta (add/remove) no array atual\n  // current_npcs vem do parserContext (Mestre V6.1)\n  const currentNPCs = Array.isArray(ctx.current_npcs) ? ctx.current_npcs : [];\n\n  // Remove os NPCs marcados para remoção (compara nome sem HP)\n  const afterRemove = currentNPCs.filter((npc) => {\n    const cleanName = npc.replace(/\\s*\\[HP:\\d+\\/\\d+\\]/, \"\").trim();\n    return !finalNpcsRemove.includes(cleanName);\n  });\n\n  // Adiciona novos NPCs com HP gerado automaticamente\n  const afterAdd = [\n    ...afterRemove,\n    ...npcsAdd\n      .filter((newNpc) => {\n        // Evita duplicatas (compara nome limpo)\n        const cleanNew = newNpc.replace(/\\s*\\[HP:\\d+\\/\\d+\\]/, \"\").trim();\n        return !afterRemove.some(\n          (existing) =>\n            existing.replace(/\\s*\\[HP:\\d+\\/\\d+\\]/, \"\").trim() === cleanNew,\n        );\n      })\n      .map((newNpc) => {\n        // Se já vier com HP encoded, mantém como está\n        if (/\\[HP:\\d+\\/\\d+\\]/.test(newNpc)) return newNpc;\n        // Gera HP baseado no nível: base 10 + (nível × 5) + variação 1d6-3\n        const baseHp = 10 + origLevel * 5;\n        const roll = Math.floor(Math.random() * 6) + 1; // 1d6\n        const hp = Math.max(5, baseHp + roll - 3);\n        return `${newNpc} [HP:${hp}/${hp}]`;\n      }),\n  ];\n\n  storiesUpdate.active_npcs = afterAdd;\n}\n\nif (questsAdd.length || questsRemove.length) {\n  const currentQuests = Array.isArray(ctx.active.quests)\n    ? ctx.active.quests\n    : [];\n\n  // Remove as quests marcadas para remoção\n  const afterQuestRemove = currentQuests.filter(\n    (quest) => !questsRemove.includes(quest),\n  );\n\n  // Adiciona as novas quests (evitando duplicatas com o que já sobrou)\n  const afterQuestAdd = [\n    ...afterQuestRemove,\n    ...questsAdd.filter((newQuest) => !afterQuestRemove.includes(newQuest)),\n  ];\n\n  storiesUpdate.active_quests = afterQuestAdd;\n}\n\n// ── 5b. messages ────────────────────────\nconst messageInsert = {\n  story_id: storyId,\n  sender: \"narrator\",\n  content: narrative,\n  choices: choicesMapped, // ← era choices\n  mode: mode,\n  combat_log: mode === \"combat\" ? (aiResponse.combat_log ?? null) : null,\n  level_up_choices:\n    mode === \"levelup\" ? (aiResponse.level_up_choices ?? null) : null,\n  shop_inventory:\n    mode === \"commerce\" ? (aiResponse.shop_inventory ?? null) : null,\n};\n\n// ── 5c. items ───────────────────────────\nconst VALID_INV_TYPES = [\"consumable\", \"weapon\", \"armor\", \"misc\"];\nconst INV_TYPE_FALLBACK = {\n  equipment: \"weapon\",\n  potion: \"consumable\",\n  food: \"consumable\",\n  quest_item: \"misc\",\n  tool: \"misc\",\n};\n\nconst itemsToAdd = invAdd.map((item) => {\n  let safeType = (item.type || \"misc\").toLowerCase();\n  if (!VALID_INV_TYPES.includes(safeType))\n    safeType = INV_TYPE_FALLBACK[safeType] || \"misc\";\n\n  const effectData = item.effect_data || {};\n  if (\n    (safeType === \"weapon\" || safeType === \"armor\") &&\n    effectData.is_equippable === undefined\n  ) {\n    effectData.is_equippable = true;\n    if (!effectData.equip_slot)\n      effectData.equip_slot = safeType === \"weapon\" ? \"main_hand\" : \"body\";\n    if (!effectData.icon) effectData.icon = safeType === \"weapon\" ? \"⚔️\" : \"🛡️\";\n  }\n  if (safeType === \"consumable\" || safeType === \"misc\") {\n    effectData.is_equippable = false;\n  }\n\n  return {\n    story_id: storyId,\n    name: item.name || \"Item desconhecido\",\n    description: item.description || \"\",\n    quantity: Math.max(1, parseInt(item.quantity) || 1),\n    type: safeType,\n    effect_data: effectData,\n    value: parseInt(item.value) || 0,\n  };\n});\n\nconst itemNamesToRemove = invRemove\n  .map((i) => (typeof i === \"string\" ? i : i.name))\n  .filter(Boolean);\n\n// ── 5d. world_flags ─────────────────────\nconst worldFlagsToUpsert = Object.entries(worldFlagsSet)\n  .filter(([, value]) => value !== null && value !== undefined)\n  .map(([key, value]) => ({\n    story_id: storyId,\n    flag_key: key,\n    flag_value: value ?? false,\n  }));\nconst worldFlagsToDelete = worldFlagsDelete.filter(Boolean);\n\n// ── 5e. level up ────────────────────────\nconst levelUpPending = shouldLevel\n  ? {\n      story_id: storyId,\n      new_level: origLevel + 1,\n      xp_over: newXp - xpForNext,\n    }\n  : null;\n\n// =========================================\n// 6. HELPER status_effects\n// =========================================\nfunction buildNewStatusEffects(afterTurn, toAdd, toRemoveIds) {\n  let result = Array.isArray(afterTurn) ? [...afterTurn] : [];\n  if (Array.isArray(toAdd)) {\n    toAdd.forEach((ef) => {\n      if (ef.id && !result.find((e) => e.id === ef.id)) result.push(ef);\n    });\n  }\n  if (Array.isArray(toRemoveIds)) {\n    result = result.filter((e) => !toRemoveIds.includes(e.id));\n  }\n  return result;\n}\n\n// =========================================\n// 7. RETORNO\n// =========================================\nreturn {\n  json: {\n    story_id: storyId,\n    detected_mode: mode,\n\n    // ── Resposta da IA ─────────────────────────────────────\n    ai_response: {\n      narrative,\n      choices: choicesMapped,\n      combat_log: messageInsert.combat_log,\n      level_up_choices: messageInsert.level_up_choices,\n      shop_inventory: messageInsert.shop_inventory,\n      metadata: aiResponse.metadata ?? {},\n    },\n\n    // ── PATCH stories ──────────────────────────────────────\n    stories_update: storiesUpdate,\n\n    // ── POST messages ──────────────────────────────────────\n    message_insert: messageInsert,\n\n    // ── POST items ─────────────────────────────────────────\n    items_to_add: itemsToAdd,\n\n    // ── DELETE items ───────────────────────────────────────\n    items_to_remove: itemNamesToRemove,\n\n    // ── UPSERT world_flags ─────────────────────────────────\n    world_flags_upsert: worldFlagsToUpsert,\n\n    // ── DELETE world_flags ─────────────────────────────────\n    world_flags_delete: worldFlagsToDelete,\n\n    // ── Level Up trigger ───────────────────────────────────\n    level_up_pending: levelUpPending,\n\n    // ── Debug ──────────────────────────────────────────────\n    summary: {\n      quests_active:        storiesUpdate.active_quests ? storiesUpdate.active_quests.length : (ctx.active_quests?.length || 0), \n      hp: `${origHp} → ${newHpCurrent}/${origHpMax}  (Δ${finalHpChange})`,\n      xp: `${origXp} → ${newXp}  (+${xpAwarded})`,\n      gold: `${origGold} → ${newGold}  (Δ${finalGoldChange})`,\n      in_combat: finalInCombat,\n      combat_target: finalCombatTarget,\n      items_added: itemsToAdd.length,\n      items_removed: itemNamesToRemove.length,\n      npcs_added: npcsAdd.length,\n      npcs_removed: finalNpcsRemove,\n      flags_set: Object.keys(worldFlagsSet).length,\n      flags_deleted: worldFlagsToDelete.length,\n      level_up: shouldLevel,\n      status_effects_count: storiesUpdate.status_effects.length,\n    },\n  },\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1104,-656],"id":"80506223-3e6d-4b1e-ae13-77b16354a79d","name":"Code in JavaScript6"},{"parameters":{"method":"POST","url":"https://jmjezldxisifcdjacwnb.supabase.co/rest/v1/world_flags","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.choices }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-2080,-400],"id":"ae9d7ca5-4a25-41e8-a007-c1695dda333f","name":"HTTP Request11","credentials":{"supabaseApi":{"id":"3ssV9qtsZUAklVtZ","name":"Supabase account 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"85b1c338-38cc-4c13-a1c8-ea08c32e04d4","leftValue":"={{$json.world_flags.length}}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-2272,-384],"id":"e4a47154-ffde-49f2-a0c9-e422590df5f3","name":"If"},{"parameters":{"method":"PATCH","url":"https://jmjezldxisifcdjacwnb.supabase.co/rest/v1/stories","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendQuery":true,"specifyQuery":"json","jsonQuery":"={\n  \"id\": \"eq.{{ $json.story_id }}\"\n}","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.stories_update }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-880,-1040],"id":"b6f4f0b1-5ce9-4a0a-a6ce-636b24e9dfa8","name":"HTTP Request23","credentials":{"supabaseApi":{"id":"3ssV9qtsZUAklVtZ","name":"Supabase account 2"}}},{"parameters":{"method":"POST","url":"https://jmjezldxisifcdjacwnb.supabase.co/rest/v1/messages","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{\n{\n  \"story_id\":$json.message_insert.story_id,\n  \"sender\":$json.message_insert.sender,\n  \"content\":$json.message_insert.content\n}\n}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-880,-768],"id":"e61fba3a-4c6f-4a9e-bee3-68300964c204","name":"HTTP Request12","credentials":{"supabaseApi":{"id":"3ssV9qtsZUAklVtZ","name":"Supabase account 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1c4b3e26-f6ad-472d-9fe3-9630d6cbe489","leftValue":"={{ $json.items_to_add.length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-880,-624],"id":"9b8a03e2-dbfe-4128-9a3e-8c56f5c94219","name":"If1"},{"parameters":{"method":"POST","url":"https://jmjezldxisifcdjacwnb.supabase.co/rest/v1/items","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.items_to_add }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-720,-624],"id":"a3c92d6a-55b6-4d26-bfd8-6d12aef8ed70","name":"HTTP Request13","credentials":{"supabaseApi":{"id":"3ssV9qtsZUAklVtZ","name":"Supabase account 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1c4b3e26-f6ad-472d-9fe3-9630d6cbe489","leftValue":"={{ $json.items_to_remove.length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-880,-464],"id":"a5d1b78e-c0fb-4485-85e8-b02d7e2ca20f","name":"If2"},{"parameters":{"method":"DELETE","url":"https://jmjezldxisifcdjacwnb.supabase.co/rest/v1/items","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"story_id","value":"=eq.{{ $json.story_id }}"},{"name":"name","value":"=in.({{ $json.items_to_remove[0] }})"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{\n  {\n    \"story_id\": $json.story_id,\n    \"names\": $json.items_to_remove\n  }\n}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-720,-464],"id":"8b980961-2ca8-464a-81a4-44a934b395c1","name":"HTTP Request14","credentials":{"supabaseApi":{"id":"3ssV9qtsZUAklVtZ","name":"Supabase account 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1c4b3e26-f6ad-472d-9fe3-9630d6cbe489","leftValue":"={{ $json.world_flags_upsert.length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-880,-320],"id":"a70ce6a0-8980-457b-9540-7a42cbac9b21","name":"If3"},{"parameters":{"method":"POST","url":"https://jmjezldxisifcdjacwnb.supabase.co/rest/v1/world_flags","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"resolution=merge-duplicates"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.world_flags_upsert }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-720,-320],"id":"35dca8a3-ddeb-42b6-b22d-afdca865f6d9","name":"HTTP Request15","credentials":{"supabaseApi":{"id":"3ssV9qtsZUAklVtZ","name":"Supabase account 2"}}},{"parameters":{"method":"DELETE","url":"https://jmjezldxisifcdjacwnb.supabase.co/rest/v1/world_flags","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"story_id\": \"{{ $json.story_id }}\",\n  \"flag_keys\": {{ $json.world_flags_delete }}\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-720,-160],"id":"ade6a97a-9ff9-4a91-a070-165e37222fe4","name":"HTTP Request16","credentials":{"supabaseApi":{"id":"3ssV9qtsZUAklVtZ","name":"Supabase account 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1c4b3e26-f6ad-472d-9fe3-9630d6cbe489","leftValue":"={{ $json.world_flags_delete.length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-880,-160],"id":"a2d51ee5-d025-42e9-9a0f-6995a27eadc1","name":"If4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1c4b3e26-f6ad-472d-9fe3-9630d6cbe489","leftValue":"={{ $json.level_up_pending }}","rightValue":0,"operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-880,-16],"id":"c9f0f0fc-f448-4d3d-b3de-7747c7dfd020","name":"If5"},{"parameters":{"method":"PATCH","url":"https://jmjezldxisifcdjacwnb.supabase.co/rest/v1/stories","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendQuery":true,"specifyQuery":"json","jsonQuery":"={\n  \"id\": \"eq.{{ $json.level_up_pending.story_id }}\"\n}","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.level_up_pending }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-720,-16],"id":"6ebfc1c7-6bb9-4046-99e1-639e1dc13b0e","name":"HTTP Request24","credentials":{"supabaseApi":{"id":"3ssV9qtsZUAklVtZ","name":"Supabase account 2"}}},{"parameters":{"method":"POST","url":"https://jmjezldxisifcdjacwnb.supabase.co/rest/v1/choices","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.ai_response.choices }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-880,-912],"id":"f307ad1a-15bf-4eaa-b9f1-0c8a28bb3612","name":"HTTP Request17","credentials":{"supabaseApi":{"id":"3ssV9qtsZUAklVtZ","name":"Supabase account 2"}}},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"mistralCloudApi","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.ai_request) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-2576,-800],"id":"48ed03b7-2852-456c-97c4-dc38ee4d98fd","name":"HTTP Request18","credentials":{"mistralCloudApi":{"id":"HbOWghtcXEf7jxxj","name":"Mistral Cloud account"},"openRouterApi":{"id":"mCdp8OcIGuBAlyxd","name":"OpenRouter account"}}}],"connections":{"Webhook":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"HTTP Request18","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"HTTP Request","type":"main","index":0},{"node":"HTTP Request2","type":"main","index":0},{"node":"HTTP Request3","type":"main","index":0},{"node":"HTTP Request4","type":"main","index":0},{"node":"HTTP Request22","type":"main","index":0},{"node":"If","type":"main","index":0}]]},"HTTP Request":{"main":[[]]},"HTTP Request2":{"main":[[]]},"Webhook1":{"main":[[{"node":"HTTP Request5","type":"main","index":0}]]},"HTTP Request5":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"HTTP Request6","type":"main","index":0}]]},"HTTP Request6":{"main":[[{"node":"Code in JavaScript3","type":"main","index":0}]]},"Code in JavaScript3":{"main":[[{"node":"HTTP Request7","type":"main","index":0}]]},"Webhook2":{"main":[[{"node":"HTTP Request8","type":"main","index":0}]]},"HTTP Request8":{"main":[[{"node":"Code in JavaScript4","type":"main","index":0}]]},"Code in JavaScript4":{"main":[[{"node":"HTTP Request9","type":"main","index":0}]]},"HTTP Request9":{"main":[[{"node":"Code in JavaScript5","type":"main","index":0}]]},"Code in JavaScript5":{"main":[[{"node":"HTTP Request10","type":"main","index":0}]]},"HTTP Request10":{"main":[[{"node":"Code in JavaScript6","type":"main","index":0}]]},"HTTP Request11":{"main":[[]]},"If":{"main":[[{"node":"HTTP Request11","type":"main","index":0}]]},"Code in JavaScript6":{"main":[[{"node":"HTTP Request23","type":"main","index":0},{"node":"HTTP Request12","type":"main","index":0},{"node":"If1","type":"main","index":0},{"node":"If2","type":"main","index":0},{"node":"If3","type":"main","index":0},{"node":"If4","type":"main","index":0},{"node":"HTTP Request17","type":"main","index":0},{"node":"If5","type":"main","index":0}]]},"HTTP Request12":{"main":[[]]},"If1":{"main":[[{"node":"HTTP Request13","type":"main","index":0}]]},"If2":{"main":[[{"node":"HTTP Request14","type":"main","index":0}]]},"If3":{"main":[[{"node":"HTTP Request15","type":"main","index":0}]]},"If4":{"main":[[{"node":"HTTP Request16","type":"main","index":0}]]},"If5":{"main":[[{"node":"HTTP Request24","type":"main","index":0}]]},"HTTP Request18":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook2":[{"json":{"headers":{"host":"localhost:5678","connection":"keep-alive","content-type":"application/json","api-rpg":"1a989b28-6d5d-42ac-b66a-c06368651685","accept":"*/*","accept-language":"*","sec-fetch-mode":"cors","user-agent":"node","accept-encoding":"gzip, deflate","content-length":"51"},"params":{},"query":{},"body":{"story_id":"c6d9483d-640f-4d97-a539-47cc6e84f1a6"},"webhookUrl":"http://localhost:5678/webhook/storie","executionMode":"production"},"pairedItem":{"item":0}}],"Webhook":[{"json":{"headers":{"host":"localhost:5678","connection":"keep-alive","content-type":"application/json","api-rpg":"1a989b28-6d5d-42ac-b66a-c06368651685","accept":"*/*","accept-language":"*","sec-fetch-mode":"cors","user-agent":"node","accept-encoding":"gzip, deflate","content-length":"51"},"params":{},"query":{},"body":{"story_id":"105ff297-2ac3-4f3e-80d1-678b913f0e49"},"webhookUrl":"http://localhost:5678/webhook/start-game","executionMode":"production"},"pairedItem":{"item":0}}]},"versionId":"019a5112-ec0c-4db6-84e6-9288b27c4d76","activeVersionId":"019a5112-ec0c-4db6-84e6-9288b27c4d76","versionCounter":1482,"triggerCount":3,"tags":[],"shared":[{"updatedAt":"2026-02-12T23:37:50.693Z","createdAt":"2026-02-12T23:37:50.693Z","role":"workflow:owner","workflowId":"NTeI9lc3Cy5QgHP9","projectId":"xNzfUbK30939khXb","project":{"updatedAt":"2026-02-12T23:20:05.150Z","createdAt":"2026-02-12T23:16:10.000Z","id":"xNzfUbK30939khXb","name":"Gabriel Cocovilo <gabrielcocovilo25@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"28e24eb4-bc65-4b50-951b-e468d81c4a24"}}]}]