back-n8n/workflows.json
[{"updatedAt":"2026-02-20T16:52:26.417Z","createdAt":"2026-02-12T23:37:50.687Z","id":"NTeI9lc3Cy5QgHP9","name":"My workflow","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"start-game","authentication":"headerAuth","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-2864,-800],"id":"3253eb8b-b254-4f4b-868b-6f7ffdffc025","name":"Webhook","webhookId":"c276927c-c353-4394-a031-8f53cdf56f8f","credentials":{"httpHeaderAuth":{"id":"vUs8rqLIlN9NCNTc","name":"Header Auth account"}}},{"parameters":{"jsCode":"// =========================================\n// GERAÇÃO DE AVENTURA INICIAL — V7.0\n//\n// MELHORIAS vs V6.0:\n// [1] Narrativa e local OBRIGADOS a respeitar os gêneros escolhidos\n// [2] Choices dinâmicas — geradas pela IA baseadas na classe e contexto\n// [3] Equipment schema revisado: arma com damage_dice + status_bonus (primário da classe)\n//     armadura com armor (CA) + status_bonus (varia por tipo/classe)\n// [4] Mapeamento de atributo primário por classe como EXEMPLOS — IA decide pelo contexto\n// [5] Regras anti-repetição de local e narrativa\n// [6] Temperature elevada para 0.90 para maior variação criativa\n// =========================================\n\n// =========================================\n// 1. CAPTURA E VALIDAÇÃO DE DADOS DO WEBHOOK\n// =========================================\nconst body = $input.item.json.body || {};\n\nconst charName   = (body.character_name || \"Viajante\").trim();\nconst className  = (body.class_name     || \"Aventureiro\").trim();\nconst systemId   = body.system || \"dnd\";\nconst genres     = Array.isArray(body.genres)\n  ? body.genres.join(\", \")\n  : (body.genres || \"Aventura\");\nconst background = (body.background || \"Uma figura misteriosa sem passado conhecido.\").trim();\n\nconst validDifficulties = [\"easy\", \"normal\", \"hard\", \"impossible\"];\nconst difficulty = validDifficulties.includes(body.difficulty)\n  ? body.difficulty\n  : \"normal\";\n\nconst storyId = body.story_id;\nif (!storyId) {\n  throw new Error(\"story_id é obrigatório e não foi fornecido no webhook\");\n}\n\n// =========================================\n// 2. MAPEAMENTO DE SISTEMAS\n// =========================================\nconst rpgSystems = {\n  dnd: {\n    name:       \"Dungeons & Dragons 5ª Edição\",\n    tone:       \"épico e fantástico\",\n    setting:    \"Reinos com ruínas antigas, masmorras perigosas e magia selvagem\",\n    itemStyle:  \"medieval-fantástico\",\n    skills:     [\"Força\", \"Destreza\", \"Constituição\", \"Intelecto\", \"Sabedoria\", \"Carisma\"],\n    threats:    \"dragões, necromantes, cultos demoníacos, mortos-vivos\",\n    atmosphere: \"grandiosa, com conflitos entre bem e mal claramente definidos\",\n    npcHpBase:  12,\n    primaryExamples: \"Guerreiro→FOR, Mago→INT, Ladino→DES, Clérigo→SAB, Paladino→CAR, Bardo→CAR, Patrulheiro→DES, Feiticeiro→INT\",\n  },\n  cyber: {\n    name:       \"Cyberpunk Red\",\n    tone:       \"noir tecnológico e conspiratório\",\n    setting:    \"Megacidades controladas por corporações, onde humano e máquina se dissolvem\",\n    itemStyle:  \"high-tech corporativo\",\n    skills:     [\"Reflexos\", \"Técnica\", \"Corpo\", \"Intelecto\", \"Vontade\", \"Empatia\"],\n    threats:    \"corporações predatórias, gangues de rua, IAs renegadas, netrunners hostis\",\n    atmosphere: \"claustrofóbica e paranoica, onde todos têm segundas intenções\",\n    npcHpBase:  14,\n    primaryExamples: \"Solo→REF, Netrunner→INT, Techie→TEC, Rockerboy→EMP, Nomad→CORPO, Medtech→INT, Corpo→CAR\",\n  },\n  vampire: {\n    name:       \"Vampire: The Masquerade\",\n    tone:       \"sombrio e intimista\",\n    setting:    \"Metrópoles noturnas governadas pela Camarilla, onde a Máscara oculta a verdade\",\n    itemStyle:  \"urbano-oculto\",\n    skills:     [\"Físico\", \"Social\", \"Mental\", \"Presença\", \"Manipulação\", \"Carisma\"],\n    threats:    \"caçadores da Segunda Inquisição, Sabbat fanáticos, a Besta interior, traição política\",\n    atmosphere: \"gótica e introspectiva, explorando a perda de humanidade\",\n    npcHpBase:  16,\n    primaryExamples: \"Brujah→FIS, Toreador→SOC, Ventrue→MAN, Nosferatu→MEN, Malkavian→MEN, Tremere→MEN\",\n  },\n  fallout: {\n    name:       \"Fallout RPG\",\n    tone:       \"pós-apocalíptico com humor negro\",\n    setting:    \"América devastada por guerra nuclear, onde a civilização renasce entre ruínas\",\n    itemStyle:  \"sucata funcional\",\n    skills:     [\"Força\", \"Percepção\", \"Resistência\", \"Carisma\", \"Intelecto\", \"Agilidade\", \"Sorte\"],\n    threats:    \"mutantes irradiados, saqueadores, supermutantes, corporações pré-guerra reativadas\",\n    atmosphere: \"retrofuturista e satírica, equilibrando horror e esperança\",\n    npcHpBase:  15,\n    primaryExamples: \"Vault Dweller→INT, Brotherhood Initiate→FOR, Wasteland Doctor→INT, Raider→FOR, Ghoul→RES, Mercenary→AGI\",\n  },\n};\nconst sys = rpgSystems[systemId] || rpgSystems.dnd;\n\n// =========================================\n// 3. BALANCEAMENTO DE DIFICULDADE\n// =========================================\nconst difficultyConfig = {\n  easy:       { label: \"Narrativa\",   diffMod: -3, desc: \"Foco na história, combates evitáveis\",  hpMult: 0.8 },\n  normal:     { label: \"Equilibrado\", diffMod:  0, desc: \"Desafio justo com risco moderado\",       hpMult: 1.0 },\n  hard:       { label: \"Difícil\",     diffMod: +3, desc: \"Desafios brutais e recursos escassos\",   hpMult: 1.2 },\n  impossible: { label: \"Pesadelo\",    diffMod: +5, desc: \"Morte iminente, sobrevivência incerta\",  hpMult: 1.5 },\n};\nconst diff = difficultyConfig[difficulty];\nconst npcHp = Math.round(sys.npcHpBase * diff.hpMult);\n\n// =========================================\n// 4. PERSONA DO SYSTEM (IA)\n// =========================================\nconst systemPersona = `Você é um Game Master veterano com 20+ anos de experiência em ${sys.name}.\n\nSEU PAPEL:\n- Criar o cenário inicial imersivo, único e memorável respeitando OBRIGATORIAMENTE o tom e os gêneros fornecidos\n- Definir o estado inicial COMPLETO do mundo para que o engine de jogo funcione\n- Gerar NPCs com HP codificado no formato exigido\n- Todos os campos do JSON são OBRIGATÓRIOS — engine quebra se algum faltar\n\nREGRA DE OURO:\nCada aventura deve ser ÚNICA. Local, narrativa, NPCs e escolhas NUNCA devem ser genéricos ou repetir padrões anteriores.\nOs gêneros escolhidos pelo jogador DEFINEM a identidade da história — ignore-os e a aventura falha.\n\nRetorne EXCLUSIVAMENTE um objeto JSON válido. Nenhum texto antes ou depois.`;\n\n// =========================================\n// 5. INSTRUÇÕES DETALHADAS\n// =========================================\nconst userInstructions = `\n╔══════════════════════════════════════════════════════════════╗\n║             GERAÇÃO DE AVENTURA INICIAL V7.0                 ║\n╚══════════════════════════════════════════════════════════════╝\n\nPERSONAGEM:\n• Nome: ${charName}\n• Classe/Arquétipo: ${className}\n• Background: ${background}\n\nSISTEMA & CONFIGURAÇÃO:\n• RPG: ${sys.name}\n• Setting base: ${sys.setting}\n• Tom: ${sys.tone}\n• Atmosfera: ${sys.atmosphere}\n• Gênero(s) OBRIGATÓRIOS: ${genres}\n\nDIFICULDADE: ${diff.label} — ${diff.desc}\n• Modificador de Desafio: ${diff.diffMod >= 0 ? \"+\" : \"\"}${diff.diffMod}\n\n╔══════════════════════════════════════════════════════════════╗\n║     REGRA #1 — GÊNEROS DEFINEM TUDO                          ║\n╚══════════════════════════════════════════════════════════════╝\nOs gêneros \"${genres}\" são OBRIGATÓRIOS e devem impactar:\n  ✦ O nome e descrição do local inicial (nunca use \"Taverna genérica\", \"Vel'Shar\" ou prefixos como \"O Último X\", \"A Última X\")\n  ✦ O tom da narrativa (3+ parágrafos imersivos e únicos)\n  ✦ Os NPCs presentes (relevantes ao gênero)\n  ✦ As escolhas oferecidas ao jogador\n  ✦ As ameaças e objetivos da quest inicial\n\nSe os gêneros forem ignorados, o output está ERRADO.\n\n╔══════════════════════════════════════════════════════════════╗\n║     REGRA #2 — CHOICES DINÂMICAS BASEADAS NA CLASSE          ║\n╚══════════════════════════════════════════════════════════════╝\nNÃO use choices genéricas (action/investigate/social/stealth sempre iguais).\nGere EXATAMENTE 4 choices que:\n  ✦ Reflitam as habilidades únicas da classe \"${className}\"\n  ✦ Sejam contextualmente relevantes à cena atual\n  ✦ Tenham texto descritivo específico (não genérico)\n  ✦ Variem os tipos entre: action | investigate | social | stealth | survival | tech | arcane | divine\n\nExemplo para um Ladino em cenário Noir:\n  - \"Pickpocket o informante distraído\" (stealth, DES)\n  - \"Interrogar o barman com intimidação velada\" (social, CAR)\n  - \"Examinar a cena do crime em busca de pistas\" (investigate, INT)\n  - \"Escalar o prédio e entrar pelo telhado\" (action, DES)\n\nExemplo para um Mago em cenário Dark Fantasy:\n  - \"Lançar Detectar Magia na sala\" (arcane, INT)\n  - \"Usar ilusão para se disfarçar de guarda\" (stealth, INT)\n  - \"Negociar com o espírito aprisionado\" (social, SAB)\n  - \"Estudar os glifos da parede\" (investigate, INT)\n\n╔══════════════════════════════════════════════════════════════╗\n║     REGRA #3 — EQUIPMENT (ITENS EQUIPADOS NO PERSONAGEM)     ║\n╚══════════════════════════════════════════════════════════════╝\nEquipment são os itens ATIVAMENTE EQUIPADOS. Slots aceitos: head | body | main_hand | off_hand | legs | accessory\nO equipment DEVE ser compatível com a classe \"${className}\".\nPROIBIDO dar espada a Mago, cajado a Guerreiro, pistola a Paladino medieval, etc.\nPROIBIDO gerar equipment com todos os stats zerados — todo item deve ter ao menos um stat funcional.\n\nATRIBUTO PRIMÁRIO DA ARMA (slot main_hand):\n  A arma inicial SEMPRE usa o atributo primário da classe como status_bonus.\n  Exemplos de referência (a IA decide pelo contexto):\n  ${sys.primaryExamples}\n\nABREVIAÇÕES OBRIGATÓRIAS — NUNCA escreva o nome completo do atributo:\n  D&D:       FOR, DES, CON, INT, SAB, CAR\n  Cyberpunk: REF, TEC, CORPO, INT, VON, EMP\n  Vampiro:   FIS, SOC, MEN, PRE, MAN, CAR\n  Fallout:   FOR, PER, RES, CAR, INT, AGI, SOR\n  PROIBIDO: \"Destreza\", \"Força\", \"Intelecto\", \"Reflexos\" — use SEMPRE a sigla curta.\n\n  Schema ARMA (main_hand):\n  {\n    \"name\": \"Nome temático compatível com ${className} e o gênero\",\n    \"slot\": \"main_hand\",\n    \"stats\": {\n      \"damage_dice\": \"XdY\",       // ex: \"1d8\", \"2d6\" — baseado no tipo de arma\n      \"status_bonus\": \"ATRIB\"     // atributo primário da classe\n    },\n    \"icon\": \"emoji temático\"\n  }\n\nCADA SLOT TEM REGRAS DIFERENTES — leia com atenção:\n\n  ┌─ SLOTS DEFENSIVOS (body, head, legs, off_hand) ──────────────┐\n  │  Concedem bônus de CA. armor OBRIGATÓRIO >= 1. NUNCA zero.   │\n  │  Exemplos:                                                    │\n  │    Couro (Ladino/Patrulheiro)       → armor: 1, status_bonus: \"DES\"  │\n  │    Manto Arcano (Mago/Feiticeiro)   → armor: 1, status_bonus: \"INT\"  │\n  │    Cota de Malha (Guerreiro)        → armor: 2, status_bonus: \"CON\"  │\n  │    Armadura de Placas (Paladino)    → armor: 3, status_bonus: \"FOR\"  │\n  │    Botas Ágeis (Ladino) [legs]      → armor: 1, status_bonus: \"DES\"  │\n  │    Capacete de Ferro (Guerreiro)[head]→ armor: 1, status_bonus: \"CON\"│\n  │    Roupa de Rua (Cyberpunk Solo)    → armor: 1, status_bonus: \"REF\"  │\n  │    Colete Tático (Techie)           → armor: 2, status_bonus: \"TEC\"  │\n  └───────────────────────────────────────────────────────────────┘\n\n  Schema SLOT DEFENSIVO (body | head | legs | off_hand):\n  {\n    \"name\": \"Nome temático\",\n    \"slot\": \"body|head|legs|off_hand\",\n    \"stats\": {\n      \"armor\": NÚMERO_INTEIRO >= 1,\n      \"status_bonus\": \"ATRIB\"\n    },\n    \"icon\": \"emoji\"\n  }\n\n  ┌─ SLOT ACCESSORY ──────────────────────────────────────────────┐\n  │  NÃO concede CA. NUNCA inclua \"armor\" no accessory.           │\n  │  Função: bônus puro em um atributo (status_bonus com valor).  │\n  │  Exemplos:                                                    │\n  │    Amuleto do Sábio   → status_bonus: \"SAB\", bonus_value: 1   │\n  │    Anel da Força      → status_bonus: \"FOR\", bonus_value: 1   │\n  │    Bandana Élfica     → status_bonus: \"DES\", bonus_value: 1   │\n  │    Chip Neural (Cyber)→ status_bonus: \"INT\", bonus_value: 2   │\n  │    Colar de Sangue(VtM)→ status_bonus: \"PRE\", bonus_value: 1  │\n  └───────────────────────────────────────────────────────────────┘\n\n  Schema SLOT ACCESSORY:\n  {\n    \"name\": \"Nome temático\",\n    \"slot\": \"accessory\",\n    \"stats\": {\n      \"status_bonus\": \"ATRIB\",\n      \"bonus_value\": NÚMERO_INTEIRO >= 1\n    },\n    \"icon\": \"emoji\"\n  }\n\n╔══════════════════════════════════════════════════════════════╗\n║     REGRA #3b — INVENTORY (ITENS NA MOCHILA)                 ║\n╚══════════════════════════════════════════════════════════════╝\nInventory são itens GUARDADOS, não equipados. Types aceitos: consumable | weapon | armor | misc\n\nPara itens do tipo \"weapon\" ou \"armor\" no inventário, o effect_data deve ser um ESPELHO\nexato dos stats que esse item teria se estivesse equipado na tabela equipment:\n\n  Inventory type \"weapon\":\n  {\n    \"name\": \"Nome da arma guardada\",\n    \"type\": \"weapon\",\n    \"effect_data\": {\n      \"damage_dice\": \"XdY\",\n      \"status_bonus\": \"ATRIB\"\n    },\n    \"value\": NÚMERO\n  }\n\n  Inventory type \"armor\":\n  {\n    \"name\": \"Nome da armadura guardada\",\n    \"type\": \"armor\",\n    \"effect_data\": {\n      \"armor\": NÚMERO_INTEIRO >= 1,\n      \"status_bonus\": \"ATRIB\"\n    },\n    \"value\": NÚMERO\n  }\n\n  Inventory type \"consumable\":\n  {\n    \"name\": \"Poção / item de uso\",\n    \"type\": \"consumable\",\n    \"effect_data\": { \"heal\": NÚMERO },\n    \"value\": NÚMERO\n  }\n\n╔══════════════════════════════════════════════════════════════╗\n║     REGRA #4 — NPCs COM HP                                   ║\n╚══════════════════════════════════════════════════════════════╝\nCada NPC em \"active_npcs\" DEVE ter HP no formato: \"Nome [HP:ATUAL/MAX]\"\nHP base desta sessão: ${npcHp}\nNPCs menos relevantes: ${Math.round(npcHp * 0.7)}\nNPCs puramente sociais sem risco de combate podem omitir HP.\n\n╔══════════════════════════════════════════════════════════════╗\n║     REGRA #5 — armor_class                                   ║\n╚══════════════════════════════════════════════════════════════╝\nCalcule a CA total do personagem: 10 + soma dos bônus de armor dos equipamentos.\nRetorne como número inteiro no campo \"armor_class\".\n\n╔══════════════════════════════════════════════════════════════╗\n║                  SCHEMA JSON COMPLETO EXIGIDO                ║\n╚══════════════════════════════════════════════════════════════╝\n\n{\n  \"narrative\": \"Mínimo 3 parágrafos imersivos separados por \\\\n\\\\n. Tom: ${sys.tone}. Gênero: ${genres}. DEVE ser único e específico ao contexto desta aventura.\",\n\n  \"choices\": [\n    {\n      \"text\": \"Ação específica da classe e do contexto — NÃO genérica\",\n      \"type\": \"action|investigate|social|stealth|survival|tech|arcane|divine\",\n      \"skillCheck\": \"Atributo relevante do sistema ${sys.name}\",\n      \"difficulty\": NÚMERO_INTEIRO,\n      \"diceType\": \"d20\"\n    },\n    // ... mais 3 choices igualmente específicas\n  ],\n\n  \"inventory\": [\n    {\n      \"name\": \"Poção ou consumível temático\",\n      \"description\": \"O que ele faz.\",\n      \"quantity\": 1,\n      \"type\": \"consumable\",\n      \"effect_data\": { \"heal\": 8 },\n      \"value\": 10\n    },\n    {\n      \"name\": \"Arma reserva guardada (opcional, se fizer sentido para a classe)\",\n      \"description\": \"Descrição da arma guardada.\",\n      \"quantity\": 1,\n      \"type\": \"weapon\",\n      \"effect_data\": {\n        \"damage_dice\": \"1d4\",\n        \"status_bonus\": \"ATRIB_PRIMARIO\"\n      },\n      \"value\": 15\n    }\n  ],\n\n  \"equipment\": [\n    {\n      \"name\": \"Arma equipada — compatível com ${className} e o gênero ${genres}\",\n      \"slot\": \"main_hand\",\n      \"stats\": {\n        \"damage_dice\": \"XdY\",\n        \"status_bonus\": \"ATRIB_PRIMARIO_DA_CLASSE\"\n      },\n      \"icon\": \"⚔️\"\n    },\n    {\n      \"name\": \"Armadura equipada — compatível com ${className} e o gênero ${genres}\",\n      \"slot\": \"body\",\n      \"stats\": {\n        \"armor\": NÚMERO_INTEIRO >= 1,\n        \"status_bonus\": \"ATRIB_CONTEXTUAL\"\n      },\n      \"icon\": \"🛡️\"\n    },\n    {\n      \"name\": \"Acessório opcional — se fizer sentido para a classe\",\n      \"slot\": \"accessory\",\n      \"stats\": {\n        \"status_bonus\": \"ATRIB\",\n        \"bonus_value\": 1\n      },\n      \"icon\": \"💍\"\n    }\n  ],\n\n  \"active_npcs\": [\n    \"Nome NPC Principal [HP:${npcHp}/${npcHp}]\",\n    \"Nome NPC Secundário [HP:${Math.round(npcHp * 0.7)}/${Math.round(npcHp * 0.7)}]\"\n  ],\n\n  \"current_location\": \"Nome ÚNICO e temático ao gênero ${genres} — NUNCA use Vel'Shar, NUNCA use prefixos como 'O Último X', 'A Última X', 'O Derradeiro X'\",\n\n  \"active_quests\": [\n    \"Objetivo principal imediato e específico ao contexto da aventura\"\n  ],\n\n  \"armor_class\": NÚMERO_INTEIRO,\n\n  \"in_combat\": false,\n\n  \"combat_target\": null,\n\n  \"status_effects\": [],\n\n  \"world_flags\": [],\n\n  \"metadata\": {\n    \"initial_threat\": \"Ameaça principal estabelecida — deve refletir o gênero ${genres}\",\n    \"time_of_day\": \"manhã|tarde|noite|madrugada\",\n    \"atmosphere\": \"${sys.tone}\"\n  }\n}\n\n╔══════════════════════════════════════════════════════════════╗\n║                     CHECKLIST FINAL                          ║\n╚══════════════════════════════════════════════════════════════╝\n☑ JSON válido sem texto externo\n☑ Gêneros \"${genres}\" visíveis na narrativa, local, NPCs e choices\n☑ Choices específicas para a classe \"${className}\" — não genéricas\n☑ Arma (main_hand) com damage_dice + status_bonus (primário da classe)\n☑ Slots body/head/legs/off_hand com armor >= 1 (NUNCA zero) + status_bonus\n☑ Slot accessory com status_bonus + bonus_value >= 1 — SEM campo armor\n☑ Slot main_hand com damage_dice + status_bonus — SEM campo armor\n☑ status_bonus SEMPRE abreviação curta (FOR, DES, INT...) — NUNCA nome completo\n☑ Inventory type weapon/armor com effect_data espelhando os stats do equipment\n☑ Slots válidos: head | body | main_hand | off_hand | legs | accessory\n☑ Types válidos: consumable | weapon | armor | misc\n☑ active_npcs com tag [HP:X/X]\n☑ current_location único e temático — sem Vel'Shar, sem prefixos \"O Último X\" ou nomes repetidos\n☑ armor_class calculado corretamente\n☑ in_combat: false | combat_target: null\n☑ status_effects: [] | world_flags: []\n`.trim();\n\n// =========================================\n// 6. RETORNO\n// =========================================\nreturn {\n  json: {\n    ai_request: {\n      model: \"mistral-large-latest\",\n      messages: [\n        { role: \"system\", content: systemPersona },\n        { role: \"user\",   content: userInstructions },\n      ],\n      temperature: 0.90,\n      max_tokens:  4000,\n      response_format: { type: \"json_object\" },\n    },\n\n    init_context: {\n      story_id:       String(storyId),\n      system_id:      systemId,\n      difficulty:     difficulty,\n      genres:         genres,\n      character_name: charName,\n      class_name:     className,\n      background:     background,\n      npc_hp_base:    npcHp,\n      diff_mod:       diff.diffMod,\n    },\n  },\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2704,-800],"id":"86bf39a5-6a5f-4d6d-ae56-3ba58df587d3","name":"Code in JavaScript"},{"parameters":{"jsCode":"let initCtx;\ntry {\n  initCtx = $(\"Geração Inicial V7\").first().json.init_context;\n} catch (e) {\n  // Fallback caso o nome do nó seja diferente\n  initCtx = $input.first().json.init_context || {};\n}\n\nconst storyId = $('Code in JavaScript').first().json.init_context.story_id;\nif (!storyId) throw new Error(\"ERRO CRÍTICO: story_id não encontrado no init_context.\");\n\n// Response da IA (vem do HTTP Request → Mistral)\nconst aiRaw     = $input.first().json;\nconst aiContent = aiRaw.choices[0].message.content;\n\n// =========================================\n// 2. PARSE E LIMPEZA DO JSON DA IA\n// =========================================\nlet cleanJson = aiContent\n  .replace(/```json/gi, \"\")\n  .replace(/```/g,     \"\")\n  .trim();\n\n// Sanitiza quebras de linha dentro de strings JSON\ncleanJson = cleanJson.replace(/\"((?:[^\"\\\\]|\\\\.)*)\"/g, (match) => {\n  return match\n    .replace(/\\n/g, \"\\\\n\")\n    .replace(/\\r/g, \"\")\n    .replace(/\\t/g, \"\\\\t\");\n});\n\nlet parsed;\ntry {\n  parsed = JSON.parse(cleanJson);\n} catch (error) {\n  throw new Error(\"FALHA JSON: \" + error.message + \"\\nConteúdo recebido: \" + aiContent.substring(0, 200));\n}\n\n// =========================================\n// 3. NORMALIZAÇÃO DE SLOTS DE EQUIPAMENTO\n// =========================================\nconst VALID_SLOTS = [\"head\", \"body\", \"legs\", \"main_hand\", \"off_hand\", \"accessory\"];\n\nconst SLOT_MAP = {\n  ring:    \"accessory\", amulet: \"accessory\", neck: \"accessory\",\n  back:    \"accessory\", cloak:  \"accessory\", trinket: \"accessory\",\n  chest:   \"body\",      torso:  \"body\",      armor: \"body\",\n  feet:    \"legs\",      boots:  \"legs\",      shoes: \"legs\",\n  weapon:  \"main_hand\", sword:  \"main_hand\", axe: \"main_hand\",\n  hand:    \"main_hand\", dagger: \"main_hand\",\n  shield:  \"off_hand\",\n};\n\nconst equipamentoFinal = (parsed.equipment || []).map((item) => {\n  let safeSlot = (item.slot || \"accessory\").toLowerCase();\n  if (!VALID_SLOTS.includes(safeSlot)) {\n    safeSlot = SLOT_MAP[safeSlot] || \"accessory\";\n  }\n  return {\n    story_id: storyId,\n    name:     item.name  || \"Equipamento\",\n    slot:     safeSlot,\n    stats:    item.stats || {},\n    icon:     item.icon  || \"📦\",\n  };\n});\n\n// =========================================\n// 4. NORMALIZAÇÃO DE TIPOS DE INVENTÁRIO\n// [CORREÇÃO 5] — alinha com o filtro do Mestre Unificado V6\n// =========================================\nconst VALID_INV_TYPES = [\"consumable\", \"weapon\", \"armor\", \"misc\"];\n\n// Mapa de tipos incorretos → tipos aceitos pelo banco\nconst INV_TYPE_MAP = {\n  equipment:  \"weapon\",   // \"equipment\" genérico → weapon (mais comum)\n  potion:     \"consumable\",\n  food:       \"consumable\",\n  quest_item: \"misc\",\n  tool:       \"misc\",\n};\n\nconst inventarioFinal = (parsed.inventory || []).map((item) => {\n  let safeType = (item.type || \"misc\").toLowerCase();\n  if (!VALID_INV_TYPES.includes(safeType)) {\n    safeType = INV_TYPE_MAP[safeType] || \"misc\";\n  }\n  return {\n    story_id:    storyId,\n    name:        item.name        || \"Item\",\n    description: item.description || \"\",\n    quantity:    Math.max(1, parseInt(item.quantity) || 1),\n    type:        safeType,\n    effect_data: item.effect_data || {},\n    value:       parseInt(item.value) || 0,\n  };\n});\n\n// =========================================\n// 5. PROCESSAMENTO DE NPCs\n// [CORREÇÃO 4] — preserva tag [HP:X/X], gera se ausente\n// =========================================\nconst NPC_HP_BASE = initCtx.npc_hp_base || 12;\n\nfunction ensureNpcHp(npcStr) {\n  if (!npcStr || typeof npcStr !== \"string\") return null;\n  const clean = npcStr.trim();\n  if (clean === \"\") return null;\n\n  // Já tem HP codificado — preserva como está\n  if (/\\[HP:\\d+\\/\\d+\\]/.test(clean)) return clean;\n\n  // Não tem HP — gera valor padrão baseado no sistema/dificuldade\n  const hp = NPC_HP_BASE + Math.floor(Math.random() * 5) - 2; // ±2 variação\n  const safeHp = Math.max(5, hp);\n  return `${clean} [HP:${safeHp}/${safeHp}]`;\n}\n\nconst activeNpcsFinal = (parsed.active_npcs || [])\n  .map(ensureNpcHp)\n  .filter(Boolean);\n\n// =========================================\n// 6. CAMPOS NOVOS DO ENGINE V6\n// [CORREÇÃO 1] status_effects\n// [CORREÇÃO 2] world_flags\n// [CORREÇÃO 3] in_combat, combat_target\n// [CORREÇÃO 3] armor_class\n// [CORREÇÃO 5] current_summary\n// =========================================\n\n// status_effects: deve ser array de objetos. Se ausente ou inválido, usa []\nconst statusEffects = Array.isArray(parsed.status_effects)\n  ? parsed.status_effects\n  : [];\n\n// world_flags: array de {flag_key, flag_value}. Se ausente, usa []\n// O Mestre Unificado V6 espera: [{flag_key: \"...\", flag_value: ...}]\nconst worldFlagsRaw = parsed.world_flags || {};\nlet worldFlagsFinal = [];\nif (Array.isArray(worldFlagsRaw)) {\n  worldFlagsFinal = worldFlagsRaw;\n} else if (typeof worldFlagsRaw === \"object\") {\n  // Suporte ao formato alternativo {\"key\": value}\n  worldFlagsFinal = Object.entries(worldFlagsRaw).map(([k, v]) => ({\n    story_id:   storyId,\n    flag_key:   k,\n    flag_value: v,\n  }));\n}\n\n// in_combat: sempre false no início\nconst inCombat = false;\n\n// combat_target: sempre null no início\nconst combatTarget = null;\n\n// armor_class: usa o valor da IA ou calcula pela armadura\nconst armorEquipped = equipamentoFinal.find((e) => e.slot === \"body\");\nconst armorBonus    = armorEquipped?.stats?.armor || 0;\nconst armorClass    = typeof parsed.armor_class === \"number\"\n  ? parsed.armor_class\n  : 10 + armorBonus;\n\n// =========================================\n// 7. CAMPOS BÁSICOS\n// =========================================\n\n// Narrativa inicial (vai para tabela messages como \"narrator\")\nconst narrativaFinal = {\n  story_id: storyId,\n  sender:   \"narrator\",\n  content:  parsed.narrative || \"Sua aventura começa...\",\n};\n\n// Choices iniciais (vai para tabela messages junto com narrativa)\nconst choicesFinal = (parsed.choices || []).map((choice) => ({\n  story_id:    storyId,\n  text:        choice.text        || \"...\",\n  type:        choice.type        || \"action\",\n  skill_check: choice.skillCheck  || null,\n  difficulty:  choice.difficulty  || 10,\n  dice_type:   choice.diceType    || \"d20\",\n}));\n\n// Location\nconst currentLocationFinal =\n  parsed.current_location && parsed.current_location.trim() !== \"\"\n    ? parsed.current_location.trim()\n    : \"Local Desconhecido\";\n\n// Quests\nconst activeQuestsFinal = Array.isArray(parsed.active_quests)\n  ? parsed.active_quests.filter((q) => typeof q === \"string\" && q.trim() !== \"\")\n  : [];\n\n// =========================================\n// 8. RETORNO COMPLETO — campos FLAT para acesso direto via $json no n8n\n//\n// PATCH stories  → $json.active_npcs | $json.current_location\n//                   $json.active_quests | $json.armor_class\n//                   $json.in_combat | $json.combat_target\n//                   $json.status_effects\n//\n// POST messages  → $json.narrativa\n// POST choices   → $json.choices   (array — usar Split ou loop)\n// POST items     → $json.inventario (array — usar Split ou loop)\n// POST equipment → $json.equipamento (array — usar Split ou loop)\n// POST world_flags → $json.world_flags (array — usar Split ou loop)\n//                    cada item já tem story_id, flag_key, flag_value\n// =========================================\nreturn {\n  json: {\n    // ── Identificação ──────────────────────────────────────────\n    story_id: storyId,\n\n    // ── PATCH stories ──────────────────────────────────────────\n    // Body: { \"active_npcs\": $json.active_npcs,\n    //         \"current_location\": $json.current_location,\n    //         \"active_quests\": $json.active_quests,\n    //         \"armor_class\": $json.armor_class,\n    //         \"in_combat\": $json.in_combat,\n    //         \"combat_target\": $json.combat_target,\n    //         \"status_effects\": $json.status_effects }\n    active_npcs:      activeNpcsFinal,\n    current_location: currentLocationFinal,\n    active_quests:    activeQuestsFinal,\n    armor_class:      armorClass,\n    in_combat:        inCombat,\n    combat_target:    combatTarget,\n    status_effects:   statusEffects,\n\n    // ── POST messages ──────────────────────────────────────────\n    // Body: $json.narrativa\n    narrativa: narrativaFinal,\n\n    // ── POST choices ───────────────────────────────────────────\n    // Body: $json.choices  (usar nó Split para iterar)\n    choices: choicesFinal,\n\n    // ── POST items ─────────────────────────────────────────────\n    // Body: $json.inventario  (usar nó Split para iterar)\n    inventario: inventarioFinal,\n\n    // ── POST equipment ─────────────────────────────────────────\n    // Body: $json.equipamento  (usar nó Split para iterar)\n    equipamento: equipamentoFinal,\n\n    // ── POST world_flags ───────────────────────────────────────\n    // Body: $json.world_flags  (usar nó Split para iterar)\n    // Formato por item: { story_id, flag_key, flag_value }\n    // Geralmente [] no início — nó só executa se array não estiver vazio\n    world_flags: worldFlagsFinal.map((f) => ({\n      story_id:   storyId,\n      flag_key:   f.flag_key   || f.key   || \"\",\n      flag_value: f.flag_value ?? f.value ?? null,\n    })).filter((f) => f.flag_key !== \"\"),\n\n    // ── Debug ──────────────────────────────────────────────────\n    summary: {\n      location:        currentLocationFinal,\n      npcs_count:      activeNpcsFinal.length,\n      quests_count:    activeQuestsFinal.length,\n      inventory_count: inventarioFinal.length,\n      equipment_count: equipamentoFinal.length,\n      armor_class:     armorClass,\n      in_combat:       inCombat,\n      status_effects:  statusEffects.length,\n      world_flags:     worldFlagsFinal.length,\n    },\n  },\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2448,-800],"id":"dae1a091-f12f-4e57-9e9b-b9d3aa7924c5","name":"Code in JavaScript1"},{"parameters":{"method":"POST","url":"https://jmjezldxisifcdjacwnb.supabase.co/rest/v1/messages","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.narrativa }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-2272,-864],"id":"862b643b-d1ca-4431-90ed-7f47f5df98ca","name":"HTTP Request","credentials":{"supabaseApi":{"id":"3ssV9qtsZUAklVtZ","name":"Supabase account 2"}}},{"parameters":{"method":"POST","url":"https://jmjezldxisifcdjacwnb.supabase.co/rest/v1/items","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.inventario }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-2272,-736],"id":"e8d872a3-6f9f-4d79-bc17-57bcdefec848","name":"HTTP Request2","credentials":{"supabaseApi":{"id":"3ssV9qtsZUAklVtZ","name":"Supabase account 2"}}},{"parameters":{"method":"POST","url":"https://jmjezldxisifcdjacwnb.supabase.co/rest/v1/equipment","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.equipamento }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-2272,-624],"id":"d2dec4c4-d523-462a-80ee-b94fe7c25ab8","name":"HTTP Request3","credentials":{"supabaseApi":{"id":"3ssV9qtsZUAklVtZ","name":"Supabase account 2"}}},{"parameters":{"method":"POST","url":"https://jmjezldxisifcdjacwnb.supabase.co/rest/v1/choices","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.choices }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-2272,-512],"id":"263c5c94-7635-4aae-863a-425f89b15bf1","name":"HTTP Request4","credentials":{"supabaseApi":{"id":"3ssV9qtsZUAklVtZ","name":"Supabase account 2"}}},{"parameters":{"httpMethod":"POST","path":"resumo","authentication":"headerAuth","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-2032,-944],"id":"1ddaf252-a0c7-4bfd-85e7-f78e44a3b7df","name":"Webhook1","webhookId":"ba1b6f1b-c24f-4eae-9e70-25e15b4e3d6d","credentials":{"httpHeaderAuth":{"id":"vUs8rqLIlN9NCNTc","name":"Header Auth account"}}},{"parameters":{"url":"https://jmjezldxisifcdjacwnb.supabase.co/rest/v1/stories","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendQuery":true,"specifyQuery":"json","jsonQuery":"={\n  \"select\": \"current_summary, system, difficulty, character_name, class_name, genres, messages(sender,content,created_at)\",\n  \"id\": \"eq.{{ $json.body.story_id }}\",\n  \"messages.order\": \"created_at.desc\",\n  \"messages.limit\": \"10\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-1856,-944],"id":"b2a5c097-d815-4c84-8a20-7daba7eb6338","name":"HTTP Request5","credentials":{"supabaseApi":{"id":"3ssV9qtsZUAklVtZ","name":"Supabase account 2"}}},{"parameters":{"jsCode":"// =========================================================\n// PREPARADOR DE PAYLOAD (RESUMO DA HISTÓRIA)\n// =========================================================\n\n// 1. Receber dados do Supabase\nconst storyData = items[0].json;\n\nif (!storyData) {\n  throw new Error(\"História não encontrada.\");\n}\n\n// 2. Extrair e Ordenar Mensagens\nlet recentMessages = storyData.messages || [];\n// O banco traz as mais recentes primeiro, invertemos para ordem cronológica\nrecentMessages.reverse();\n\n// 3. Preparar o Contexto Anterior\nconst currentSummary = storyData.current_summary || \"\";\nconst DEFAULT_TEXT = \"A aventura começou recentemente...\";\nlet contextText = \"\";\n\nif (currentSummary.includes(DEFAULT_TEXT) || currentSummary.trim() === \"\") {\n    contextText = \"CONTEXTO ANTERIOR: A história está no início. Não há resumo prévio.\";\n} else {\n    contextText = `CONTEXTO ANTERIOR:\\n\"${currentSummary}\"`;\n}\n\n// 4. Formatar o Log de Diálogos\nconst chatLogText = recentMessages.map(msg => {\n    const role = msg.sender === 'player' ? 'JOGADOR' : 'MESTRE';\n    // Remove quebras de linha extras para economizar tokens\n    return `[${role}]: ${msg.content ? msg.content.replace(/\\n+/g, \" \") : \"\"}`;\n}).join(\"\\n\");\n\n// 5. Definição do SYSTEM PERSONA (O Cronista)\nconst systemPersona = `\nVocê é o CRONISTA DE UM RPG. Sua função é manter a memória de longo prazo da aventura.\nVocê receberá um 'Contexto Anterior' e as 'Últimas 10 Mensagens'.\nSeu objetivo é fundir ambos em um único texto narrativo denso e coeso.\n\nREGRAS:\n- Escreva em 3ª pessoa.\n- Máximo de 3 parágrafos.\n- Mantenha fatos cruciais (nomes, itens chave, ferimentos, locais).\n- Descarte diálogos triviais.\n- Se o contexto for \"A história está no início\", ignore-o e resuma apenas as mensagens novas.\n`.trim();\n\n// 6. Definição das INSTRUÇÕES DO USUÁRIO\nconst userInstructions = `\n${contextText}\n\n--- NOVOS EVENTOS (LOG) ---\n${chatLogText}\n--- FIM DO LOG ---\n\nGere o novo resumo atualizado agora.\n`.trim();\n\n// 7. Tratamento dos Gêneros (CORREÇÃO DO ERRO)\n// A API exige string, então transformamos [\"Ação\", \"Terror\"] em \"Ação, Terror\"\nconst genresString = Array.isArray(storyData.genres) \n    ? storyData.genres.join(\", \") \n    : String(storyData.genres || \"\");\n\n// 8. Retornar o Objeto Formatado para a API\nreturn {\n  json: {\n    model: \"mistral-small-latest\",\n    messages: [\n      { role: \"system\", content: systemPersona },\n      { role: \"user\", content: userInstructions }\n    ],\n    temperature: 0.5,\n    max_tokens: 2000,\n    \n    metadata: {\n      story_id: String($json.story_id),\n      system_id: String(storyData.system || \"unknown\"),\n      difficulty: String(storyData.difficulty || \"normal\"),\n      character_name: String(storyData.character_name || \"Heroi\"),\n      character_class: String(storyData.class_name || \"Aventureiro\"),\n      genres: genresString, // AQUI ESTAVA O ERRO (Agora é string)\n      task: \"summary_generation\"\n    }\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1696,-944],"id":"e8878cf1-b857-4b86-9a8d-f119f50e09b1","name":"Code in JavaScript2"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"mistralCloudApi","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-1536,-944],"id":"81161a82-6ef2-48f5-a32d-eb8010064db0","name":"HTTP Request6","credentials":{"mistralCloudApi":{"id":"HbOWghtcXEf7jxxj","name":"Mistral Cloud account"},"openRouterApi":{"id":"mCdp8OcIGuBAlyxd","name":"OpenRouter account"}}},{"parameters":{"jsCode":"// =========================================================\n// PARSER: LIMPEZA DO RESUMO GERADO (V3 - Hardcoded Paths)\n// =========================================================\n\n// 1. Acessar a resposta da IA (Do input do nó anterior)\n// Caminho fornecido: $input.first().json.choices[0].message.content\nconst aiResponse = $input.first().json;\n\nif (!aiResponse || !aiResponse.choices) {\n  throw new Error(\"A resposta da IA veio vazia ou em formato incorreto.\");\n}\n\nconst content = aiResponse.choices[0].message.content;\n\n// 2. Limpeza de Texto\nlet cleanSummary = content.trim();\n\n// Remove aspas extras se houver\nif (cleanSummary.startsWith('\"') && cleanSummary.endsWith('\"')) {\n    cleanSummary = cleanSummary.slice(1, -1);\n}\n\n// Remove prefixos comuns da IA (ex: \"Aqui está o resumo...\")\ncleanSummary = cleanSummary.replace(/^Aqui está o resumo.*?:[\\s\\n]*/i, \"\");\ncleanSummary = cleanSummary.replace(/^Resumo:[\\s\\n]*/i, \"\");\n\n// 3. Recuperar o ID da História\n// Caminho fornecido: $('Webhook1').first().json.body.story_id\nlet storyId;\n\ntry {\n    // Tenta pegar exatamente onde você indicou\n    storyId = $('Webhook1').first().json.body.story_id;\n} catch (error) {\n    // Se o nó \"Webhook1\" não existir ou o caminho falhar, lança erro claro\n    throw new Error(\"Não foi possível encontrar o 'story_id' no nó 'Webhook1'. Verifique se o nó Gatilho tem EXATAMENTE o nome 'Webhook1'.\");\n}\n\n// 4. Retorno Limpo para o próximo nó (Update Supabase)\nreturn {\n  json: {\n    story_id: storyId,\n    new_summary: cleanSummary,\n    updated_at: new Date().toISOString()\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1392,-944],"id":"81087f6d-aa68-422c-a95c-4c87ec587157","name":"Code in JavaScript3"},{"parameters":{"method":"PATCH","url":"https://jmjezldxisifcdjacwnb.supabase.co/rest/v1/stories","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendQuery":true,"specifyQuery":"json","jsonQuery":"={\n  \"id\": \"eq.{{ $json.story_id }}\"\n}","sendBody":true,"specifyBody":"json","jsonBody":"={{\n  {\n    \"current_summary\": $json.new_summary\n  }\n}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-1248,-944],"id":"c7dbf347-be3e-4cf4-8e18-5fa22f5f1a23","name":"HTTP Request7","credentials":{"supabaseApi":{"id":"3ssV9qtsZUAklVtZ","name":"Supabase account 2"}}},{"parameters":{"httpMethod":"POST","path":"storie","authentication":"headerAuth","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-2032,-656],"id":"96264889-484d-4e9e-ae11-3f4f7efbe2e3","name":"Webhook2","webhookId":"ba1b6f1b-c24f-4eae-9e70-25e15b4e3d6d","credentials":{"httpHeaderAuth":{"id":"vUs8rqLIlN9NCNTc","name":"Header Auth account"}}},{"parameters":{"url":"https://jmjezldxisifcdjacwnb.supabase.co/rest/v1/stories","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendQuery":true,"specifyQuery":"json","jsonQuery":"={\n  \"select\": \"id, title, character_name, system, class_name, difficulty, background, genres, attributes, is_public, likes, views, created_at, status, current_summary, hp_current, hp_max, gold, level, experience, armor_class, active_npcs, current_location, active_quests, in_combat, combat_target, status_effects, game_over, messages(id, sender, content, roll_result, created_at), items(id, name, description, quantity, type, effect_data, value, created_at), equipment(id, slot, name, stats, icon, created_at), world_flags(id, flag_key, flag_value, created_at), choices(id, text, type, skill_check, difficulty, dice_type, is_chosen, is_attack, created_at), attack_choices(id, choices, target_name, weapon_name, damage_dice, is_used, chosen_id, primary_attr, created_at)\",\n  \"id\": \"eq.{{ $json.body.story_id }}\",\n  \"messages.order\": \"created_at.desc\",\n  \"messages.limit\": \"10\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-1888,-656],"id":"a431c86e-0fbd-4340-9c03-fbf4be1ccdc2","name":"HTTP Request8","credentials":{"supabaseApi":{"id":"3ssV9qtsZUAklVtZ","name":"Supabase account 2"}}},{"parameters":{"jsCode":"const inputData = items[0].json;\nconst raw = Array.isArray(inputData) ? inputData[0] : (inputData.story_data || inputData);\n\nif (!raw || !raw.id) throw new Error(\"Dados da história não encontrados.\");\n\n// 1. Mensagens (Inverte para ordem cronológica, do mais antigo pro mais novo se necessário, ou vice-versa dependendo do seu DB)\nconst messages = Array.isArray(raw.messages) ? raw.messages.slice().reverse() : [];\n\n// 2. Última Ação do Jogador\n// Pega o conteúdo da mensagem e também se ele tirou algum valor no dado nesta jogada\nconst lastPlayerMsg = messages.slice().reverse().find(m => m.sender === \"player\");\nconst playerAction  = lastPlayerMsg?.content || \"Olhar ao redor\";\nconst playerRoll    = lastPlayerMsg?.roll_result !== undefined ? lastPlayerMsg.roll_result : null;\n\n// 3. Tratamento de NPCs\nconst activeNPCs = Array.isArray(raw.active_npcs) ? raw.active_npcs : [];\nconst npcsListRouter = activeNPCs\n    .map(n => n.replace(/\\s*\\[HP:\\d+\\/\\d+\\]/g, \"\").trim()) // Remove a tag de HP para não confundir o classificador\n    .join(\", \") || \"Ninguém na cena\";\n\n// 4. Prompt do Roteador (Melhorado)\nconst systemPrompt = `\nVocê é o CLASSIFICADOR DE INTENÇÃO principal de uma Engine de RPG.\nSua única função é analisar a AÇÃO DO JOGADOR e o CONTEXTO atual para decidir qual Módulo de IA deve processar a jogada.\n\nCATEGORIAS DISPONÍVEIS:\n- combat: Iniciar um ataque físico/mágico contra um NPC, sacar arma de forma hostil, ou continuar lutando.\n- loot: Saquear corpos, abrir baús, vasculhar gavetas explicitamente em busca de itens.\n- rest: Dormir, montar acampamento, descansar para recuperar atributos.\n- levelup: O jogador declara explicitamente que quer subir de nível, treinar ou gastar XP.\n- travel: Viajar longas distâncias, mudar de cidade, região ou pular passagem de tempo.\n- craft: Criar, forjar, cozinhar, hackear terminais ou consertar itens.\n- commerce: Comprar, vender ou negociar preços com mercadores em lojas.\n- narrative: (PADRÃO) Conversar pacificamente, investigar o ambiente com os sentidos, tentar persuadir, ler, tentar fugir de um combate, tentar se esconder ou se render.\n\nREGRAS DE CLASSIFICAÇÃO ESTABELECIDAS:\n1. COMBATE ATIVO: Se \"EM COMBATE\" for \"Sim\", a intenção é 'combat', A NÃO SER QUE o jogador tente explicitamente fugir, se render ou conversar pacificamente (nesse caso, vira 'narrative').\n2. AGRESSÃO SURPRESA: Se o jogador atacar um NPC listado (mesmo com \"EM COMBATE: Não\"), classifique como 'combat'.\n3. AMBIGUIDADE: Na dúvida entre 'narrative' e qualquer outra categoria periférica, escolha 'narrative'.\n\nOUTPUT OBRIGATÓRIO:\nResponda APENAS com um objeto JSON válido, sem blocos de código markdown.\nExemplo: {\"mode\": \"narrative\"}\n`.trim();\n\nconst userPrompt = `\nRESUMO DA CENA: ${raw.current_summary ? raw.current_summary.slice(0, 300) : \"Início\"}...\nNPCs PRESENTES: ${npcsListRouter}\nEM COMBATE: ${raw.in_combat ? \"Sim\" : \"Não\"}\nAÇÃO DO JOGADOR: \"${playerAction}\"\n${playerRoll !== null ? `DADO ROLADO PELO JOGADOR (DC/Dano): ${playerRoll}` : \"\"}\n\nClassifique a intenção do jogador retornando o JSON.\n`.trim();\n\n// 5. Montagem do Payload Completo (Atualizado com todos os campos do BD)\nconst originalData = {\n    story_id:         raw.id,\n    title:            raw.title            || \"Sem Título\",\n    character_name:   raw.character_name   || \"Viajante\",\n    class_name:       raw.class_name       || \"Aventureiro\",\n    system:           raw.system           || \"dnd\",\n    difficulty:       raw.difficulty       || \"normal\",\n    background:       raw.background       || \"\",\n    genres:           raw.genres           || [],\n    attributes:       raw.attributes       || {},\n    status:           raw.status           || \"active\",\n    game_over:        raw.game_over        || false,\n\n    hp_current:       raw.hp_current       ?? 10,\n    hp_max:           raw.hp_max           ?? 10,\n    level:            raw.level            ?? 1,\n    experience:       raw.experience       ?? 0,\n    gold:             raw.gold             ?? 0,\n    armor_class:      raw.armor_class      ?? 10,\n    \n    current_summary:  raw.current_summary  || \"Início.\",\n    current_location: raw.current_location || \"Desconhecido\",\n    active_npcs:      activeNPCs, \n    active_quests:    raw.active_quests    || [],\n    \n    in_combat:        raw.in_combat        ?? false,\n    combat_target:    raw.combat_target    || null,\n    status_effects:   raw.status_effects   || [],\n    \n    messages:         messages,\n    inventory:        raw.items            || [],\n    equipment:        raw.equipment        || [],\n    world_flags:      raw.world_flags      || [],\n    choices:          raw.choices          || [],\n    attack_choices:   raw.attack_choices   || []\n};\n\nreturn {\n    json: {\n        ai_payload: {\n            model: \"mistral-small-latest\",\n            messages: [\n                { role: \"system\", content: systemPrompt },\n                { role: \"user\",   content: userPrompt }\n            ],\n            temperature: 0.1, // Mantido baixo para garantir previsibilidade do JSON\n            response_format: { type: \"json_object\" }\n        },\n        original_data: originalData\n    }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1744,-656],"id":"1812fe71-f1db-40c3-87e7-269648c94851","name":"Code in JavaScript4"},{"parameters":{"method":"PATCH","url":"https://jmjezldxisifcdjacwnb.supabase.co/rest/v1/stories","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendQuery":true,"specifyQuery":"json","jsonQuery":"={\n  \"id\": \"eq.{{ $json.narrativa.story_id }}\"\n}","sendBody":true,"specifyBody":"json","jsonBody":"={{\n{\n  \"active_npcs\": $json.active_npcs,\n  \"current_location\": $json.current_location,\n  \"active_quests\": $json.active_quests,\n  \"armor_class\": $json.armor_class,\n  \"in_combat\": $json.in_combat,\n  \"combat_target\": $json.combat_target,\n  \"status_effects\": $json.status_effects\n}\n}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-2272,-992],"id":"33902696-136f-4500-a961-9d2dba486f8c","name":"HTTP Request22","credentials":{"supabaseApi":{"id":"3ssV9qtsZUAklVtZ","name":"Supabase account 2"}}},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"mistralCloudApi","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.ai_payload}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-1600,-656],"id":"7f3dc6e9-6b01-46b3-851f-bb394bfecd67","name":"HTTP Request9","credentials":{"mistralCloudApi":{"id":"HbOWghtcXEf7jxxj","name":"Mistral Cloud account"},"openRouterApi":{"id":"mCdp8OcIGuBAlyxd","name":"OpenRouter account"}}},{"parameters":{"jsCode":"let detectedMode = \"narrative\";\n\ntry {\n  const aiContent = $input.first().json.choices[0].message.content;\n  const cleanJson = aiContent.replace(/```json/g,\"\").replace(/```/g,\"\").trim();\n  const parsed = JSON.parse(cleanJson);\n  if (parsed.mode) detectedMode = parsed.mode.toLowerCase();\n} catch (e) {\n  console.log(\"Router fallback → narrative. Erro: \" + e.message);\n}\n\n// =========================================\n// 2. EXTRAÇÃO GERAL DOS DADOS DA HISTÓRIA\n// =========================================\nlet storyData = {};\ntry {\n  storyData = $(\"Code in JavaScript4\").first().json.original_data;\n} catch (e) {\n  storyData = $input.first().json.original_data || {};\n}\n\nconst charName       = storyData.character_name || \"Viajante\";\nconst className      = storyData.class_name     || \"Aventureiro\";\nconst background     = storyData.background     || \"Aventureiro sem passado.\";\nconst systemId       = storyData.system         || \"dnd\";\nconst difficulty     = storyData.difficulty     || \"normal\";\nconst genres         = Array.isArray(storyData.genres) ? storyData.genres.join(\", \") : (storyData.genres || \"Aventura\");\nconst attributes     = storyData.attributes     || {};\n\nconst hpCurrent      = storyData.hp_current     ?? 10;\nconst hpMax          = storyData.hp_max         ?? 10;\nconst level          = storyData.level          ?? 1;\nconst experience     = storyData.experience     ?? 0;\nconst gold           = storyData.gold           ?? 0;\nconst nextLevelXp    = level * 1000;\n\nconst inventory      = storyData.inventory      || [];\nconst equipment      = storyData.equipment      || [];\nconst activeNPCs     = Array.isArray(storyData.active_npcs) ? storyData.active_npcs : [];\nconst activeQuests   = storyData.active_quests  || [];\nconst currentLocation= storyData.current_location || \"Desconhecido\";\nconst lastSnippet    = storyData.current_summary || \"Início da aventura.\";\n\nconst inCombatDB     = storyData.in_combat      ?? false;\nconst combatTargetDB = storyData.combat_target  || null;\nconst statusEffects  = Array.isArray(storyData.status_effects) ? storyData.status_effects : [];\nconst worldFlags     = Array.isArray(storyData.world_flags)    ? storyData.world_flags    : [];\n\nconst weapon = equipment.find(e => e.slot === \"main_hand\") || { name: \"Desarmado\", stats: { damage_dice: \"1d4\" } };\nconst armor  = equipment.find(e => e.slot === \"body\")      || { name: \"Sem armadura\", stats: { armor: 0 } };\n\n// =========================================\n// 3. MENSAGENS E EXTRAÇÃO DE DANO \n// =========================================\nconst messages = storyData.messages || [];\nconst historyRaw = messages.slice(-8); \n\nconst conversationHistory = historyRaw.length > 0\n  ? historyRaw.map(m => `[${m.sender === \"player\" ? \"JOGADOR\" : \"MESTRE\"}] ${m.content}`).join(\"\\n\")\n  : \"Nenhum histórico anterior.\";\n\nconst lastPlayerMsgObj = messages.slice().reverse().find(m => m.sender === \"player\");\nconst lastPlayerMsgRaw = lastPlayerMsgObj?.content || \"Olhar ao redor\";\n\n// Extrai o Dano da string (ex: \"[DANO:9]\")\nconst damageMatch = lastPlayerMsgRaw.match(/\\[DANO:(\\d+)\\]/);\nconst damageDealt = damageMatch ? parseInt(damageMatch[1]) : null;\nconst lastPlayerMsg = lastPlayerMsgRaw.replace(/\\s*\\[DANO:\\d+\\]/, \"\").trim();\n\nlet playerRollContext = \"\";\nlet isSuccess = null;\nif (lastPlayerMsgObj?.roll_result !== undefined && lastPlayerMsgObj?.roll_result !== null && damageDealt === null) {\n  isSuccess = lastPlayerMsgObj.roll_result >= 10; \n  playerRollContext = `[RESULTADO DO DADO: ${isSuccess ? 'SUCESSO CLARO' : 'FALHA CLARA'}]. O Mestre DEVE narrar este resultado.`;\n}\n\nconst lastChoices = messages.filter(m => m.sender === \"player\").slice(-3).map(m => m.content).join(\" | \");\n\n// =========================================\n// 4. CONFIGS BÁSICAS E ATRIBUTOS\n// =========================================\nconst diffMap = {\n  easy:       { xpMult:0.8 },\n  normal:     { xpMult:1.0 },\n  hard:       { xpMult:1.3 },\n  impossible: { xpMult:1.5 },\n};\nconst diff = diffMap[difficulty] || diffMap.normal;\n\nconst XP_BASE = { narrative:20, combat:60, loot:35, travel:25, commerce:10, rest:0, levelup:0 };\nconst xpBase  = XP_BASE[detectedMode] || 20;\nconst xpMin   = Math.round(xpBase * 0.7 * diff.xpMult);\nconst xpMax   = Math.round(xpBase * 1.3 * diff.xpMult);\n\nconst attributesString = Object.entries(attributes).map(([k, v]) => `${k.substring(0, 3).toUpperCase()}: ${v}`).join(\" | \");\nconst inventoryString = inventory.map(i => `${i.name} (${i.quantity}x)`).join(\", \") || \"Vazio\";\n\n// =========================================\n// 5. MOTOR DE COMBATE (RESOLVE A MATEMÁTICA ANTES DA IA)\n// =========================================\nlet combatDirectorScript = \"\";\n\n// Identifica inimigos (NPCs que não contém \"aliado\")\nconst hostileNPCs = activeNPCs.filter(n => !n.toLowerCase().includes(\"aliado\") && !n.toLowerCase().includes(\"companheiro\"));\n\nif (detectedMode === \"combat\" || inCombatDB || damageDealt !== null) {\n  detectedMode = \"combat\"; \n\n  // Acha o alvo exato na lista (prioriza o que já estava no banco, senão pega o primeiro da lista)\n  let targetNpcStr = combatTargetDB ? hostileNPCs.find(n => n.includes(combatTargetDB)) : null;\n  if (!targetNpcStr && hostileNPCs.length > 0) targetNpcStr = hostileNPCs[0];\n\n  let mathInstructions = \"\";\n\n  if (targetNpcStr) {\n    const match = targetNpcStr.match(/(.*)\\s+\\[HP:(\\d+)\\/(\\d+)\\]/);\n    if (match) {\n      const targetName = match[1].trim();\n      const currHp = parseInt(match[2]);\n      const maxHp = parseInt(match[3]);\n\n      if (damageDealt !== null) {\n        // MATEMÁTICA AQUI: HP Atual - Dano\n        const newHp = Math.max(0, currHp - damageDealt);\n        const isDead = newHp <= 0;\n        const remainingEnemies = isDead ? hostileNPCs.length - 1 : hostileNPCs.length;\n        const allDead = remainingEnemies <= 0;\n\n        mathInstructions = `\n🚨 CÁLCULO DE COMBATE RESOLVIDO PELO SISTEMA:\n- O Jogador causou exatamente ${damageDealt} de dano em \"${targetName}\".\n- HP de ${targetName} caiu de ${currHp} para ${newHp}. ${isDead ? \"ELE FOI MORTO NESTE TURNO!\" : \"ELE SOBREVIVEU E VAI REVIDAR.\"}\n\n⚠️ OBRIGATÓRIO: COPIE ESTES VALORES EXATOS PARA O JSON \"delta_updates\":\n\"active_npcs_update\": {\n  \"remove\": [\"${targetName}\"],\n  \"add\": [${isDead ? \"\" : `\"${targetName} [HP:${newHp}/${maxHp}]\"`}]\n}\n\"in_combat\": ${!allDead},\n\"combat_target\": ${isDead ? \"null\" : `\"${targetName}\"`},\n`;\n      } else {\n        mathInstructions = `\nO jogador tentou agir contra \"${targetName}\".\nMantenha \"in_combat\": true e \"combat_target\": \"${targetName}\" no JSON.\n`;\n      }\n    }\n  }\n\n  combatDirectorScript = `\n<DIRECAO_DE_COMBATE>\n${mathInstructions}\n-> Se a luta continua, o inimigo DEVE contra-atacar o jogador agora. Coloque o dano que o jogador tomou como negativo no campo \"hp_change\" (ex: -3).\n</DIRECAO_DE_COMBATE>\n`;\n}\n\nif (experience >= nextLevelXp && detectedMode !== \"combat\") detectedMode = \"levelup\";\n\n// =========================================\n// 6. ESTRUTURAÇÃO DO PROMPT DA IA\n// =========================================\n\nconst systemPrompt = `\nVocê é o Mestre/Narrador (Dungeon Master) de um RPG de mesa virtual.\nSeu objetivo é criar uma experiência imersiva, reativa e criativa para o jogador.\n\n<DIRETRIZES_NARRATIVAS>\n- Adapte seu tom ao Gênero: ${genres}.\n- Nunca diga \"Você rolou o dado\". Narre a ação organicamente.\n- O personagem é ${charName} (${className}). \n- BACKGROUND DO PERSONAGEM: \"${background}\". \n- ATRIBUTOS: ${attributesString}. \n</DIRETRIZES_NARRATIVAS>\n\n<ESTADO_ATUAL_DO_MUNDO>\nLocal: ${currentLocation}\nHP: ${hpCurrent}/${hpMax} | Nível: ${level} | Ouro: ${gold}\nInventário: ${inventoryString}\nNPCs na Cena: ${activeNPCs.length > 0 ? activeNPCs.join(\", \") : \"Nenhum\"}\n</ESTADO_ATUAL_DO_MUNDO>\n\n<HISTORICO_RECENTE>\n${conversationHistory}\n</HISTORICO_RECENTE>\n\n<MECANICAS_E_ESCOLHAS>\nGere 4 opções (choices). Regras vitais:\n- O \"skillCheck\" DEVE usar APENAS 3 LETRAS MAIÚSCULAS (ex: FOR, DES, INT, SAB, CAR).\n- Para ataques corpo-a-corpo ou mágicos em inimigos, marque \"is_attack\": true.\n</MECANICAS_E_ESCOLHAS>\n`;\n\nconst userPrompt = `\nAÇÃO DO JOGADOR: \"${lastPlayerMsg}\"\n${playerRollContext}\n${combatDirectorScript}\n\nGere o próximo turno no formato JSON. Respeite os blocos de dados exatamente como solicitado.\n\n<JSON_SCHEMA_OBRIGATORIO>\n{\n  \"narrative\": \"A sua narração descritiva.\",\n  \"choices\": [\n    {\n      \"text\": \"Descrição da ação\",\n      \"type\": \"action|social|investigate|stealth\",\n      \"skillCheck\": \"FOR|DES|INT|SAB|CAR ou null\",\n      \"difficulty\": 10 a 18,\n      \"diceType\": \"d20\",\n      \"is_attack\": true ou false\n    }\n  ],\n  \"delta_updates\": {\n    \"hp_change\": 0,\n    \"xp_awarded\": (Inteiro entre XP Min e Max),\n    \"gold_change\": 0,\n    \"inventory\": {\n      \"add\": [{\"name\": \"Nome\", \"quantity\": 1, \"type\": \"consumable|weapon|armor|misc\", \"value\": 10, \"description\": \"Desc\"}], \n      \"remove\": [], \n      \"decrement\": []\n    },\n    \"active_npcs_update\": {\"add\": [], \"remove\": []},\n    \"location_update\": \"\",\n    \"active_quests_update\": {\"add\": [], \"remove\": []},\n    \"status_effects_update\": {\"add\": [], \"remove\": []},\n    \"world_flags_update\": {\"set\": {}, \"delete\": []},\n    \"in_combat\": true,\n    \"combat_target\": \"Nome ou null\",\n    \"game_over\": false\n  }\n}\n</JSON_SCHEMA_OBRIGATORIO>\n`;\n\n// =========================================\n// 7. ENVIO PARA O NÓ DA LLM\n// =========================================\nreturn {\n  json: {\n    ai_request: {\n      model: \"mistral-large-latest\",\n      messages: [\n        { role: \"system\", content: systemPrompt },\n        { role: \"user\",   content: userPrompt }\n      ],\n      temperature: detectedMode === \"combat\" ? 0.4 : 0.7, \n      max_tokens: 3000,\n      response_format: { type: \"json_object\" }\n    },\n    original_data: storyData,\n    detected_mode: detectedMode\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1424,-656],"id":"1d4e13a7-c86a-4792-bcea-05541bee806b","name":"Code in JavaScript5"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"mistralCloudApi","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.ai_request) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-1264,-656],"id":"d8bc0f7b-2c56-48bd-8992-954295420ae2","name":"HTTP Request10","credentials":{"mistralCloudApi":{"id":"HbOWghtcXEf7jxxj","name":"Mistral Cloud account"},"openRouterApi":{"id":"mCdp8OcIGuBAlyxd","name":"OpenRouter account"}}},{"parameters":{"jsCode":"// =========================================\n// PARSER PÓS-IA — V7.3 (Blindado contra Objetos no Array de NPCs)\n// =========================================\n\n// =========================================\n// 1. FONTES DE DADOS E HELPER DE SEGURANÇA\n// =========================================\nconst aiRaw = $input.first().json;\n\nlet ctx = {};\ntry {\n  ctx = $(\"Code in JavaScript4\").first().json.original_data;\n} catch(e) {\n  ctx = $input.first().json.original_data || {};\n}\n\nconst storyId = ctx.id || ctx.story_id;\nconst mode    = aiRaw.detected_mode || \"narrative\";\n\n// Helper super seguro para garantir que sempre teremos uma string\nfunction getSafeStr(val) {\n  if (!val) return \"\";\n  if (typeof val === \"string\") return val;\n  if (typeof val === \"object\" && val.name) return String(val.name);\n  return String(val);\n}\n\n// =========================================\n// 1b. REGRAS INTERNAS (Fallbacks e Limites)\n// =========================================\nconst FALLBACKS = {\n  narrative: \"A poeira baixa e a cena continua tensa...\",\n  choices: [\n    { text: \"Continuar adiante\", type: \"action\", skillCheck: null, difficulty: null, diceType: \"d20\", is_attack: false },\n    { text: \"Aguardar pacientemente\", type: \"stealth\", skillCheck: null, difficulty: null, diceType: \"d20\", is_attack: false },\n    { text: \"Investigar a área\", type: \"investigate\", skillCheck: null, difficulty: null, diceType: \"d20\", is_attack: false }\n  ]\n};\n\nconst BOUNDS = {\n  hp_change:   { min: -9999, max: 9999 },\n  xp_awarded:  { min: 0,     max: 5000 },\n  gold_change: { min: -9999, max: 9999 },\n};\n\n// =========================================\n// 2. PARSE E SANITIZAÇÃO\n// =========================================\nlet rawText = \"\";\ntry { rawText = aiRaw.ai_request ? aiRaw.ai_request.messages[0].content : (aiRaw.choices ? aiRaw.choices[0].message.content : \"\"); } catch(e) {}\nif (!rawText && aiRaw.message && aiRaw.message.content) { rawText = aiRaw.message.content; }\n\nlet aiResponse = null;\ntry {\n  const cleaned = rawText.replace(/```json/gi,\"\").replace(/```/g,\"\").trim();\n  aiResponse = JSON.parse(cleaned);\n} catch(e) {\n  console.log(\"⚠️ JSON da IA inválido, usando fallback. Erro: \" + e.message);\n  aiResponse = {\n    narrative: FALLBACKS.narrative,\n    choices:   FALLBACKS.choices,\n    delta_updates: {},\n  };\n}\n\nconst du = aiResponse.delta_updates || {};\n\nfunction safeGet(obj, path, expectedType, defaultVal) {\n  const parts = path.split(\".\");\n  let cursor = obj;\n  for (const p of parts) {\n    if (cursor == null || typeof cursor !== \"object\") return defaultVal;\n    cursor = cursor[p];\n  }\n  if (cursor == null) return defaultVal;\n  if (expectedType === \"number\")  { const n = Number(cursor); return isNaN(n) ? defaultVal : n; }\n  if (expectedType === \"string\")  return typeof cursor===\"string\" ? cursor : String(cursor);\n  if (expectedType === \"boolean\") return typeof cursor===\"boolean\" ? cursor : Boolean(cursor);\n  if (expectedType === \"array\")   return Array.isArray(cursor) ? cursor : defaultVal;\n  return cursor;\n}\n\nfunction clip(n, min, max) { return Math.max(min, Math.min(max, n)); }\n\n// =========================================\n// 3. EXTRAIR CAMPOS\n// =========================================\nconst narrative = safeGet(aiResponse, \"narrative\", \"string\", FALLBACKS.narrative);\nconst choices   = safeGet(aiResponse, \"choices\",   \"array\",  FALLBACKS.choices);\n\nconst choicesMapped = choices.map(c => ({\n  story_id:    storyId,\n  text:        c.text,\n  type:        c.type,\n  skill_check: c.skillCheck ?? c.skill_check ?? null,\n  difficulty:  c.difficulty ?? null,\n  dice_type:   c.diceType   ?? c.dice_type   ?? \"d20\",\n  is_attack:   c.is_attack === true,\n}));\n\nlet finalHpChange   = clip(safeGet(du,\"hp_change\",  \"number\",0), BOUNDS.hp_change.min,  BOUNDS.hp_change.max);\nlet xpAwarded       = clip(safeGet(du,\"xp_awarded\", \"number\",0), BOUNDS.xp_awarded.min, BOUNDS.xp_awarded.max);\nlet finalGoldChange = clip(safeGet(du,\"gold_change\",\"number\",0), BOUNDS.gold_change.min, BOUNDS.gold_change.max);\n\nconst invAdd       = safeGet(du,\"inventory.add\",      \"array\",[]);\nconst invRemove    = safeGet(du,\"inventory.remove\",   \"array\",[]);\nconst invDecrement = safeGet(du,\"inventory.decrement\",\"array\",[]);\n\nconst npcsAdd    = safeGet(du,\"active_npcs_update.add\",   \"array\",[]);\nlet finalNpcsRemove = safeGet(du,\"active_npcs_update.remove\",\"array\",[]);\n\nconst locationUpdate = safeGet(du,\"location_update\",\"string\",\"\");\nconst questsAdd      = safeGet(du,\"active_quests_update.add\",   \"array\",[]);\nconst questsRemove   = safeGet(du,\"active_quests_update.remove\",\"array\",[]);\n\nconst worldFlagsSet    = du.world_flags_update?.set    ?? {};\nconst worldFlagsDelete = safeGet(du,\"world_flags_update.delete\",\"array\",[]);\n\nconst statusEffectsAdd    = safeGet(du,\"status_effects_update.add\",   \"array\",[]);\nconst statusEffectsRemove = safeGet(du,\"status_effects_update.remove\",\"array\",[]);\n\nlet finalInCombat     = safeGet(du,\"in_combat\",    \"boolean\",false);\nlet finalCombatTarget = safeGet(du,\"combat_target\",\"string\",\"\");\nlet finalGameOver     = safeGet(du,\"game_over\",    \"boolean\",false);\nlet finalUpdatedNpcs  = null;\nlet finalStatusAfter  = ctx.status_effects || [];\n\n// =========================================\n// 4. APLICAR MOTOR DE COMBATE (Se existir)\n// =========================================\nconst calc = aiRaw.combat_calculated;\nif (calc) {\n  finalHpChange     = calc.total_hp_delta ?? finalHpChange;\n  finalGoldChange   = calc.gold_dropped ?? finalGoldChange;\n  finalInCombat     = calc.new_in_combat ?? finalInCombat;\n  finalCombatTarget = calc.new_combat_target ?? finalCombatTarget;\n  finalGameOver     = calc.is_game_over ?? finalGameOver;\n\n  if (calc.dead_npcs?.length) {\n    const existing = new Set(finalNpcsRemove);\n    calc.dead_npcs.forEach(n => existing.add(n));\n    finalNpcsRemove = Array.from(existing);\n  }\n  finalUpdatedNpcs = calc.updated_npcs;\n}\n\n// =========================================\n// 5. CALCULAR NOVOS VALORES\n// =========================================\nconst origHpMax = ctx.hp_max || 10;\nconst origHp    = (ctx.hp_current && ctx.hp_current > 0) ? ctx.hp_current : origHpMax;\nconst origXp    = ctx.experience || 0;\nconst origGold  = ctx.gold || 0;\nconst origLevel = ctx.level || 1;\nconst xpForNext = origLevel * 1000;\n\nconst newHpCurrent = Math.max(0, Math.min(origHpMax, origHp + finalHpChange));\nconst newXp        = Math.max(origXp, origXp + xpAwarded);\nconst newGold      = Math.max(0, origGold + finalGoldChange);\nconst shouldLevel  = newXp >= xpForNext && mode !== \"levelup\";\n\nconst isGameOver = finalGameOver || (newHpCurrent <= 0 && origHp > 0);\n\n// =========================================\n// 6. HELPER: status_effects\n// =========================================\nfunction buildNewStatusEffects(afterTurn, toAdd, toRemoveIds) {\n  let result = Array.isArray(afterTurn) ? [...afterTurn] : [];\n  if (Array.isArray(toAdd)) {\n    toAdd.forEach(ef => { if (ef.id && !result.find(e=>e.id===ef.id)) result.push(ef); });\n  }\n  if (Array.isArray(toRemoveIds)) {\n    result = result.filter(e => !toRemoveIds.includes(e.id));\n  }\n  return result;\n}\n\n// =========================================\n// 7. MONTAR UPDATES PARA O SUPABASE\n// =========================================\n\n// ── 7a. UPDATE: Tabela 'stories' ────────\nconst storiesUpdate = {\n  hp_current:     newHpCurrent,\n  experience:     newXp,\n  gold:           newGold,\n  in_combat:      isGameOver ? false : finalInCombat,\n  combat_target:  isGameOver ? null  : (finalCombatTarget || null),\n  game_over:      isGameOver,\n  status_effects: buildNewStatusEffects(finalStatusAfter, statusEffectsAdd, statusEffectsRemove),\n};\n\nif (locationUpdate && locationUpdate.trim() !== \"\") {\n  storiesUpdate.current_location = locationUpdate.trim();\n}\n\n// BLINDAGEM APLICADA AQUI ▼\nif (finalUpdatedNpcs) {\n  storiesUpdate.active_npcs = finalUpdatedNpcs.map(getSafeStr).filter(npc =>\n    npc && !finalNpcsRemove.includes(npc.replace(/\\s*\\[HP:\\d+\\/\\d+\\]/,\"\").trim())\n  );\n} else if (npcsAdd.length || finalNpcsRemove.length) {\n  const currentNPCs = Array.isArray(ctx.active_npcs) ? ctx.active_npcs : [];\n  const safeRemoveList = finalNpcsRemove.map(getSafeStr).map(n => n.trim());\n  \n  const afterRemove = currentNPCs.map(getSafeStr).filter(npc => {\n    if (!npc) return false;\n    const cleanName = npc.replace(/\\s*\\[HP:\\d+\\/\\d+\\]/,\"\").trim();\n    return !safeRemoveList.includes(cleanName);\n  });\n\n  const afterAdd = [\n    ...afterRemove,\n    ...npcsAdd.map(getSafeStr).filter(newNpc => {\n        if (!newNpc) return false;\n        const cleanNew = newNpc.replace(/\\s*\\[HP:\\d+\\/\\d+\\]/,\"\").trim();\n        return !afterRemove.some(existing => existing.replace(/\\s*\\[HP:\\d+\\/\\d+\\]/,\"\").trim() === cleanNew);\n      }).map(newNpc => {\n        if (/\\[HP:\\d+\\/\\d+\\]/.test(newNpc)) return newNpc;\n        const baseHp = 8 + origLevel * 4;\n        const roll   = Math.floor(Math.random()*4)+1;\n        const hp     = Math.max(5, baseHp + roll - 2);\n        return `${newNpc} [HP:${hp}/${hp}]`;\n      }),\n  ];\n  storiesUpdate.active_npcs = afterAdd;\n}\n\nif (questsAdd.length || questsRemove.length) {\n  const currentQuests = Array.isArray(ctx.active_quests) ? ctx.active_quests : [];\n  const safeQuestRemove = questsRemove.map(getSafeStr);\n  const afterQuestRemove = currentQuests.map(getSafeStr).filter(q => !safeQuestRemove.includes(q));\n  const afterQuestAdd = [\n    ...afterQuestRemove,\n    ...questsAdd.map(getSafeStr).filter(q => q && !afterQuestRemove.includes(q)),\n  ];\n  storiesUpdate.active_quests = afterQuestAdd;\n}\n\n// ── 7b. INSERT: Tabela 'messages' ───────\nconst messageInsert = {\n  story_id:         storyId,\n  sender:           \"narrator\",\n  content:          narrative,\n};\n\n// ── 7c. INSERT: Tabela 'choices' ────────\nconst choicesInsert = choicesMapped;\n\n// ── 7d. ITEMS: Tabela 'items' ───────────\nconst VALID_INV_TYPES  = [\"consumable\",\"weapon\",\"armor\",\"misc\"];\nconst INV_TYPE_FALLBACK = { equipment:\"weapon\", potion:\"consumable\", food:\"consumable\", quest_item:\"misc\", tool:\"misc\" };\n\nconst itemsToAdd = invAdd.map(rawItem => {\n  let item = rawItem;\n  \n  // BLINDAGEM: Se a IA mandar uma string tipo \"Adaga Cerimonial (1x)\" em vez de objeto\n  if (typeof rawItem === \"string\") {\n    let extractedName = rawItem;\n    let extractedQty = 1;\n    // Tenta extrair a quantidade se vier no formato \"Nome (Xx)\"\n    const match = rawItem.match(/(.*?)\\s*\\((\\d+)x\\)/i);\n    if (match) {\n      extractedName = match[1].trim();\n      extractedQty = parseInt(match[2]);\n    }\n    item = { \n      name: extractedName, \n      quantity: extractedQty, \n      type: \"misc\", \n      description: \"Adicionado aos seus pertences.\", \n      value: 5 \n    };\n  }\n\n  // A partir daqui, temos certeza que \"item\" é um objeto\n  let safeType = (item.type||\"misc\").toLowerCase();\n  if (!VALID_INV_TYPES.includes(safeType)) safeType = INV_TYPE_FALLBACK[safeType]||\"misc\";\n\n  const effectData = item.effect_data || {};\n  if ((safeType===\"weapon\"||safeType===\"armor\") && effectData.is_equippable===undefined) {\n    effectData.is_equippable = true;\n    if (!effectData.equip_slot) effectData.equip_slot = safeType===\"weapon\" ? \"main_hand\" : \"body\";\n    if (!effectData.icon)       effectData.icon       = safeType===\"weapon\" ? \"⚔️\" : \"🛡️\";\n  }\n  if (safeType===\"consumable\"||safeType===\"misc\") effectData.is_equippable = false;\n\n  return {\n    story_id:    storyId,\n    name:        item.name || \"Item desconhecido\",\n    description: item.description || \"\",\n    quantity:    Math.max(1, parseInt(item.quantity)||1),\n    type:        safeType,\n    effect_data: effectData,\n    value:       parseInt(item.value)||0,\n  };\n});\n\nconst itemsToRemove = invRemove.map(getSafeStr).filter(Boolean);\nconst itemsToDecrement = invDecrement.map(getSafeStr).filter(Boolean);\n\n// ── 7e. UPSERT: Tabela 'world_flags' ────\nconst flagsToUpsert = Object.entries(worldFlagsSet)\n  .filter(([,v]) => v!==null && v!==undefined)\n  .map(([key,value]) => ({ story_id:storyId, flag_key:key, flag_value:value??false }));\n\nconst flagsToDelete = worldFlagsDelete.map(getSafeStr).filter(Boolean);\n\n// =========================================\n// 8. RETORNO PARA O N8N / SUPABASE\n// =========================================\nreturn {\n  json: {\n    story_id:      storyId,\n    detected_mode: mode,\n\n    supa_story_update: storiesUpdate,\n    supa_message_insert: messageInsert,\n    supa_choices_insert: choicesInsert,\n\n    supa_items_operations: {\n      insert: itemsToAdd,\n      delete_names: itemsToRemove,\n      decrement_names: itemsToDecrement\n    },\n\n    supa_flags_operations: {\n      upsert: flagsToUpsert,\n      delete_keys: flagsToDelete\n    },\n\n    level_up_pending: shouldLevel ? { story_id:storyId, new_level:origLevel+1, xp_over:newXp-xpForNext } : null,\n\n    summary: {\n      hp:            `${origHp} → ${newHpCurrent}/${origHpMax}`,\n      xp:            `${origXp} → ${newXp}`,\n      gold:          `${origGold} → ${newGold}`,\n      in_combat:      finalInCombat,\n      game_over:      isGameOver,\n      items_added:    itemsToAdd.length,\n      items_removed:  itemsToRemove.length,\n      items_decremented: itemsToDecrement.length,\n    }\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1104,-656],"id":"80506223-3e6d-4b1e-ae13-77b16354a79d","name":"Code in JavaScript6"},{"parameters":{"method":"POST","url":"https://jmjezldxisifcdjacwnb.supabase.co/rest/v1/world_flags","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.choices }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-2080,-400],"id":"ae9d7ca5-4a25-41e8-a007-c1695dda333f","name":"HTTP Request11","credentials":{"supabaseApi":{"id":"3ssV9qtsZUAklVtZ","name":"Supabase account 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"85b1c338-38cc-4c13-a1c8-ea08c32e04d4","leftValue":"={{$json.world_flags.length}}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-2272,-384],"id":"e4a47154-ffde-49f2-a0c9-e422590df5f3","name":"If"},{"parameters":{"method":"PATCH","url":"https://jmjezldxisifcdjacwnb.supabase.co/rest/v1/stories","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendQuery":true,"specifyQuery":"json","jsonQuery":"={\n  \"id\": \"eq.{{ $json.story_id }}\"\n}","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.supa_story_update }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-880,-1040],"id":"b6f4f0b1-5ce9-4a0a-a6ce-636b24e9dfa8","name":"HTTP Request23","credentials":{"supabaseApi":{"id":"3ssV9qtsZUAklVtZ","name":"Supabase account 2"}}},{"parameters":{"method":"POST","url":"https://jmjezldxisifcdjacwnb.supabase.co/rest/v1/messages","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.supa_message_insert }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-880,-768],"id":"e61fba3a-4c6f-4a9e-bee3-68300964c204","name":"HTTP Request12","credentials":{"supabaseApi":{"id":"3ssV9qtsZUAklVtZ","name":"Supabase account 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1c4b3e26-f6ad-472d-9fe3-9630d6cbe489","leftValue":"={{ $json.supa_items_operations.insert.length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-880,-624],"id":"9b8a03e2-dbfe-4128-9a3e-8c56f5c94219","name":"If1"},{"parameters":{"method":"POST","url":"https://jmjezldxisifcdjacwnb.supabase.co/rest/v1/items","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.supa_items_operations.insert }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-720,-624],"id":"a3c92d6a-55b6-4d26-bfd8-6d12aef8ed70","name":"HTTP Request13","credentials":{"supabaseApi":{"id":"3ssV9qtsZUAklVtZ","name":"Supabase account 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1c4b3e26-f6ad-472d-9fe3-9630d6cbe489","leftValue":"={{ $json.supa_items_operations.delete_names.length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-880,-464],"id":"a5d1b78e-c0fb-4485-85e8-b02d7e2ca20f","name":"If2"},{"parameters":{"method":"DELETE","url":"https://jmjezldxisifcdjacwnb.supabase.co/rest/v1/items","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"story_id","value":"=eq.{{ $json.story_id }}"},{"name":"name","value":"=in.({{ $json.supa_items_operations.delete_names }})"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.supa_items_operations.delete_names }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-720,-464],"id":"8b980961-2ca8-464a-81a4-44a934b395c1","name":"HTTP Request14","credentials":{"supabaseApi":{"id":"3ssV9qtsZUAklVtZ","name":"Supabase account 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1c4b3e26-f6ad-472d-9fe3-9630d6cbe489","leftValue":"={{$json.supa_flags_operations.upsert.length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-880,-320],"id":"a70ce6a0-8980-457b-9540-7a42cbac9b21","name":"If3"},{"parameters":{"method":"POST","url":"https://jmjezldxisifcdjacwnb.supabase.co/rest/v1/world_flags","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"on_conflict","value":"=story_id,flag_key"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"resolution=merge-duplicates"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.supa_flags_operations.upsert }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-720,-320],"id":"35dca8a3-ddeb-42b6-b22d-afdca865f6d9","name":"HTTP Request15","credentials":{"supabaseApi":{"id":"3ssV9qtsZUAklVtZ","name":"Supabase account 2"}}},{"parameters":{"method":"DELETE","url":"https://jmjezldxisifcdjacwnb.supabase.co/rest/v1/world_flags","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.supa_flags_operations.delete_keys }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-720,-160],"id":"ade6a97a-9ff9-4a91-a070-165e37222fe4","name":"HTTP Request16","credentials":{"supabaseApi":{"id":"3ssV9qtsZUAklVtZ","name":"Supabase account 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1c4b3e26-f6ad-472d-9fe3-9630d6cbe489","leftValue":"={{ $json.supa_flags_operations.delete_keys.length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-880,-160],"id":"a2d51ee5-d025-42e9-9a0f-6995a27eadc1","name":"If4"},{"parameters":{"method":"POST","url":"https://jmjezldxisifcdjacwnb.supabase.co/rest/v1/choices","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.supa_choices_insert }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-880,-912],"id":"f307ad1a-15bf-4eaa-b9f1-0c8a28bb3612","name":"HTTP Request17","credentials":{"supabaseApi":{"id":"3ssV9qtsZUAklVtZ","name":"Supabase account 2"}}},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"mistralCloudApi","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.ai_request) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-2576,-800],"id":"48ed03b7-2852-456c-97c4-dc38ee4d98fd","name":"HTTP Request18","credentials":{"mistralCloudApi":{"id":"HbOWghtcXEf7jxxj","name":"Mistral Cloud account"},"openRouterApi":{"id":"mCdp8OcIGuBAlyxd","name":"OpenRouter account"}}},{"parameters":{"httpMethod":"POST","path":"attack","authentication":"headerAuth","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-2912,-128],"id":"22e45646-d82d-45b9-ae8f-050a73d3fb25","name":"Webhook3","webhookId":"ba1b6f1b-c24f-4eae-9e70-25e15b4e3d6d","credentials":{"httpHeaderAuth":{"id":"vUs8rqLIlN9NCNTc","name":"Header Auth account"}}},{"parameters":{"url":"https://jmjezldxisifcdjacwnb.supabase.co/rest/v1/stories","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendQuery":true,"specifyQuery":"json","jsonQuery":"={\n  \"select\": \"id, title, character_name, system, class_name, difficulty, background, genres, attributes, is_public, likes, views, created_at, status, current_summary, hp_current, hp_max, gold, level, experience, armor_class, active_npcs, current_location, active_quests, in_combat, combat_target, status_effects, game_over, messages(id, sender, content, roll_result, created_at), items(id, name, description, quantity, type, effect_data, value, created_at), equipment(id, slot, name, stats, icon, created_at), world_flags(id, flag_key, flag_value, created_at), choices(id, text, type, skill_check, difficulty, dice_type, is_chosen, is_attack, created_at), attack_choices(id, choices, target_name, weapon_name, damage_dice, is_used, chosen_id, primary_attr, created_at)\",\n  \"id\": \"eq.{{ $json.body.story_id }}\",\n  \"messages.order\": \"created_at.desc\",\n  \"messages.limit\": \"10\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-2768,-128],"id":"9b5d91fc-35bb-4d05-8a44-64f911822518","name":"HTTP Request19","credentials":{"supabaseApi":{"id":"3ssV9qtsZUAklVtZ","name":"Supabase account 2"}}},{"parameters":{"jsCode":"// =========================================\n// GERADOR DE CHOICES DE ATAQUE — V1.0\n// Chamado pelo frontend após d20 SUCESSO em combate\n// Gera 3 opções de ataque criativas baseadas em:\n//   - Arma equipada + dado de dano\n//   - Classe/arquétipo do personagem\n//   - Contexto da cena (inimigo, ambiente)\n//   - Sistema RPG\n// Retorna choices com damageDice e damageBonus\n// =========================================\n\nconst body = $input.item.json.body || {};\n\nconst charName    = body.character_name || \"Aventureiro\";\nconst className   = body.class_name     || \"Guerreiro\";\nconst systemId    = body.system         || \"dnd\";\nconst weaponName  = body.weapon_name    || \"Arma\";\nconst damageDice  = body.damage_dice    || \"1d6\";   // ex: \"2d8\", \"1d10\"\nconst targetName  = body.target_name    || \"Inimigo\";\nconst lastNarrative = body.last_narrative || \"\";    // trecho da última narração\nconst genres      = body.genres         || \"Aventura\";\n\n// Atributo primário da classe para o bônus de dano\n// Frontend já calcula floor(atributo/4), aqui só precisamos saber qual atributo\nconst primaryAttr = body.primary_attr || \"FOR\";    // sigla do atributo\n\n// ── Tom por sistema ───────────────────────────────────────────────────────\nconst systemTones = {\n  dnd:     { name: \"D&D 5e\",            tone: \"épico e fantástico\",       flavor: \"feitiços, golpes heroicos, manobras marciais\" },\n  cyber:   { name: \"Cyberpunk Red\",      tone: \"violento e cinematográfico\",flavor: \"rajadas de arma, hacks letais, implantes ofensivos\" },\n  vampire: { name: \"Vampire: Masquerade\",tone: \"brutal e elegante\",        flavor: \"garras, dominação mental, poder sobrenatural\" },\n  fallout: { name: \"Fallout RPG\",        tone: \"brutal e desgastado\",      flavor: \"tiros, explosivos improvisados, ataques corpo a corpo\" },\n};\nconst sys = systemTones[systemId] || systemTones.dnd;\n\n// ── Prompt ────────────────────────────────────────────────────────────────\nconst systemPersona = `Você é um gerador de opções de ataque para um RPG de mesa (${sys.name}).\nSua função é criar EXATAMENTE 3 opções de ataque criativas e temáticas.\nRetorne EXCLUSIVAMENTE um JSON válido. Nenhum texto antes ou depois.`;\n\nconst userPrompt = `\nPERSONAGEM: ${charName} — ${className}\nARMA EQUIPADA: ${weaponName} (dado de dano: ${damageDice})\nATRIBUTO PRIMÁRIO: ${primaryAttr}\nALVO: ${targetName}\nSISTEMA: ${sys.name} | Tom: ${sys.tone}\nGÊNEROS: ${genres}\nCONTEXTO DA CENA: \"${lastNarrative.slice(0, 300)}\"\n\nGere EXATAMENTE 3 opções de ataque que:\n  ✦ Sejam ESPECÍFICAS para a classe \"${className}\" e a arma \"${weaponName}\"\n  ✦ Reflitam o tom \"${sys.tone}\" e o gênero \"${genres}\"\n  ✦ Variem em estilo (ex: direto, poderoso, estratégico)\n  ✦ Tenham nomes curtos e criativos (máx 6 palavras)\n  ✦ Usem o dado base da arma: ${damageDice}\n  ✦ O campo \"damage_bonus\" seja: -1, 0, ou +2 (nunca mais que isso)\n  ✦ O campo \"flavor\" descreva em 4-6 palavras o que acontece visualmente\n\nExemplos de flavor temático (NÃO copie — inspire-se):\n  Mago com Fogo Fátuo: \"chamas envolvem o alvo\", \"explosão de plasma arcano\"\n  Netrunner com pistola: \"tiro calculado no sistema\", \"rajada de dados letais\"\n  Guerreiro com espada: \"golpe no ponto fraco\", \"fenda na armadura\"\n  Vampire Brujah com garras: \"dilacera a garganta\", \"impacto de Potência\"\n\nSCHEMA JSON OBRIGATÓRIO:\n{\n  \"attacks\": [\n    {\n      \"id\": \"atk_1\",\n      \"text\": \"Nome curto do ataque (máx 6 palavras)\",\n      \"flavor\": \"Descrição visual curta (4-6 palavras)\",\n      \"damage_dice\": \"${damageDice}\",\n      \"damage_bonus\": 0,\n      \"damage_attr\": \"${primaryAttr}\"\n    },\n    {\n      \"id\": \"atk_2\",\n      \"text\": \"Ataque mais poderoso (custo: -1 próximo turno narrativo)\",\n      \"flavor\": \"Descrição visual\",\n      \"damage_dice\": \"${damageDice}\",\n      \"damage_bonus\": 2,\n      \"damage_attr\": \"${primaryAttr}\"\n    },\n    {\n      \"id\": \"atk_3\",\n      \"text\": \"Ataque tático (menor dano, efeito especial)\",\n      \"flavor\": \"Descrição visual\",\n      \"damage_dice\": \"${damageDice}\",\n      \"damage_bonus\": -1,\n      \"damage_attr\": \"${primaryAttr}\"\n    }\n  ]\n}\n`.trim();\n\nreturn {\n  json: {\n    ai_request: {\n      model: \"mistral-small-latest\",  // modelo pequeno, resposta rápida\n      messages: [\n        { role: \"system\", content: systemPersona },\n        { role: \"user\",   content: userPrompt },\n      ],\n      temperature: 0.85,\n      max_tokens: 600,\n      response_format: { type: \"json_object\" },\n    },\n    context: {\n      damage_dice:  damageDice,\n      primary_attr: primaryAttr,\n      weapon_name:  weaponName,\n      class_name:   className,\n    },\n  },\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2608,-128],"id":"c89724d6-ff7a-4906-b1c0-d85987fad52a","name":"Code in JavaScript7"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"mistralCloudApi","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.ai_request }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-2464,-128],"id":"7550a793-06f4-440f-9e52-cbb1d4327875","name":"HTTP Request20","credentials":{"mistralCloudApi":{"id":"HbOWghtcXEf7jxxj","name":"Mistral Cloud account"},"openRouterApi":{"id":"mCdp8OcIGuBAlyxd","name":"OpenRouter account"}}},{"parameters":{"jsCode":"const aiRaw = $input.first().json;\nconst ctx   = $('Code in JavaScript7').first().json.context\n\nlet rawText = \"\";\ntry { rawText = aiRaw.choices[0].message.content || \"\"; } catch(e) {}\n\nlet parsed = null;\ntry {\n  const cleaned = rawText.replace(/```json/gi,\"\").replace(/```/g,\"\").trim();\n  parsed = JSON.parse(cleaned);\n} catch(e) {\n  console.log(\"Parse error: \" + e.message);\n}\n\nconst attacks = parsed?.attacks;\n\n// Fallback se IA falhar\nconst fallback = [\n  { id:\"atk_1\", text:\"Ataque direto\",  flavor:\"golpe certeiro\",  damage_dice: ctx.damage_dice, damage_bonus:  0, damage_attr: ctx.primary_attr },\n  { id:\"atk_2\", text:\"Golpe poderoso\", flavor:\"força máxima\",    damage_dice: ctx.damage_dice, damage_bonus:  2, damage_attr: ctx.primary_attr },\n  { id:\"atk_3\", text:\"Ataque preciso\", flavor:\"ponto fraco\",     damage_dice: ctx.damage_dice, damage_bonus: -1, damage_attr: ctx.primary_attr },\n];\n\nconst safeAttacks = (Array.isArray(attacks) && attacks.length >= 3)\n  ? attacks.slice(0, 3).map((atk, i) => ({\n      id:           atk.id           || `atk_${i+1}`,\n      text:         String(atk.text  || \"Atacar\").slice(0, 80),\n      flavor:       String(atk.flavor|| \"\").slice(0, 60),\n      damage_dice:  ctx.damage_dice,           // sempre usa o dado real da arma\n      damage_bonus: Math.max(-1, Math.min(2, parseInt(atk.damage_bonus) || 0)),\n      damage_attr:  ctx.primary_attr,          // sempre usa o atributo real\n    }))\n  : fallback;\n\n// Retorno formatado para o nó Supabase INSERT do n8n\nreturn {\n  json: {\n    // Estes campos vão direto para a tabela attack_choices\n    story_id:     ctx.story_id,\n    choices:      safeAttacks,       // jsonb\n    target_name:  ctx.target_name  || null,\n    weapon_name:  ctx.weapon_name  || null,\n    damage_dice:  ctx.damage_dice  || null,\n    primary_attr: ctx.primary_attr || null,\n    is_used:      false,\n    chosen_id:    null,\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2320,-128],"id":"3fe577d0-a95b-493a-a7bf-124b8c87d6c9","name":"Code in JavaScript8"},{"parameters":{"method":"POST","url":"https://jmjezldxisifcdjacwnb.supabase.co/rest/v1/attack_choices","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"story_id\":    \"{{ $('HTTP Request19').item.json.id }}\",\n  \"choices\":     {{ JSON.stringify($json.choices) }},\n  \"target_name\": \"{{ $json.target_name }}\",\n  \"weapon_name\": \"{{ $json.weapon_name }}\",\n  \"damage_dice\": \"{{ $json.damage_dice }}\",\n  \"primary_attr\": \"{{ $json.primary_attr }}\",\n  \"is_used\":     false,\n  \"chosen_id\":   null\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-2160,-128],"id":"82b624ca-09fb-489b-a9c1-3c7d4269c636","name":"HTTP Request21","credentials":{"supabaseApi":{"id":"3ssV9qtsZUAklVtZ","name":"Supabase account 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"2fa9d992-573e-454e-a14d-967f7dd2c62e","leftValue":"={{ $json.supa_items_operations.decrement_names.length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-880,-16],"id":"2c8254c9-3f37-48b1-ae92-d67d327dd026","name":"If5"},{"parameters":{"method":"PATCH","url":"https://jmjezldxisifcdjacwnb.supabase.co/rest/v1/items","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendQuery":true,"specifyQuery":"json","jsonQuery":"={\n  \"id\": \"eq.{{ $json.story_id }}\" && \"name\": \"eq.{{ $json.supa_items_operations.decrement_names }}\n}","sendBody":true,"specifyBody":"={{ $json.supa_items_operations.decrement_names }}","bodyParameters":{"parameters":[{}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-720,-16],"id":"e1e7bc7e-2a61-4da8-90e3-d33086526625","name":"HTTP Request24","credentials":{"supabaseApi":{"id":"3ssV9qtsZUAklVtZ","name":"Supabase account 2"}}}],"connections":{"Webhook":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"HTTP Request18","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"HTTP Request","type":"main","index":0},{"node":"HTTP Request2","type":"main","index":0},{"node":"HTTP Request3","type":"main","index":0},{"node":"HTTP Request4","type":"main","index":0},{"node":"HTTP Request22","type":"main","index":0},{"node":"If","type":"main","index":0}]]},"HTTP Request":{"main":[[]]},"HTTP Request2":{"main":[[]]},"Webhook1":{"main":[[{"node":"HTTP Request5","type":"main","index":0}]]},"HTTP Request5":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"HTTP Request6","type":"main","index":0}]]},"HTTP Request6":{"main":[[{"node":"Code in JavaScript3","type":"main","index":0}]]},"Code in JavaScript3":{"main":[[{"node":"HTTP Request7","type":"main","index":0}]]},"Webhook2":{"main":[[{"node":"HTTP Request8","type":"main","index":0}]]},"HTTP Request8":{"main":[[{"node":"Code in JavaScript4","type":"main","index":0}]]},"Code in JavaScript4":{"main":[[{"node":"HTTP Request9","type":"main","index":0}]]},"HTTP Request9":{"main":[[{"node":"Code in JavaScript5","type":"main","index":0}]]},"Code in JavaScript5":{"main":[[{"node":"HTTP Request10","type":"main","index":0}]]},"HTTP Request10":{"main":[[{"node":"Code in JavaScript6","type":"main","index":0}]]},"HTTP Request11":{"main":[[]]},"If":{"main":[[{"node":"HTTP Request11","type":"main","index":0}]]},"Code in JavaScript6":{"main":[[{"node":"HTTP Request23","type":"main","index":0},{"node":"HTTP Request12","type":"main","index":0},{"node":"If1","type":"main","index":0},{"node":"If2","type":"main","index":0},{"node":"If3","type":"main","index":0},{"node":"If4","type":"main","index":0},{"node":"HTTP Request17","type":"main","index":0},{"node":"If5","type":"main","index":0}]]},"HTTP Request12":{"main":[[]]},"If1":{"main":[[{"node":"HTTP Request13","type":"main","index":0}]]},"If2":{"main":[[{"node":"HTTP Request14","type":"main","index":0}]]},"If3":{"main":[[{"node":"HTTP Request15","type":"main","index":0}]]},"If4":{"main":[[{"node":"HTTP Request16","type":"main","index":0}]]},"HTTP Request18":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Webhook3":{"main":[[{"node":"HTTP Request19","type":"main","index":0}]]},"HTTP Request19":{"main":[[{"node":"Code in JavaScript7","type":"main","index":0}]]},"Code in JavaScript7":{"main":[[{"node":"HTTP Request20","type":"main","index":0}]]},"HTTP Request20":{"main":[[{"node":"Code in JavaScript8","type":"main","index":0}]]},"Code in JavaScript8":{"main":[[{"node":"HTTP Request21","type":"main","index":0}]]},"If5":{"main":[[{"node":"HTTP Request24","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"localhost:5678","connection":"keep-alive","content-type":"application/json","api-rpg":"1a989b28-6d5d-42ac-b66a-c06368651685","accept":"*/*","accept-language":"*","sec-fetch-mode":"cors","user-agent":"node","accept-encoding":"gzip, deflate","content-length":"51"},"params":{},"query":{},"body":{"story_id":"105ff297-2ac3-4f3e-80d1-678b913f0e49"},"webhookUrl":"http://localhost:5678/webhook/start-game","executionMode":"production"},"pairedItem":{"item":0}}],"Webhook3":[{"json":{"headers":{"host":"localhost:5678","connection":"keep-alive","content-type":"application/json","api-rpg":"1a989b28-6d5d-42ac-b66a-c06368651685","accept":"*/*","accept-language":"*","sec-fetch-mode":"cors","user-agent":"node","accept-encoding":"gzip, deflate","content-length":"51"},"params":{},"query":{},"body":{"story_id":"d07eacc4-05df-4533-857c-5a2418dcff37"},"webhookUrl":"http://localhost:5678/webhook/storie","executionMode":"production"}}],"Webhook2":[{"json":{"headers":{"host":"localhost:5678","connection":"keep-alive","content-type":"application/json","api-rpg":"1a989b28-6d5d-42ac-b66a-c06368651685","accept":"*/*","accept-language":"*","sec-fetch-mode":"cors","user-agent":"node","accept-encoding":"gzip, deflate","content-length":"51"},"params":{},"query":{},"body":{"story_id":"689f7882-7044-40de-8f82-6ea135e2352c"},"webhookUrl":"http://localhost:5678/webhook/storie","executionMode":"production"},"pairedItem":{"item":0}}]},"versionId":"06fb884c-ca16-4c83-b82c-a048e5686b04","activeVersionId":"06fb884c-ca16-4c83-b82c-a048e5686b04","versionCounter":1700,"triggerCount":4,"tags":[],"shared":[{"updatedAt":"2026-02-12T23:37:50.693Z","createdAt":"2026-02-12T23:37:50.693Z","role":"workflow:owner","workflowId":"NTeI9lc3Cy5QgHP9","projectId":"xNzfUbK30939khXb","project":{"updatedAt":"2026-02-12T23:20:05.150Z","createdAt":"2026-02-12T23:16:10.000Z","id":"xNzfUbK30939khXb","name":"Gabriel Cocovilo <gabrielcocovilo25@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"28e24eb4-bc65-4b50-951b-e468d81c4a24"}}]}]